# Fundamentals of Panda

In [1]:
import pandas as pd

pd.read_csv('../00_Data/olympics.csv')

,"List of medallists at the Games of the Olympiad per edition, sport, discipline, gender and event",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISCLAIMER: The IOC Research and Reference Ser...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
4,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29216,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29217,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29218,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29219,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

## Get Help

In [2]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [ ]:
# Read large data sets
# Installed wget using chocolatey package manager: choco install wget
!wget https://github.com/jonfernandes/pandas_essential/blob/main/olympics.csv

--2025-11-06 22:33:22--  https://github.com/jonfernandes/pandas_essential/blob/main/olympics.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: 'olympics.csv'

     0K .......... .......... .......... .......... .......... 10.9M
    50K .......... .......... .......... .......... .......... 20.2M
   100K .......... .......... .......... .......... .......... 31.6M
   150K .......... .......... .......... ....                  44.0M=0.009s

2025-11-06 22:33:22 (19.6 MB/s) - 'olympics.csv' saved [189098]

In [5]:
pd.read_csv('../00_Data/olympics_1896_2004.csv')

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [9]:
# The fist five rows of the dataset are not correct. WE need to skoip them.
oo = pd.read_csv('../00_Data/olympics_1896_2004.csv', skiprows=5) # This is good.
oo.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [ ]:
oo.shape   # Will show data has 21174 rows and 11 columns

(27174, 11)

In [ ]:
# Get random sample of 5 rows
oo.sample(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
12463,1968,Mexico,Fencing,Fencing,"PEZSA, Tibor",HUN,Men,sabre individual,M,Bronze,3
22792,1996,Atlanta,Athletics,Athletics,"SUI, Xinmei",CHN,Women,shot put,W,Silver,2
15110,1976,Montreal,Volleyball,Volleyball,"ERMILOV, Aleksandr",URS,Men,volleyball,M,Silver,2
18245,1988,Seoul,Sailing,Sailing,"SHADDEN, John Thomas",USA,Men,470 - Two Person Dinghy,M,Bronze,3
15344,1980,Moscow,Aquatics,Diving,"GUTHKE, Karin",GDR,Women,3m springboard,W,Bronze,3

In [12]:
oo.sample?

Signature:
oo.sample(
    n: 'int | None' = None,
    frac: 'float | None' = None,
    replace: 'bool_t' = False,
    weights=None,
    random_state: 'RandomState | None' = None,
    axis: 'Axis | None' = None,
    ignore_index: 'bool_t' = False,
) -> 'Self'
Docstring:
Return a random sample of items from an axis of object.

You can use `random_state` for reproducibility.

Parameters
----------
n : int, optional
    Number of items from axis to return. Cannot be used with `frac`.
    Default = 1 if `frac` = None.
frac : float, optional
    Fraction of axis items to return. Cannot be used with `n`.
replace : bool, default False
    Allow or disallow sampling of the same row more than once.
weights : str or ndarray-like, optional
    Default 'None' results in equal probability weighting.
    If passed a Series, will align with target object on index. Index
    values in weights not found in sampled object will be ignored and
    index values in sampled object not in weights will be assigned
    weights of zero.
    If called on a DataFrame, will accept the name of a column
    when axis = 0.
    Unless weights are a Series, weights must be same length as axis
    being sampled.
    If weights do not sum to 1, they will be normalized to sum to 1.
    Missing values in the weights column will be treated as zero.
    Infinite values not allowed.
random_state : int, array-like, BitGenerator, np.random.RandomState, np.random.Generator, optional
    If int, array-like, or BitGenerator, seed for random number generator.
    If np.random.RandomState or np.random.Generator, use as given.

    .. versionchanged:: 1.4.0

        np.random.Generator objects now accepted

axis : {0 or 'index', 1 or 'columns', None}, default None
    Axis to sample. Accepts axis number or name. Default is stat axis
    for given data type. For `Series` this parameter is unused and defaults to `None`.
ignore_index : bool, default False
    If True, the resulting index will be labeled 0, 1, …, n - 1.

    .. versionadded:: 1.3.0

Returns
-------
Series or DataFrame
    A new object of same type as caller containing `n` items randomly
    sampled from the caller object.

See Also
--------
DataFrameGroupBy.sample: Generates random samples from each group of a
    DataFrame object.
SeriesGroupBy.sample: Generates random samples from each group of a
    Series object.
numpy.random.choice: Generates a random sample from a given 1-D numpy
    array.

Notes
-----
If `frac` > 1, `replacement` should be set to `True`.

Examples
--------
>>> df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
...                    'num_wings': [2, 0, 0, 0],
...                    'num_specimen_seen': [10, 2, 1, 8]},
...                   index=['falcon', 'dog', 'spider', 'fish'])
>>> df
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

Extract 3 random elements from the ``Series`` ``df['num_legs']``:
Note that we use `random_state` to ensure the reproducibility of
the examples.

>>> df['num_legs'].sample(n=3, random_state=1)
fish      0
spider    8
falcon    2
Name: num_legs, dtype: int64

A random 50% sample of the ``DataFrame`` with replacement:

>>> df.sample(frac=0.5, replace=True, random_state=1)
      num_legs  num_wings  num_specimen_seen
dog          4          0                  2
fish         0          0                  8

An upsample sample of the ``DataFrame`` with replacement:
Note that `replace` parameter has to be `True` for `frac` parameter > 1.

>>> df.sample(frac=2, replace=True, random_state=1)
        num_legs  num_wings  num_specimen_seen
dog            4          0                  2
fish           0          0                  8
falcon         2          2                 10
falcon         2          2                 10
fish           0          0                  8
dog            4          0                  2
fish           0          0                  8
dog            4          0                  2

Using a DataFrame column as weights. Rows with larger value in the
`num_specimen_seen` column are more likely to be sampled.

>>> df.sample(n=2, weights='num_specimen_seen', random_state=1)
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
fish           0          0                  8
File:      c:\projects\pandasexercises\.venv\lib\site-packages\pandas\core\generic.py
Type:      method

In [ ]:
oo.info() # Information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [ ]:
oo.describe() # Data about tehe numerical columns

               Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000

In [ ]:
pd.set_option('display.max_rows', 20) # This will only work in Jupyter or Google Colab n
oo

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [23]:
pd.get_option('display.max_rows')

1000

## Series

In [ ]:
oo["Discipline"] # Get only one column as a Series

0        Cycling Track
1        Cycling Track
2            Athletics
3            Athletics
4            Athletics
             ...
27169          Fencing
27170          Fencing
27171          Fencing
27172          Fencing
27173          Fencing
Name: Discipline, Length: 27174, dtype: object

In [ ]:
oo.Discipline # Same as above

0        Cycling Track
1        Cycling Track
2            Athletics
3            Athletics
4            Athletics
             ...
27169          Fencing
27170          Fencing
27171          Fencing
27172          Fencing
27173          Fencing
Name: Discipline, Length: 27174, dtype: object

In [ ]:
type(oo.Discipline) # This is Pandas series

pandas.core.series.Series

In [ ]:
oo.columns # List of columns in the dataset

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal', 'Position'],
      dtype='object')

In [31]:
oo["Athlete Name"]

0             FLAMENG, Léon
1        KOLETTIS, Georgios
2             LANE, Francis
3          SZOKOLYI, Alajos
4             BURKE, Thomas
                ...
27169    LOGOUNOVA, Tatiana
27170         SIVKOVA, Anna
27171        BOKEL, Claudia
27172       DUPLITZER, Imke
27173     HEIDEMANN, Britta
Name: Athlete Name, Length: 27174, dtype: object

In [32]:
oo.sample(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
9694,1956,Melbourne / Stockholm,Cycling,Cycling Road,"BRITTAIN, Arthur Stanley",GBR,Men,team time trial,M,Silver,2
14848,1976,Montreal,Equestrian,Eventing,"COFFIN, Edmund Sloane",USA,Men,individual,X,Gold,1
15634,1980,Moscow,Canoe / Kayak,Canoe / Kayak F,"VASKUTI, Istvan",HUN,Men,C-2 500m (canoe double),M,Gold,1
16159,1980,Moscow,Hockey,Hockey,"AKHMEROVA, Liailia",URS,Women,hockey,W,Bronze,3
21895,1996,Atlanta,Modern Pentathlon,Modern Pentath.,"ZENOVKA, Edouard",RUS,Men,Individual competition,M,Silver,2

In [ ]:
oo.Year.unique() # All unique years in the dataset

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004])

In [34]:
oo.Sport.nunique() # Number of unique sports in the dataset

42

In [37]:
oo.Sport.value_counts() # Count of unique sports in the dataset

Sport
Aquatics             3481
Athletics            3271
Rowing               2379
Gymnastics           2115
Fencing              1485
                     ...
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Roque                   3
Jeu de paume            3
Name: count, Length: 42, dtype: int64

In [38]:
# What is the time range covered in this dataset?
oo.Year.min(), oo.Year.max()

(np.int64(1896), np.int64(2004))

In [39]:
oo.Year.unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004])

In [ ]:
# What are the different types of medals in the dataset
oo.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [ ]:
# How many of each medal type is present in the dataset?
oo["Medal"].value_counts()

Medal
Gold      9181
Silver    9014
Bronze    8979
Name: count, dtype: int64

In [45]:
# List of all unique NOC codes in the dataset
oo.NOC.unique()

array(['FRA', 'GRE', 'USA', 'HUN', 'GER', 'AUT', 'GBR', 'AUS', 'DEN',
       'ZZX', 'SUI', 'IND', 'NED', 'CAN', 'NOR', 'BEL', 'ESP', 'BOH',
       'ITA', 'SWE', 'CUB', 'RU1', 'FIN', 'RSA', 'ANZ', 'LUX', 'EST',
       'BRA', 'JPN', 'TCH', 'NZL', 'ARG', 'HAI', 'POL', 'URU', 'YUG',
       'ROU', 'POR', 'EGY', 'PHI', 'IRL', 'CHI', 'MEX', 'LAT', 'TUR',
       'KOR', 'PAN', 'JAM', 'SRI', 'PER', 'PUR', 'IRI', 'TRI', 'URS',
       'LIB', 'BUL', 'VEN', 'EUA', 'PAK', 'ISL', 'BAH', 'BWI', 'GHA',
       'IRQ', 'SIN', 'TPE', 'ETH', 'MAR', 'TUN', 'NGR', 'KEN', 'FRG',
       'MGL', 'GDR', 'UGA', 'CMR', 'PRK', 'COL', 'NIG', 'BER', 'THA',
       'TAN', 'GUY', 'ZIM', 'ZAM', 'CHN', 'CIV', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'SEN', 'AHO', 'DJI', 'ISV', 'INA', 'EUN', 'NAM',
       'IOP', 'QAT', 'ISR', 'LTU', 'CRO', 'SLO', 'MAS', 'RUS', 'UKR',
       'TGA', 'ARM', 'BLR', 'MDA', 'ECU', 'KAZ', 'AZE', 'BDI', 'SVK',
       'CZE', 'UZB', 'GEO', 'MOZ', 'HKG', 'KGZ', 'BAR', 'KSA', 'VIE',
       'MKD', 'KUW', 'ERI', 'SCG', 'UAE', 'PAR'], dtype=object)

## Python Lists and Dictionaries

In [ ]:
medals = ["Gold", "Silver", "Bronze"]

dict = {
    "Country": ["USA", "Canada", "Germany"]}

## Rename a Series or Column

In [46]:
column_mapper = {
    "Athlete Name": "Athlete_Name", 
    "Event Gender": "Event_Gender"
}

oo.rename(columns=column_mapper, inplace=True)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [47]:
filename = '../00_Data/olympics_1896_2004.csv'
oo = pd.read_csv(filename, skiprows=5).rename(columns=column_mapper)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

## Specify column names while loading a CSV file. This lets you control column names.

In [49]:
column_names = oo.columns.tolist() # List of columns as a list
column_names

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal',
 'Position']

In [59]:
oo  = pd.read_csv('../00_Data/olympics_1896_2004.csv', skiprows=5, names=column_names, header=0)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

## Remove a Series (Column) or Row

In [61]:
oo.drop?

Signature:
oo.drop(
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by directly specifying index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the :ref:`user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    in place and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    Returns DataFrame or None DataFrame with the specified
    index or column labels removed or None if inplace=True.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
llama   speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      c:\projects\pandasexercises\.venv\lib\site-packages\pandas\core\frame.py
Type:      method

In [ ]:
# axis = 0 -> drop rows
# axis = 1 -> drop columns
oo.drop('Position', axis=1, inplace=True)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [ ]:
# Chaining methods
# When chaining methods, avoid using inplace=True
# The reason is that inplace=True returns None, and thus breaks the chain.
oo = (pd.read_csv(filename, skiprows=5)
      .rename(columns=column_mapper) # Rename columns
      .drop('Position', axis=1)) # Drop Position column
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [67]:
# Drop rows
oo = (pd.read_csv(filename, skiprows=5)
      .rename(columns=column_mapper) # Rename columns
      .drop([1,2,3], axis=0)) # Drop rows 1, 2 ,3
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
5,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,2
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,1
7,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,2

In [ ]:
# Drop rows and columns combined
oo = (pd.read_csv(filename, skiprows=5)
      .rename(columns=column_mapper) # Rename columns
      .drop(labels=[1,2,3], axis=0)
      .drop(columns=['City', 'Position'], axis =1)
      ) # Drop rows 1, 2 ,3
    
oo.head()

,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
4,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
5,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
6,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
7,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver

Using **<span style="color:red;">inline=True</span>** is discouraged. This may get depricated in future. Also chaining is not possible with it.

## Filtering Data

In [70]:
first_olympics = (oo.Year == 1896)
first_olympics.head()

0    True
4    True
5    True
6    True
7    True
Name: Year, dtype: bool

In [71]:
oo[first_olympics]

,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
4,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
5,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
6,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
7,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
...,...,...,...,...,...,...,...,...,...
146,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
147,1896,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,triple jump,M,Silver
148,1896,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,vault,M,Bronze
149,1896,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,vault,M,Gold
150,1896,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,vault,M,Silver

In [ ]:
oo[(oo.Year > 2000)] # Good Practive to include parentheses ()

,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
25176,2004,Judo,Judo,"PERTELSON, Indrek",EST,Men,+ 100kg (heavyweight),M,Bronze
25177,2004,Judo,Judo,"VAN DER GEEST, Dennis",NED,Men,+ 100kg (heavyweight),M,Bronze
25178,2004,Judo,Judo,"SUZUKI, Keiji",JPN,Men,+ 100kg (heavyweight),M,Gold
25179,2004,Judo,Judo,"TMENOV, Tamerlan",RUS,Men,+ 100kg (heavyweight),M,Silver
25180,2004,Weightlifting,Weightlifting,"CHOLAKOV, Velichko",BUL,Men,+ 105kg,M,Bronze
...,...,...,...,...,...,...,...,...,...
27169,2004,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
27170,2004,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold
27171,2004,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver
27172,2004,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver
27173,2004,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver

In [75]:
football_mens_gold_team = oo[(oo.Year == 2004) & (oo.Medal == 'Gold') & (oo.Sport == 'Football') & (oo.Gender == 'Men')]
football_mens_gold_team

,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
26277,2004,Football,Football,"AYALA, Roberto",ARG,Men,football,M,Gold
26278,2004,Football,Football,"BURDISSO, Nicolas",ARG,Men,football,M,Gold
26279,2004,Football,Football,"COLOCCINI, Fabricio",ARG,Men,football,M,Gold
26280,2004,Football,Football,"D ALESSANDRO, Andres",ARG,Men,football,M,Gold
26281,2004,Football,Football,"DELGADO, Cesar",ARG,Men,football,M,Gold
26282,2004,Football,Football,"GONZALEZ, Cristian",ARG,Men,football,M,Gold
26283,2004,Football,Football,"GONZALEZ, Luis",ARG,Men,football,M,Gold
26284,2004,Football,Football,"HEINZE, Gabriel",ARG,Men,football,M,Gold
26285,2004,Football,Football,"LUX, German",ARG,Men,football,M,Gold
26286,2004,Football,Football,"MASCHERANO, Javier",ARG,Men,football,M,Gold
26287,2004,Football,Football,"MEDINA, Nicolas",ARG,Men,football,M,Gold
26288,2004,Football,Football,"RODRIGUEZ, Clemente Juan",ARG,Men,football,M,Gold
26289,2004,Football,Football,"SAVIOLA, Javier",ARG,Men,football,M,Gold
26290,2004,Football,Football,"TEVEZ, Carlos",ARG,Men,football,M,Gold

In [80]:
football_mens_gold_team[["Athlete_Name", "NOC", "Medal"]]

                   Athlete_Name  NOC Medal
26277            AYALA, Roberto  ARG  Gold
26278         BURDISSO, Nicolas  ARG  Gold
26279       COLOCCINI, Fabricio  ARG  Gold
26280      D ALESSANDRO, Andres  ARG  Gold
26281            DELGADO, Cesar  ARG  Gold
26282        GONZALEZ, Cristian  ARG  Gold
26283            GONZALEZ, Luis  ARG  Gold
26284           HEINZE, Gabriel  ARG  Gold
26285               LUX, German  ARG  Gold
26286        MASCHERANO, Javier  ARG  Gold
26287           MEDINA, Nicolas  ARG  Gold
26288  RODRIGUEZ, Clemente Juan  ARG  Gold
26289           SAVIOLA, Javier  ARG  Gold
26290             TEVEZ, Carlos  ARG  Gold

## String Methods

In [81]:
# Chaging case and capitalization of string columns
oo.Event.unique()

array(['100km', '100m', '100m freestyle', '100m freestyle for sailors',
       '10km', '110m hurdles', '12-hour race', '1200m freestyle', '1500m',
       '1km time trial', '25m army pistol',
       '25m rapid fire pistol (60 shots)', '400m', '400m freestyle',
       '50m pistol (60 shots)', '800m', 'Sprint indivual',
       'army rifle, 200m', 'army rifle, 300m', 'discus throw', 'doubles',
       'foil individual', 'foil, masters', 'heavyweight - one hand lift',
       'heavyweight - two hand lift', 'high jump', 'horizontal bar',
       'individual road race', 'long jump', 'marathon', 'open event',
       'parallel bars', 'pole vault', 'pommel horse', 'rings',
       'rope climbing', 'sabre individual', 'shot put', 'singles',
       'team, horizontal bar', 'team, parallel bars', 'triple jump',
       'vault', '0.5-1t', '10-20t', '1500m freestyle', '200m',
       '200m backstroke', '200m freestyle', '200m hurdles',
       '200m obstacle event', '200m team swimming', '25 kilometres',
       '3-10t', '3000m steeplechase', '4000m freestyle',
       '4000m steeplechase', '400m hurdles', '5000m team',
       '50m army pistol, team', '60m', 'army rifle, 300m, 3 positions',
       'army rifle, 300m, kneeling', 'army rifle, 300m, prone',
       'army rifle, 300m, standing', 'au chapelet, 33m',
       'au chapelet, 50m', 'au cordon doré, 33m', 'au cordon doré, 50m',
       'cesta punta', 'cricket', 'double', 'eight with coxswain (8+)',
       'football', 'four-oared shell with coxswain (4-)',
       'free rifle, team', 'hammer throw', 'high jump, standing',
       'individual', 'individual 1 ball', 'individual 2 balls',
       'individual all-round', 'long jump individual',
       'long jump, standing', 'mixed doubles', 'open class',
       'pair-oared shell with coxswain (2+)', 'polo', 'rugby',
       'sabre, masters', 'single sculls (1x)', 'sur la perche à la herse',
       'sur la perche à la pyramide', 'trap (125 targets)',
       'triple jump, standing', 'tug of war', 'underwater swimming',
       'water polo', 'épée individual', 'épée, amateurs and masters',
       'épée, masters', '+ 71.67kg (heavyweight)',
       '- 47.63kg (flyweight)', '- 47.6kg (light-flyweight)',
       '1 mile (1609.3m)', '1/2 mile (804.7m)', '1/3 mile (536.5m)',
       '1/4 mile (402.3m)', '100m backstroke', '10m platform',
       '2 miles (3.218km)', '25 miles (40.232km)', '400m breaststroke',
       '47.6 - 52.16kg (flyweight)', '47.63 - 52.16kg (bantamweight)',
       '4miles team', '4x50y freestyle relay', '5 miles (8.046km)',
       '50y freestyle (45.72m)', '52.16 - 56.7kg (bantamweight)',
       '52.16 - 56.7kg (featherweight)', '56.7 - 61.23kg (featherweight)',
       '56.7 - 61.24kg (lightweight)', '56lb weight throw (25.4kg)',
       '61.23 - 65.77kg (lightweight)', '61.24 - 65.77kg (welterweight)',
       '65.77 - 71.67kg (middleweight)', '65.77 - 71.67kg (welterweight)',
       '880y freestyle (804.66m)', 'all-around Dumbbell contest',
       'club swinging', 'combined 3 events', 'combined 4 events',
       'coxless pair (2-)', 'decathlon',
       'double american round (60y - 50y - 40y)',
       'double columbia round (50y - 40y - 30y)',
       'double national round (60y - 50y)', 'double sculls (2x)',
       'double york round (100y - 80y - 60y)', 'foil team',
       'four without coxswain (4-)', 'lacrosse', 'plunge for distance',
       'stick, single', 'team', 'team competition', 'team round 60y',
       'teams FITA round', 'triathlon (long jump / shot put / 100 yards)',
       '+ 73kg (heavyweight)', '+ 93kg (super heavyweight)',
       '- 52.62kg (bantamweight)', '- 54kg (bantamweight)',
       '- 66.6kg (lightweight)', '1000y free rifle, prone',
       '100m running deer, double shots',
       '100m running deer, single shots',
       '100m running deer, single shots, team', '10miles walk (16093m)',
       '12m', '1980 yards Pursuit, Team', '2000m tandem',
       '200m breaststroke', '20km',
       '25y small bore rifle, disappearing target',
       '25y small bore rifle, moving target',
       '300m free rifle 3 positions (3x40 shots)', '3200m steeplechase',
       '3500m walk', '3m springboard', '3miles team (4828m)',
       '4x200m freestyle relay', '4x400m relay', '5 miles (8047m)',
       '50+100y small bore rifle, team', '5000m',
       '50m rifle prone (60 shots)', '50y army pistol, team',
       '52.62 - 57.15kg (featherweight)', '54 - 60.3kg (featherweight)',
       '57.15 - 63.5kg (lightweight)', '60.3 - 66.6kg (lightweight)',
       '63.5 - 71.67kg (middleweight)', '66.6 - 73kg (middleweight)',
       '6m', '73 - 93kg (light-heavyweight)', '7m', '8m', '8m class C',
       'One lap (660y) sprint', 'class B up to 60 feet',
       'clay pigeons, team', 'continental style 50m',
       'discus throw ancient style', 'doubles indoor', 'hockey',
       'javelin throw', 'javelin throw freestyle',
       'national round (60y - 50y)', 'open class A', 'pairs',
       'rifle, team', 'sabre team', 'singles indoor', 'special figures',
       'york round (100y - 80y - 60y)', 'épée team',
       '+ 82.5kg (super heavyweight)', '- 60kg (featherweight)', '10000m',
       '10000m walk', '10m', '25m small bore rifle, team',
       '25m small rifle', '3000m team', '30m army pistol, team',
       '4x100m freestyle relay', '4x100m relay',
       '50m small bore rifle, team', '60 - 67.5kg (lightweight)',
       '600m free rifle', '67.5 - 75kg (middleweight)',
       '75 - 82.5kg (light-heavyweight)', 'Individual competition',
       'coxed fours Jugriggers', 'cross country individual',
       'cross country team', 'discus throw, both hands',
       'individual time trial', 'javelin throw, both hands',
       'mixed doubles indoor', 'pentathlon', 'plain high diving',
       'shot put, both hands', 'team time trial', 'team, Swedish system',
       'team, free system', '+ 79.38kg (heavyweight)',
       '+ 80kg (heavyweight)',
       '+ 82.5kg, one-two hand 3 events (heavyweight)',
       '+ 82kg (super heavyweight)', '- 50.8kg (flyweight)',
       '- 60kg, one-two hand 3 events (featherweight)',
       '100m running deer, double shots, team', '10m (rating 1907)',
       '10m (rating 1919)', '12 foot dinghy', '12m (rating 1907)',
       '12m (rating 1919)', '18 foot dinghy',
       '300+600m free rifle, team, prone', '3000m walk',
       '300m free rifle, prone, team', '300m free rifle, standing, team',
       '30m sq', '40m sq', '50.8 - 53.52kg (bantamweight)', '50km',
       '50m small bore rifle, standing, individual',
       '53.52 - 57.15kg (featherweight)', '57.15 - 61.24kg (lightweight)',
       '6.5m (rating 1919)',
       '60 - 67.5kg, one-two hand 3 events (lightweight)',
       '600m free rifle, prone', '600m free rifle, team',
       '61.24 - 66.68kg (welterweight)', '66.68 - 72.57kg (middleweight)',
       '67.5 - 75kg, one-two hand 3 events (middleweight)',
       '6m (rating 1907)', '6m (rating 1919)',
       '72.57 - 79.38kg (light-heavyweight)',
       '75 - 80kg (light-heavyweight)',
       '75 - 82.5kg, one-two hand 3 e. (light-heavyweight)',
       '75 - 82kg (light-heavyweight)', '8m (rating 1907)',
       '8m (rating 1919)', 'Team Pursuit (4000m)',
       'figure riding individual', 'figure riding team',
       'fixed bird target large birds',
       'fixed bird target large birds teams',
       'fixed bird target small bird, teams',
       'fixed bird target small birds', 'ice hockey',
       'moving bird target 28m teams', 'moving bird target 33m teams',
       'moving bird target 50m teams', 'moving bird target, 28m',
       'moving bird target, 33m', 'moving bird target, 50m',
       '+ 82.5kg, one-two hand 5 events (heavyweight)',
       '+ 87kg (heavyweight)', '- 56kg (bantamweight)',
       '- 58kg (bantamweight)',
       '- 60kg, one-two hand 5 events (featherweight)',
       '400, 600, 800m free rifle, team', '56 - 61kg (featherweight)',
       '58 - 62kg (featherweight)',
       '60 - 67.5kg, one-two hand 5 events (lightweight)',
       '600m free rifle, individual', '61 - 66kg (lightweight)',
       '62 - 67.5kg (lightweight)', '66 - 72kg (welterweight)',
       '67.5 - 75kg, one-two hand 5 events (middleweight)',
       '72 - 79kg (middleweight)',
       '75 - 82.5kg, one-two hand 5 e. (light-heavyweight)',
       '79 - 87kg (light-heavyweight)', 'Sidehorse vault',
       'olympic class monotype', '+ 82.5kg, total (heavyweight)',
       '- 60kg, total (featherweight)', '12 foot dinghy individual',
       '1km Pursuit', '58 - 60kg (featherweight)',
       '60 - 67.5kg, total (lightweight)',
       '67.5 - 75kg, total (middleweight)',
       '75 - 82.5kg, total (light-heavyweight)',
       '+ 87kg (super heavyweight)', '50.8 - 54kg (bantamweight)',
       '50km walk', '54 - 57.15kg (featherweight)', '80m hurdles',
       'floor exercises', 'indian clubs', 'tumbling',
       'two-person keelboat open (Star)', 'C-1 1000m (canoe single)',
       'C-2 10000m', 'C-2 1000m (canoe double)', 'K-1 10000m',
       'K-1 1000m (kayak single)', 'K-2 10000m',
       'K-2 1000m (kayak double)', 'basketball', 'folding K-1 10000m',
       'folding K-2 10000m', 'handball', '- 51kg (flyweight)',
       '- 52kg (flyweight)', '- 56kg, total (bantamweight)',
       '51 - 54kg (bantamweight)', '52 - 57kg (bantamweight)',
       '54 - 58kg (featherweight)', '56 - 60kg, total (featherweight)',
       '57 - 61kg (featherweight)', '57 - 63kg (featherweight)',
       '58 - 62kg (lightweight)', '61 - 67kg (lightweight)',
       '62 - 67kg (welterweight)', '63 - 67kg (lightweight)',
       '67 - 73kg (middleweight)', '67 - 73kg (welterweight)',
       '73 - 79kg (middleweight)', '73 - 80kg (light-heavyweight)',
       'C-1 10000m', 'K-1 500m (kayak single)', 'dragon', 'firefly class',
       'swallow (golondrina)', '+ 81kg (heavyweight)',
       '+ 90kg, total (heavyweight)',
       '100m running deer, single/double shots', '5.5m',
       '50m rifle 3 positions (3x40 shots)', '54 - 57kg (featherweight)',
       '57 - 60kg (lightweight)', '60 - 63.5kg (light-welterweight)',
       '63.5 - 67kg (welterweight)', '67 - 71kg (light-middleweight)',
       '71-75kg', '75 - 81kg (light-heavyweight)',
       '82.5 - 90kg, total (middle-heavyweight)', 'Team competition',
       'balance beam', 'single-handed dinghy (Finn)',
       'team, portable apparatus', 'uneven bars', '100m butterfly',
       '200m butterfly', '20km walk', 'sharpie 12m2',
       '4x100m medley relay', 'K-1 4x500m', 'K-2 500m (kayak double)',
       'flying dutchman', '+ 97kg (heavyweight)',
       '+ 97kg (super heavyweight)', '- 68kg (lightweight)',
       '400m individual medley', '63 - 70kg (lightweight)',
       '68 - 80kg (middleweight)', '70 - 78kg (welterweight)',
       '78 - 87kg (middleweight)', '87 - 97kg (light-heavyweight)',
       'Individual Pursuit', 'K-4 1000m (kayak four)', 'open category',
       'volleyball', '- 48kg (light-flyweight)', '100m breaststroke',
       '200m individual medley', '48 - 51kg (flyweight)',
       '800m freestyle', 'skeet (125 targets)',
       '+ 100kg (super heavyweight)',
       '+ 110kg, total (super heavyweight)', '+ 93kg (heavyweight)',
       '- 52kg, total (flyweight)', '- 63kg (lightweight)',
       '100m hurdles', '48 - 52kg (flyweight)',
       '50m running target (30+30 shots)',
       '52 - 56kg, total (bantamweight)', '57 - 62kg (featherweight)',
       '62 - 68kg (lightweight)', '63 - 70kg (half-middleweight)',
       '68 - 74kg (welterweight)', '70 - 80kg (middleweight)',
       '74 - 82kg (middleweight)', '80 - 93kg (half-heavyweight)',
       '82 - 90kg (light-heavyweight)', '90 - 100kg (heavyweight)',
       '91 - 110kg, total (heavyweight)', 'C-1 (canoe single)',
       'C-2 (canoe double)', 'K-1 (kayak single)',
       'fleet/match race keelboat open (Soling)', 'individual FITA round',
       'tempest', '470 - Two Person Dinghy', 'C-1 500m (canoe single)',
       'C-2 500m (canoe double)', 'Tornado - Multihull',
       'pair without coxswain (2-)',
       'quadruple sculls with coxswain (4x)',
       'quadruple sculls without coxswain (4x)', '+ 95kg (heavyweight)',
       '- 60 kg', '100 - 110kg, total (heavyweight)',
       '60 - 65kg (half-lightweight)', '65 - 71kg (lightweight)',
       '71 - 78kg (half-middleweight)', '78 - 86kg (middleweight)',
       '86 - 95kg (half-heavyweight)',
       '90 - 100kg, total (first-heavyweight)',
       '+ 91kg (super heavyweight)', '10m air rifle (40 shots)',
       '10m air rifle (60 shots)', '25m pistol (30+30 shots)', '3000m',
       '50m rifle 3 positions (3x20 shots)', '81 - 91kg (heavyweight)',
       'K-4 500m (kayak four)', 'Points Race', 'board (windglider)',
       'duet', 'heptathlon', 'solo', '100 - 130kg (super heavyweight)',
       '10m air pistol (40 shots)', '10m air pistol (60 shots)',
       '50m freestyle', 'board (division II)', 'sprint',
       '+ 72kg (heavyweight)', '- 48kg (extra-lightweight)',
       '48 - 52kg (half-lightweight)', '52 - 56kg (lightweight)',
       '56 - 61kg (half-middleweight)', '61 - 66kg (middleweight)',
       '66 - 72kg (half-heavyweight)', 'baseball', 'board (lechner)',
       'coxless four (4-)', 'individual (FITA Olympic round - 70m)',
       'individual pursuit', 'single-handed dinghy (Europe)',
       'team (FITA Olympic round - 70m)', '+ 100kg (heavyweight)',
       '+ 108kg, total (super heavyweight)', '- 54kg, total (flyweight)',
       '54 - 59kg, total (bantamweight)',
       '59 - 64kg, total (featherweight)', '60 - 66kg (half-lightweight)',
       '64 - 70kg, total (lightweight)', '66 - 73kg (lightweight)',
       '70 - 76kg, total (middleweight)', '73 - 81kg (half-middleweight)',
       '76 - 83kg, total (light-heavyweight)', '81 - 90kg (middleweight)',
       '83 - 91kg, total (middle-heavyweight)',
       '90 - 100kg (half-heavyweight)',
       '91 - 99kg, total (first-heavyweight)',
       '99 - 108kg, total (heavyweight)', 'beach volleyball',
       'board (Mistral)', 'cross-country', 'double trap (120 targets)',
       'double trap (150 targets)', 'group competition',
       'lightweight coxless four (4-)', 'lightweight double sculls (2x)',
       'points race', 'single-handed dinghy open (Laser)', 'softball',
       '+ 105kg', '+ 67 kg', '+ 75kg', '+ 78kg (heavyweight)', '+ 80 kg',
       '- 49 kg', '- 58 kg', '105kg', '10m running target (30+30 shots)',
       '20km race walk', '48 - 54kg', '48kg', '49 - 57 kg',
       '49er - Skiff', '500m time trial', '52 - 57kg (lightweight)',
       '53kg', '54 - 58kg', '56kg', '57 - 63kg (half-middleweight)',
       '57 - 67 kg', '58 - 63kg', '58 - 68 kg', '58kg', '62kg',
       '63 - 69kg', '63 - 70kg (middleweight)', '63kg', '68 - 80 kg',
       '69 - 76kg', '69kg', '70 - 78kg (half-heavyweight)', '75kg',
       '76 - 85kg', '77kg', '85 - 97kg', '85kg', '94kg', '97 - 130kg',
       'Individual', 'Keirin', 'Madison', 'Olympic Sprint',
       'skeet (75 targets)', 'synchronized diving 10m platform',
       'synchronized diving 3m springboard', 'trap (75 targets)',
       '- 48 kg', '- 48kg', '- 55kg', '48 - 55kg',
       '48kg (light flywieght)', '55 - 60kg', '55 - 63kg', '60 - 64 kg',
       '60 - 66kg', '63 - 72kg', '64 - 69 kg', '66 - 74kg', '69 - 75 kg',
       '74 - 84kg', '84 - 96kg', '96 - 120kg', 'Star - Keelboat',
       'Team Sprint', 'Yngling - Keelboat'], dtype=object)

In [83]:
# After changing case:
oo.Event.str.capitalize().unique()

array(['100km', '100m', '100m freestyle', '100m freestyle for sailors',
       '10km', '110m hurdles', '12-hour race', '1200m freestyle', '1500m',
       '1km time trial', '25m army pistol',
       '25m rapid fire pistol (60 shots)', '400m', '400m freestyle',
       '50m pistol (60 shots)', '800m', 'Sprint indivual',
       'Army rifle, 200m', 'Army rifle, 300m', 'Discus throw', 'Doubles',
       'Foil individual', 'Foil, masters', 'Heavyweight - one hand lift',
       'Heavyweight - two hand lift', 'High jump', 'Horizontal bar',
       'Individual road race', 'Long jump', 'Marathon', 'Open event',
       'Parallel bars', 'Pole vault', 'Pommel horse', 'Rings',
       'Rope climbing', 'Sabre individual', 'Shot put', 'Singles',
       'Team, horizontal bar', 'Team, parallel bars', 'Triple jump',
       'Vault', '0.5-1t', '10-20t', '1500m freestyle', '200m',
       '200m backstroke', '200m freestyle', '200m hurdles',
       '200m obstacle event', '200m team swimming', '25 kilometres',
       '3-10t', '3000m steeplechase', '4000m freestyle',
       '4000m steeplechase', '400m hurdles', '5000m team',
       '50m army pistol, team', '60m', 'Army rifle, 300m, 3 positions',
       'Army rifle, 300m, kneeling', 'Army rifle, 300m, prone',
       'Army rifle, 300m, standing', 'Au chapelet, 33m',
       'Au chapelet, 50m', 'Au cordon doré, 33m', 'Au cordon doré, 50m',
       'Cesta punta', 'Cricket', 'Double', 'Eight with coxswain (8+)',
       'Football', 'Four-oared shell with coxswain (4-)',
       'Free rifle, team', 'Hammer throw', 'High jump, standing',
       'Individual', 'Individual 1 ball', 'Individual 2 balls',
       'Individual all-round', 'Long jump individual',
       'Long jump, standing', 'Mixed doubles', 'Open class',
       'Pair-oared shell with coxswain (2+)', 'Polo', 'Rugby',
       'Sabre, masters', 'Single sculls (1x)', 'Sur la perche à la herse',
       'Sur la perche à la pyramide', 'Trap (125 targets)',
       'Triple jump, standing', 'Tug of war', 'Underwater swimming',
       'Water polo', 'Épée individual', 'Épée, amateurs and masters',
       'Épée, masters', '+ 71.67kg (heavyweight)',
       '- 47.63kg (flyweight)', '- 47.6kg (light-flyweight)',
       '1 mile (1609.3m)', '1/2 mile (804.7m)', '1/3 mile (536.5m)',
       '1/4 mile (402.3m)', '100m backstroke', '10m platform',
       '2 miles (3.218km)', '25 miles (40.232km)', '400m breaststroke',
       '47.6 - 52.16kg (flyweight)', '47.63 - 52.16kg (bantamweight)',
       '4miles team', '4x50y freestyle relay', '5 miles (8.046km)',
       '50y freestyle (45.72m)', '52.16 - 56.7kg (bantamweight)',
       '52.16 - 56.7kg (featherweight)', '56.7 - 61.23kg (featherweight)',
       '56.7 - 61.24kg (lightweight)', '56lb weight throw (25.4kg)',
       '61.23 - 65.77kg (lightweight)', '61.24 - 65.77kg (welterweight)',
       '65.77 - 71.67kg (middleweight)', '65.77 - 71.67kg (welterweight)',
       '880y freestyle (804.66m)', 'All-around dumbbell contest',
       'Club swinging', 'Combined 3 events', 'Combined 4 events',
       'Coxless pair (2-)', 'Decathlon',
       'Double american round (60y - 50y - 40y)',
       'Double columbia round (50y - 40y - 30y)',
       'Double national round (60y - 50y)', 'Double sculls (2x)',
       'Double york round (100y - 80y - 60y)', 'Foil team',
       'Four without coxswain (4-)', 'Lacrosse', 'Plunge for distance',
       'Stick, single', 'Team', 'Team competition', 'Team round 60y',
       'Teams fita round', 'Triathlon (long jump / shot put / 100 yards)',
       '+ 73kg (heavyweight)', '+ 93kg (super heavyweight)',
       '- 52.62kg (bantamweight)', '- 54kg (bantamweight)',
       '- 66.6kg (lightweight)', '1000y free rifle, prone',
       '100m running deer, double shots',
       '100m running deer, single shots',
       '100m running deer, single shots, team', '10miles walk (16093m)',
       '12m', '1980 yards pursuit, team', '2000m tandem',
       '200m breaststroke', '20km',
       '25y small bore rifle, disappearing target',
       '25y small bore rifle, moving target',
       '300m free rifle 3 positions (3x40 shots)', '3200m steeplechase',
       '3500m walk', '3m springboard', '3miles team (4828m)',
       '4x200m freestyle relay', '4x400m relay', '5 miles (8047m)',
       '50+100y small bore rifle, team', '5000m',
       '50m rifle prone (60 shots)', '50y army pistol, team',
       '52.62 - 57.15kg (featherweight)', '54 - 60.3kg (featherweight)',
       '57.15 - 63.5kg (lightweight)', '60.3 - 66.6kg (lightweight)',
       '63.5 - 71.67kg (middleweight)', '66.6 - 73kg (middleweight)',
       '6m', '73 - 93kg (light-heavyweight)', '7m', '8m', '8m class c',
       'One lap (660y) sprint', 'Class b up to 60 feet',
       'Clay pigeons, team', 'Continental style 50m',
       'Discus throw ancient style', 'Doubles indoor', 'Hockey',
       'Javelin throw', 'Javelin throw freestyle',
       'National round (60y - 50y)', 'Open class a', 'Pairs',
       'Rifle, team', 'Sabre team', 'Singles indoor', 'Special figures',
       'York round (100y - 80y - 60y)', 'Épée team',
       '+ 82.5kg (super heavyweight)', '- 60kg (featherweight)', '10000m',
       '10000m walk', '10m', '25m small bore rifle, team',
       '25m small rifle', '3000m team', '30m army pistol, team',
       '4x100m freestyle relay', '4x100m relay',
       '50m small bore rifle, team', '60 - 67.5kg (lightweight)',
       '600m free rifle', '67.5 - 75kg (middleweight)',
       '75 - 82.5kg (light-heavyweight)', 'Individual competition',
       'Coxed fours jugriggers', 'Cross country individual',
       'Cross country team', 'Discus throw, both hands',
       'Individual time trial', 'Javelin throw, both hands',
       'Mixed doubles indoor', 'Pentathlon', 'Plain high diving',
       'Shot put, both hands', 'Team time trial', 'Team, swedish system',
       'Team, free system', '+ 79.38kg (heavyweight)',
       '+ 80kg (heavyweight)',
       '+ 82.5kg, one-two hand 3 events (heavyweight)',
       '+ 82kg (super heavyweight)', '- 50.8kg (flyweight)',
       '- 60kg, one-two hand 3 events (featherweight)',
       '100m running deer, double shots, team', '10m (rating 1907)',
       '10m (rating 1919)', '12 foot dinghy', '12m (rating 1907)',
       '12m (rating 1919)', '18 foot dinghy',
       '300+600m free rifle, team, prone', '3000m walk',
       '300m free rifle, prone, team', '300m free rifle, standing, team',
       '30m sq', '40m sq', '50.8 - 53.52kg (bantamweight)', '50km',
       '50m small bore rifle, standing, individual',
       '53.52 - 57.15kg (featherweight)', '57.15 - 61.24kg (lightweight)',
       '6.5m (rating 1919)',
       '60 - 67.5kg, one-two hand 3 events (lightweight)',
       '600m free rifle, prone', '600m free rifle, team',
       '61.24 - 66.68kg (welterweight)', '66.68 - 72.57kg (middleweight)',
       '67.5 - 75kg, one-two hand 3 events (middleweight)',
       '6m (rating 1907)', '6m (rating 1919)',
       '72.57 - 79.38kg (light-heavyweight)',
       '75 - 80kg (light-heavyweight)',
       '75 - 82.5kg, one-two hand 3 e. (light-heavyweight)',
       '75 - 82kg (light-heavyweight)', '8m (rating 1907)',
       '8m (rating 1919)', 'Team pursuit (4000m)',
       'Figure riding individual', 'Figure riding team',
       'Fixed bird target large birds',
       'Fixed bird target large birds teams',
       'Fixed bird target small bird, teams',
       'Fixed bird target small birds', 'Ice hockey',
       'Moving bird target 28m teams', 'Moving bird target 33m teams',
       'Moving bird target 50m teams', 'Moving bird target, 28m',
       'Moving bird target, 33m', 'Moving bird target, 50m',
       '+ 82.5kg, one-two hand 5 events (heavyweight)',
       '+ 87kg (heavyweight)', '- 56kg (bantamweight)',
       '- 58kg (bantamweight)',
       '- 60kg, one-two hand 5 events (featherweight)',
       '400, 600, 800m free rifle, team', '56 - 61kg (featherweight)',
       '58 - 62kg (featherweight)',
       '60 - 67.5kg, one-two hand 5 events (lightweight)',
       '600m free rifle, individual', '61 - 66kg (lightweight)',
       '62 - 67.5kg (lightweight)', '66 - 72kg (welterweight)',
       '67.5 - 75kg, one-two hand 5 events (middleweight)',
       '72 - 79kg (middleweight)',
       '75 - 82.5kg, one-two hand 5 e. (light-heavyweight)',
       '79 - 87kg (light-heavyweight)', 'Sidehorse vault',
       'Olympic class monotype', '+ 82.5kg, total (heavyweight)',
       '- 60kg, total (featherweight)', '12 foot dinghy individual',
       '1km pursuit', '58 - 60kg (featherweight)',
       '60 - 67.5kg, total (lightweight)',
       '67.5 - 75kg, total (middleweight)',
       '75 - 82.5kg, total (light-heavyweight)',
       '+ 87kg (super heavyweight)', '50.8 - 54kg (bantamweight)',
       '50km walk', '54 - 57.15kg (featherweight)', '80m hurdles',
       'Floor exercises', 'Indian clubs', 'Tumbling',
       'Two-person keelboat open (star)', 'C-1 1000m (canoe single)',
       'C-2 10000m', 'C-2 1000m (canoe double)', 'K-1 10000m',
       'K-1 1000m (kayak single)', 'K-2 10000m',
       'K-2 1000m (kayak double)', 'Basketball', 'Folding k-1 10000m',
       'Folding k-2 10000m', 'Handball', '- 51kg (flyweight)',
       '- 52kg (flyweight)', '- 56kg, total (bantamweight)',
       '51 - 54kg (bantamweight)', '52 - 57kg (bantamweight)',
       '54 - 58kg (featherweight)', '56 - 60kg, total (featherweight)',
       '57 - 61kg (featherweight)', '57 - 63kg (featherweight)',
       '58 - 62kg (lightweight)', '61 - 67kg (lightweight)',
       '62 - 67kg (welterweight)', '63 - 67kg (lightweight)',
       '67 - 73kg (middleweight)', '67 - 73kg (welterweight)',
       '73 - 79kg (middleweight)', '73 - 80kg (light-heavyweight)',
       'C-1 10000m', 'K-1 500m (kayak single)', 'Dragon', 'Firefly class',
       'Swallow (golondrina)', '+ 81kg (heavyweight)',
       '+ 90kg, total (heavyweight)',
       '100m running deer, single/double shots', '5.5m',
       '50m rifle 3 positions (3x40 shots)', '54 - 57kg (featherweight)',
       '57 - 60kg (lightweight)', '60 - 63.5kg (light-welterweight)',
       '63.5 - 67kg (welterweight)', '67 - 71kg (light-middleweight)',
       '71-75kg', '75 - 81kg (light-heavyweight)',
       '82.5 - 90kg, total (middle-heavyweight)', 'Balance beam',
       'Single-handed dinghy (finn)', 'Team, portable apparatus',
       'Uneven bars', '100m butterfly', '200m butterfly', '20km walk',
       'Sharpie 12m2', '4x100m medley relay', 'K-1 4x500m',
       'K-2 500m (kayak double)', 'Flying dutchman',
       '+ 97kg (heavyweight)', '+ 97kg (super heavyweight)',
       '- 68kg (lightweight)', '400m individual medley',
       '63 - 70kg (lightweight)', '68 - 80kg (middleweight)',
       '70 - 78kg (welterweight)', '78 - 87kg (middleweight)',
       '87 - 97kg (light-heavyweight)', 'Individual pursuit',
       'K-4 1000m (kayak four)', 'Open category', 'Volleyball',
       '- 48kg (light-flyweight)', '100m breaststroke',
       '200m individual medley', '48 - 51kg (flyweight)',
       '800m freestyle', 'Skeet (125 targets)',
       '+ 100kg (super heavyweight)',
       '+ 110kg, total (super heavyweight)', '+ 93kg (heavyweight)',
       '- 52kg, total (flyweight)', '- 63kg (lightweight)',
       '100m hurdles', '48 - 52kg (flyweight)',
       '50m running target (30+30 shots)',
       '52 - 56kg, total (bantamweight)', '57 - 62kg (featherweight)',
       '62 - 68kg (lightweight)', '63 - 70kg (half-middleweight)',
       '68 - 74kg (welterweight)', '70 - 80kg (middleweight)',
       '74 - 82kg (middleweight)', '80 - 93kg (half-heavyweight)',
       '82 - 90kg (light-heavyweight)', '90 - 100kg (heavyweight)',
       '91 - 110kg, total (heavyweight)', 'C-1 (canoe single)',
       'C-2 (canoe double)', 'K-1 (kayak single)',
       'Fleet/match race keelboat open (soling)', 'Individual fita round',
       'Tempest', '470 - two person dinghy', 'C-1 500m (canoe single)',
       'C-2 500m (canoe double)', 'Tornado - multihull',
       'Pair without coxswain (2-)',
       'Quadruple sculls with coxswain (4x)',
       'Quadruple sculls without coxswain (4x)', '+ 95kg (heavyweight)',
       '- 60 kg', '100 - 110kg, total (heavyweight)',
       '60 - 65kg (half-lightweight)', '65 - 71kg (lightweight)',
       '71 - 78kg (half-middleweight)', '78 - 86kg (middleweight)',
       '86 - 95kg (half-heavyweight)',
       '90 - 100kg, total (first-heavyweight)',
       '+ 91kg (super heavyweight)', '10m air rifle (40 shots)',
       '10m air rifle (60 shots)', '25m pistol (30+30 shots)', '3000m',
       '50m rifle 3 positions (3x20 shots)', '81 - 91kg (heavyweight)',
       'K-4 500m (kayak four)', 'Points race', 'Board (windglider)',
       'Duet', 'Heptathlon', 'Solo', '100 - 130kg (super heavyweight)',
       '10m air pistol (40 shots)', '10m air pistol (60 shots)',
       '50m freestyle', 'Board (division ii)', 'Sprint',
       '+ 72kg (heavyweight)', '- 48kg (extra-lightweight)',
       '48 - 52kg (half-lightweight)', '52 - 56kg (lightweight)',
       '56 - 61kg (half-middleweight)', '61 - 66kg (middleweight)',
       '66 - 72kg (half-heavyweight)', 'Baseball', 'Board (lechner)',
       'Coxless four (4-)', 'Individual (fita olympic round - 70m)',
       'Single-handed dinghy (europe)', 'Team (fita olympic round - 70m)',
       '+ 100kg (heavyweight)', '+ 108kg, total (super heavyweight)',
       '- 54kg, total (flyweight)', '54 - 59kg, total (bantamweight)',
       '59 - 64kg, total (featherweight)', '60 - 66kg (half-lightweight)',
       '64 - 70kg, total (lightweight)', '66 - 73kg (lightweight)',
       '70 - 76kg, total (middleweight)', '73 - 81kg (half-middleweight)',
       '76 - 83kg, total (light-heavyweight)', '81 - 90kg (middleweight)',
       '83 - 91kg, total (middle-heavyweight)',
       '90 - 100kg (half-heavyweight)',
       '91 - 99kg, total (first-heavyweight)',
       '99 - 108kg, total (heavyweight)', 'Beach volleyball',
       'Board (mistral)', 'Cross-country', 'Double trap (120 targets)',
       'Double trap (150 targets)', 'Group competition',
       'Lightweight coxless four (4-)', 'Lightweight double sculls (2x)',
       'Single-handed dinghy open (laser)', 'Softball', '+ 105kg',
       '+ 67 kg', '+ 75kg', '+ 78kg (heavyweight)', '+ 80 kg', '- 49 kg',
       '- 58 kg', '105kg', '10m running target (30+30 shots)',
       '20km race walk', '48 - 54kg', '48kg', '49 - 57 kg',
       '49er - skiff', '500m time trial', '52 - 57kg (lightweight)',
       '53kg', '54 - 58kg', '56kg', '57 - 63kg (half-middleweight)',
       '57 - 67 kg', '58 - 63kg', '58 - 68 kg', '58kg', '62kg',
       '63 - 69kg', '63 - 70kg (middleweight)', '63kg', '68 - 80 kg',
       '69 - 76kg', '69kg', '70 - 78kg (half-heavyweight)', '75kg',
       '76 - 85kg', '77kg', '85 - 97kg', '85kg', '94kg', '97 - 130kg',
       'Keirin', 'Madison', 'Olympic sprint', 'Skeet (75 targets)',
       'Synchronized diving 10m platform',
       'Synchronized diving 3m springboard', 'Trap (75 targets)',
       '- 48 kg', '- 48kg', '- 55kg', '48 - 55kg',
       '48kg (light flywieght)', '55 - 60kg', '55 - 63kg', '60 - 64 kg',
       '60 - 66kg', '63 - 72kg', '64 - 69 kg', '66 - 74kg', '69 - 75 kg',
       '74 - 84kg', '84 - 96kg', '96 - 120kg', 'Star - keelboat',
       'Team sprint', 'Yngling - keelboat'], dtype=object)

In [84]:
oo.Event = oo.Event.str.capitalize()

In [ ]:
dir(oo.Event.str) # Works best in Jupyter Notebooks and Google Colab

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [ ]:
# Filter all Michaels
oo[oo.Athlete_Name.str.contains('Michael')]

,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
863,1904,Rowing,Rowing,"GLEASON, Michael D.",USA,Men,Eight with coxswain (8+),M,Gold
950,1904,Rowing,Rowing,"BEGLEY, Michael",USA,Men,Four without coxswain (4-),M,Silver
1247,1908,Shooting,Shooting,"MATTHEWS, Michael K.",GBR,Men,"25y small bore rifle, moving target",M,Silver
1310,1908,Shooting,Shooting,"MATTHEWS, Michael K.",GBR,Men,"50+100y small bore rifle, team",M,Gold
1896,1908,Tug of War,Tug of War,"CLARKE, James Michael",GBR,Men,Tug of war,M,Silver
...,...,...,...,...,...,...,...,...,...
25763,2004,Judo,Judo,"JURACK, Michael",GER,Men,90 - 100kg (half-heavyweight),M,Bronze
26155,2004,Table Tennis,Table Tennis,"MAZE, Michael John",DEN,Men,Doubles,M,Bronze
26190,2004,Rowing,Rowing,"TOON, Michael",AUS,Men,Eight with coxswain (8+),M,Bronze
26507,2004,Hockey,Hockey,"BRENNAN, Michael",AUS,Men,Hockey,M,Gold
26519,2004,Hockey,Hockey,"MCCANN, Michael",AUS,Men,Hockey,M,Gold

## Sorting a Data Frame of Series

In [88]:
oo.Athlete_Name.sort_values()

611                 AABYE, Edgar
3060       AALTONEN, Arvo Ossian
2963       AALTONEN, Arvo Ossian
7967    AALTONEN, Paavo Johannes
7829    AALTONEN, Paavo Johannes
                  ...
268                   ÖSTMO, Ole
280                   ÖSTMO, Ole
443                   ÖSTMO, Ole
275                   ÖSTMO, Ole
8125           ÖSTRAND, Per-Olof
Name: Athlete_Name, Length: 27171, dtype: object

In [89]:
oo.sort_values(by=['Athlete_Name', 'Year'], ascending=[True, False])

,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
611,1900,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,Tug of war,M,Gold
2963,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,M,Bronze
3060,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,M,Bronze
8750,1952,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,Team competition,M,Bronze
7792,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,Individual all-round,M,Bronze
...,...,...,...,...,...,...,...,...,...
268,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"Army rifle, 300m, 3 positions",M,Bronze
275,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"Army rifle, 300m, prone",M,Bronze
280,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"Army rifle, 300m, standing",M,Silver
443,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"Free rifle, team",M,Silver
8125,1952,Aquatics,Swimming,"ÖSTRAND, Per-Olof",SWE,Men,400m freestyle,M,Bronze