# Intermediate Pandas
- Category
-

In [3]:
import pandas as pd

filename = '../00_Data/olympics_1896_2004.csv'

column_mapper = {
    "Athlete Name": "Athlete_Name", 
    "Event Gender": "Event_Gender"
}

oo = (pd.read_csv(filename, skiprows=5)
      .rename(columns=column_mapper) # Rename columns
      )
    
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [4]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete_Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event_Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 15.5 MB

In [5]:
oo.Medal = oo.Medal.astype('category')
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender            object
Event             object
Event_Gender      object
Medal           category
Position           int64
dtype: object

In [6]:
oo.Gender = oo.Gender.astype('category')
oo.Event_Gender = oo.Event_Gender.astype('category')
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender          category
Event             object
Event_Gender    category
Medal           category
Position           int64
dtype: object

## Reorder data based on ordered categories
**_pd.categorical_** function can be used for ordering categories.

In [7]:
medal_order = ['Gold', 'Silver', 'Bronze']
pd.Categorical(oo.Medal, categories=medal_order, ordered=True)
## Reorder data based on ordered categories

['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold', ..., 'Gold', 'Gold', 'Silver', 'Silver', 'Silver']
Length: 27174
Categories (3, object): ['Gold' < 'Silver' < 'Bronze']

In [8]:
oo.Medal = pd.Categorical(oo.Medal, categories=medal_order, ordered=True)   
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

Alternatively, you can use **_cat.reorder_categories_**

In [9]:
# Reorder data based on ordered categories
oo.Medal = oo.Medal.cat.reorder_categories(medal_order, ordered=True)   
oo.Medal.cat.categories
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [10]:
oo.sort_values(by=['Year', 'Event', 'Medal'], ascending=[True, True, True]).head(20)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
5,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,1
7,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,2
9,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,1
10,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,2
8,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,3
12,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,M,Gold,1
13,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,10km,M,Silver,2
11,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,10km,M,Bronze,3
14,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold,1
15,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver,2
16,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,12-hour race,M,Gold,1
17,1896,Athens,Cycling,Cycling Track,"KEEPING, Frank",GBR,Men,12-hour race,M,Silver,2
19,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold,1
20,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver,2

# Memory usage by dtypes
Memory usage reduces when using categories. Check the memory usage from the beginning and now, after changing to Categories.

In [11]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete_Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  category
 7   Event         27174 non-null  object
 8   Event_Gender  27174 non-null  category
 9   Medal         27174 non-null  category
 10  Position      27174 non-null  int64
dtypes: category(3), int64(2), object(6)
memory usage: 10.9 MB

In [12]:
oo.City = oo.City.astype('category')
oo.Sport = oo.Sport.astype('string')
oo.Event = oo.Event.astype('string')
oo.Discipline = oo.Discipline.astype('string')
oo.Athlete_Name = oo.Athlete_Name.astype('string')
oo.NOC = oo.NOC.astype('category')  
oo.dtypes

Year                     int64
City                  category
Sport           string[python]
Discipline      string[python]
Athlete_Name    string[python]
NOC                   category
Gender                category
Event           string[python]
Event_Gender          category
Medal                 category
Position                 int64
dtype: object

In [13]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  category
 2   Sport         27174 non-null  string
 3   Discipline    27174 non-null  string
 4   Athlete_Name  27174 non-null  string
 5   NOC           27174 non-null  category
 6   Gender        27174 non-null  category
 7   Event         27174 non-null  string
 8   Event_Gender  27174 non-null  category
 9   Medal         27174 non-null  category
 10  Position      27174 non-null  int64
dtypes: category(5), int64(2), string(4)
memory usage: 7.8 MB

## Defining dtypes for efficiency

In [14]:
# Define categorical type
medal_order = ['Gold', 'Silver', 'Bronze']
medal_type = pd.CategoricalDtype(categories=medal_order, ordered=True)
# You can also use this way: 
# medal_type = pd.api.types.CategoricalDtype(categories=medal_order, ordered=True)
print(pd.api.types.is_categorical_dtype(medal_type))
column_names = ['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal',
 'Position']
medal_type

True

C:\Users\MMATHUR\AppData\Local\Temp\ipykernel_7312\641682833.py:6: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  print(pd.api.types.is_categorical_dtype(medal_type))

CategoricalDtype(categories=['Gold', 'Silver', 'Bronze'], ordered=True, categories_dtype=object)

In [15]:
dtype_mapper = {  
    'Year': 'int16',
    'City': 'category',
    'Sport': 'string',
    'Discipline': 'string',
    'Athlete Name': 'string',
    'NOC': 'category',
    'Gender': 'category',
    'Event': 'string',
    'Event Gender': 'category',
    'Medal': medal_type,
    'Position': 'uint8'  # Nullable integer type
}

# This works: here CSV Is loaded and then header is renamed
# oo = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, header=0)
#         .rename(columns=column_mapper) # Rename columns
#     )

# Here both dtype and names parameters are used together
# In this case, you need to use index_col=False to avoid first column being used as index
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, names=column_names, header=0, index_col=False)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [16]:
oo.Year.unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004], dtype=int16)

In [17]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int16
 1   City          27174 non-null  category
 2   Sport         27174 non-null  string
 3   Discipline    27174 non-null  string
 4   Athlete_Name  27174 non-null  object
 5   NOC           27174 non-null  category
 6   Gender        27174 non-null  category
 7   Event         27174 non-null  string
 8   Event_Gender  27174 non-null  object
 9   Medal         27174 non-null  category
 10  Position      27174 non-null  uint8
dtypes: category(4), int16(1), object(2), string(3), uint8(1)
memory usage: 8.9 MB

In [18]:
oo.Event_Gender.unique()

array(['M', 'X', 'W'], dtype=object)

## Python functions

In [19]:
def preprocess():
    # Define categorical type
    medal_order = ['Gold', 'Silver', 'Bronze']
    medal_type = pd.CategoricalDtype(categories=medal_order, ordered=True)
    # You can also use this way: 
    # medal_type = pd.api.types.CategoricalDtype(categories=medal_order, ordered=True)
    print(pd.api.types.is_categorical_dtype(medal_type))
    column_names = ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 'Event', 'Event_Gender', 'Medal', 'Position']
    dtype_mapper = {  
        'Year': 'int16',
        'City': 'category',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event Gender': 'category',
        'Medal': medal_type,
        'Position': 'uint8'  # Nullable integer type
    }
    oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, names=column_names, header=0, index_col=False)

    return oo


oo = preprocess()
oo.head()

True

C:\Users\MMATHUR\AppData\Local\Temp\ipykernel_7312\862788873.py:7: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  print(pd.api.types.is_categorical_dtype(medal_type))

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

## Working with indexes

In [20]:
# Change index to name
oo = oo.set_index('Athlete_Name')
oo.head()

,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
Athlete_Name,,,,,,,,,,
"FLAMENG, Léon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold,1
"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver,2
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze,3
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze,3
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold,1

In [21]:
oo.sample(5)
oo = oo.reset_index()
oo[oo["Athlete_Name"].str.contains('Nadia') ]

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
14394,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,balance beam,W,Gold,1
14561,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,floor exercises,W,Bronze,3
14863,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,individual all-round,W,Gold,1
15044,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,team competition,W,Silver,2
15075,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,uneven bars,W,Gold,1
15713,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,balance beam,W,Gold,1
15882,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,floor exercises,W,Gold,1
16233,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,individual all-round,W,Silver,2
16429,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,team competition,W,Silver,2
25572,"DAVY, Nadia",2004,Athens,Athletics,Athletics,JAM,Women,4x400m relay,W,Bronze,3

In [22]:
oo = oo.set_index('Athlete_Name')
oo.head(10)

,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
Athlete_Name,,,,,,,,,,
"FLAMENG, Léon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold,1
"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver,2
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze,3
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze,3
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold,1
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100m,M,Silver,2
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold,1
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver,2
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze,3
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold,1

In [23]:
oo.loc['COMANECI, Nadia'].head(5)

,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
Athlete_Name,,,,,,,,,,
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,balance beam,W,Gold,1
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,floor exercises,W,Bronze,3
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,individual all-round,W,Gold,1
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,team competition,W,Silver,2
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,uneven bars,W,Gold,1

In [24]:
oo = oo.reset_index()

## Best  practices

In [25]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [26]:
import re
import pandas as pd

search_string = "excel"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

['ExcelFile', 'ExcelWriter', 'read_excel']

### Using Python assert

In [27]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape

(0, 11)

In [28]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)

In [29]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)
print ("All tests passed !")

All tests passed !

### isin()

In [30]:
years_of_interest = [1976, 1984, 2000]
oo[oo.Year.isin(years_of_interest)].head(10)

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
13900,"SIMON, Ladislau",1976,Montreal,Wrestling,Wrestling Free.,ROU,Men,+ 100kg (super heavyweight),M,Bronze,3
13901,"ANDIEV, Soslan",1976,Montreal,Wrestling,Wrestling Free.,URS,Men,+ 100kg (super heavyweight),M,Gold,1
13902,"BALLA, Jozsef",1976,Montreal,Wrestling,Wrestling Free.,HUN,Men,+ 100kg (super heavyweight),M,Silver,2
13903,"CODREANU, Roman",1976,Montreal,Wrestling,Wrestling Gre-R,ROU,Men,+ 100kg (super heavyweight),M,Bronze,3
13904,"KOLCHINSKY, Aleksandr",1976,Montreal,Wrestling,Wrestling Gre-R,URS,Men,+ 100kg (super heavyweight),M,Gold,1
13905,"TOMOV, Aleksandr",1976,Montreal,Wrestling,Wrestling Gre-R,BUL,Men,+ 100kg (super heavyweight),M,Silver,2
13906,"LOSCH, Helmut",1976,Montreal,Weightlifting,Weightlifting,GDR,Men,"+ 110kg, total (super heavyweight)",M,Bronze,3
13907,"ALEKSEYEV, Vasily",1976,Montreal,Weightlifting,Weightlifting,URS,Men,"+ 110kg, total (super heavyweight)",M,Gold,1
13908,"BONK, Gerd",1976,Montreal,Weightlifting,Weightlifting,GDR,Men,"+ 110kg, total (super heavyweight)",M,Silver,2
13909,"HILL, Clarence",1976,Montreal,Boxing,Boxing,BER,Men,+ 81kg (heavyweight),M,Bronze,3

In [31]:
# Opposite of  isin() - basically not in 
oo[~oo.Year.isin(years_of_interest)].head(10)

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
0,"FLAMENG, Léon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold,1
1,"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver,2
2,"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze,3
3,"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze,3
4,"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold,1
5,"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100m,M,Silver,2
6,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold,1
7,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver,2
8,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze,3
9,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold,1

## Creating Series and DataFrames

In [32]:
names = ['John', 'Alice', 'Bob', 'Lucy']
scores = [85, 90, 78, 92]

In [33]:
# Convert to dataframe using pd.Series
data = pd.DataFrame({'Name' : pd.Series(names), 'Score' : pd.Series(scores) })
data

    Name  Score
0   John     85
1  Alice     90
2    Bob     78
3   Lucy     92

In [34]:
# Use zip to create dataframe
res = zip(names, scores)
print(list(res))

[('John', 85), ('Alice', 90), ('Bob', 78), ('Lucy', 92)]

In [35]:
# Convert to dataframe using zip
data = pd.DataFrame(list(zip(names, scores)), columns=['Name', 'Score'])
data

    Name  Score
0   John     85
1  Alice     90
2    Bob     78
3   Lucy     92

In [36]:
names = ['John', 'Alice', 'Bob', 'Lucy']
scores = [85, 90, 78, 92, 100]  # Extra score to demonstrate length mismatch
res = zip(names, scores)
print(list(res))    # Last score (100) will be ignored

[('John', 85), ('Alice', 90), ('Bob', 78), ('Lucy', 92)]

In [ ]:
data = pd.DataFrame({'Name': pd.Series(names), 'Score': pd.Series(scores)})
data # In this case both columns will have length equal to the longer list
# NaN will be used for missing values

    Name  Score
0   John     85
1  Alice     90
2    Bob     78
3   Lucy     92
4    NaN    100

## Working  with dates

In [40]:
cities = ['New York', 'Los Angeles', 'Chicago']
start_dates = ['2023-01-15', '20-Feb-2023', '10th March 2023']
end_dates = ['2023-01-20', '25th February, 2023', '2023-03-15']

data = pd.DataFrame({
    'City': pd.Series(cities),
    'Start_Date': pd.Series(pd.Series(start_dates)),
    'End_Date': pd.Series(pd.Series(end_dates))
})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        3 non-null      object
 1   Start_Date  3 non-null      object
 2   End_Date    3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [41]:
pd.to_datetime(data.Start_Date)

ValueError: time data "20-Feb-2023" doesn't match format "%Y-%m-%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
pd.to_datetime(data.Start_Date, format='mixed')

0   2023-01-15
1   2023-02-20
2   2023-03-10
Name: Start_Date, dtype: datetime64[ns]

In [43]:
pd.to_datetime(data.End_Date, format="mixed")

0   2023-01-20
1   2023-02-25
2   2023-03-15
Name: End_Date, dtype: datetime64[ns]

In [45]:
data.Start_Date = pd.to_datetime(data.Start_Date, format='mixed')
data.End_Date = pd.to_datetime(data.End_Date, format='mixed')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        3 non-null      object
 1   Start_Date  3 non-null      datetime64[ns]
 2   End_Date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 204.0+ bytes

In [ ]:
data.Duration = data.End_Date - data.Start_Date # Pandas cant handle this directly
data

          City Start_Date   End_Date
0     New York 2023-01-15 2023-01-20
1  Los Angeles 2023-02-20 2023-02-25
2      Chicago 2023-03-10 2023-03-15

In [52]:
# Correct way to add new column
data = data.assign(Duration=data.End_Date - data.Start_Date)
data

          City Start_Date   End_Date Duration
0     New York 2023-01-15 2023-01-20   5 days
1  Los Angeles 2023-02-20 2023-02-25   5 days
2      Chicago 2023-03-10 2023-03-15   5 days

In [51]:
data.dtypes

City                   object
Start_Date     datetime64[ns]
End_Date       datetime64[ns]
Duration      timedelta64[ns]
dtype: object

## Combining DataFrames

In [62]:
start = pd.DataFrame({'cities': ['New York', 'Los Angeles', 'Chicago'],
                      'start_date': pd.to_datetime(['2023-01-15', '2023-02-20', '2023-03-10'])})
end = pd.DataFrame({'cities': ['Rio', 'Los Angeles', 'Athens'],   
                    'end_date': pd.to_datetime(['2023-01-20', '2023-02-25', '2023-03-15'])})
start, end

(        cities start_date
 0     New York 2023-01-15
 1  Los Angeles 2023-02-20
 2      Chicago 2023-03-10,
         cities   end_date
 0          Rio 2023-01-20
 1  Los Angeles 2023-02-25
 2       Athens 2023-03-15)

In [63]:
pd.concat([start, end], axis=1)

        cities start_date       cities   end_date
0     New York 2023-01-15          Rio 2023-01-20
1  Los Angeles 2023-02-20  Los Angeles 2023-02-25
2      Chicago 2023-03-10       Athens 2023-03-15

In [60]:
# Same column names are merged
pd.concat([start, end], axis=0)

        cities start_date   end_date
0     New York 2023-01-15        NaT
1  Los Angeles 2023-02-20        NaT
2      Chicago 2023-03-10        NaT
0          Rio        NaT 2023-01-20
1       London        NaT 2023-02-25
2       Athens        NaT 2023-03-15

In [68]:
end = pd.DataFrame({'cities': ['Rio', 'Los Angeles', 'Chicago'],   
                    'end_date': pd.to_datetime(['2023-01-20', '2023-02-25', '2023-03-15'])})

In [69]:
pd.concat([start, end], axis=0)

        cities start_date   end_date
0     New York 2023-01-15        NaT
1  Los Angeles 2023-02-20        NaT
2      Chicago 2023-03-10        NaT
0          Rio        NaT 2023-01-20
1  Los Angeles        NaT 2023-02-25
2      Chicago        NaT 2023-03-15

In [ ]:
# Inner merge on common cities
pd.merge(start, end, left_on='cities', right_on='cities', how='inner')

        cities start_date   end_date
0  Los Angeles 2023-02-20 2023-02-25
1      Chicago 2023-03-10 2023-03-15

In [71]:
# Outer merge on common cities
pd.merge(start, end, left_on='cities', right_on='cities', how='outer')

        cities start_date   end_date
0      Chicago 2023-03-10 2023-03-15
1  Los Angeles 2023-02-20 2023-02-25
2     New York 2023-01-15        NaT
3          Rio        NaT 2023-01-20

In [72]:
# Left merge on common cities
pd.merge(start, end, left_on='cities', right_on='cities', how='left')

        cities start_date   end_date
0     New York 2023-01-15        NaT
1  Los Angeles 2023-02-20 2023-02-25
2      Chicago 2023-03-10 2023-03-15

In [73]:
# Right merge on common cities
pd.merge(start, end, left_on='cities', right_on='cities', how='right')

        cities start_date   end_date
0          Rio        NaT 2023-01-20
1  Los Angeles 2023-02-20 2023-02-25
2      Chicago 2023-03-10 2023-03-15

## Combining Datasets

In [78]:
oo2008 = pd.read_csv('../00_Data/olympics_2008.csv')
oo2008.head()

,city,edition,sport,discipline,athlete,country_code,gender,event,event_gender,medal,result
0,Beijing,2008.0,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,bronze,3.0
1,Beijing,2008.0,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,gold,1.0
2,Beijing,2008.0,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,silver,2.0
3,Beijing,2008.0,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,bronze,3.0
4,Beijing,2008.0,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,gold,1.0

In [79]:
oo.head()

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
0,"FLAMENG, Léon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold,1
1,"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver,2
2,"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze,3
3,"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze,3
4,"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold,1

In [86]:
column_names_2008 = ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 
                     'Event', 'Event_Gender', 'Medal', 'Position']


dtype_mapper_2008 = {  
    'City': 'string',
    'Year': 'string',
    'Sport': 'string',
    'Discipline': 'string',
    'Athlete_Name': 'string',
    'NOC': 'category',
    'Gender': 'category',
    'Event': 'string',
    'Event_Gender': 'category',
    'Medal': medal_type,
    'Position': 'string'  
}

oo2008 = pd.read_csv('../00_Data/olympics_2008.csv', dtype=dtype_mapper_2008, names=column_names_2008, header=0, index_col=False)
oo2008.head()

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,NaN,3
1,Beijing,2008,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,NaN,1
2,Beijing,2008,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,NaN,2
3,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,NaN,3
4,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,NaN,1

In [118]:
def preprocess_2008():
    column_names_2008 = ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 
                     'Event', 'Event_Gender', 'Medal', 'Position']


    dtype_mapper_2008 = {  
        'City': 'string',
        'Year': 'string',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete_Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event_Gender': 'category',
        'Medal': 'string',
        'Position': 'string'  
    }

    oo2008 = pd.read_csv('../00_Data/olympics_2008.csv', dtype=dtype_mapper_2008, names=column_names_2008, header=0, index_col=False)
    return oo2008
oo2008 = preprocess_2008()
oo2008.head()

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,bronze,3
1,Beijing,2008,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,gold,1
2,Beijing,2008,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,silver,2
3,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,bronze,3
4,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,gold,1

In [119]:
oo2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          2033 non-null   string
 1   Year          2025 non-null   string
 2   Sport         2048 non-null   string
 3   Discipline    2048 non-null   string
 4   Athlete_Name  2048 non-null   string
 5   NOC           2048 non-null   category
 6   Gender        2048 non-null   category
 7   Event         2048 non-null   string
 8   Event_Gender  2048 non-null   category
 9   Medal         2048 non-null   string
 10  Position      2048 non-null   string
dtypes: category(3), string(8)
memory usage: 137.6 KB

In [120]:
oo2008.City.isna().sum() # Get me number of missing values in City column

np.int64(26)

In [121]:
oo2008.Year.isna().sum() # Get me number of missing values in Year column

np.int64(34)

In [122]:
oo2008[oo2008.City.isna()]

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
17,<NA>,2008,aquatics,Diving,"KLEIN, Sascha",GER,Men,synchronized diving 10m platform,M,silver,2
25,<NA>,2008,aquatics,Diving,"PRYGOROV, Oleksiy",UKR,Men,synchronized diving 3m springboard,M,bronze,3
83,<NA>,2008,aquatics,Swimming,"NORDENSTAM, Sara",NOR,Women,200m breaststroke,W,bronze,3
133,<NA>,2008,aquatics,Swimming,"MALLET, Gregory",FRA,Men,4x100m freestyle relay,M,silver,2
199,<NA>,2008,aquatics,Swimming,"KELLER, Klete",USA,Men,4x200m freestyle relay,M,gold,1
364,<NA>,2008,archery,Archery,"JIANG, Lin",CHN,Men,team (FITA Olympic round - 70m),M,bronze,3
372,<NA>,2008,archery,Archery,"NESPOLI, Mauro",ITA,Men,team (FITA Olympic round - 70m),M,silver,2
531,<NA>,2008,athletics,Athletics,"MOKOENA, Khotso",RSA,Men,long jump,M,silver,2
640,<NA>,2008,baseball,Baseball,"MARTINEZ, Jonder",CUB,Men,baseball,M,silver,2
660,<NA>,2008,basketball,Basketball,"KAMMERICHS, Guillermo Federico",ARG,Men,basketball,M,bronze,3
701,<NA>,2008,basketball,Basketball,"STEPANOVA, Maria",RUS,Women,basketball,W,bronze,3
785,<NA>,2008,canoe / kayak,Canoe / Kayak F,"MENG, Guanliang",CHN,Men,C-2 500m (canoe double),M,gold,1
895,<NA>,2008,cycling,Cycling Track,"MEARES, Anna",AUS,Women,sprint,W,silver,2
938,<NA>,2008,equestrian,Eventing,"ROMEIKE, Hinrich",GER,Men,individual,X,gold,1
1036,<NA>,2008,football,Football,BRENO,BRA,Men,football,M,bronze,3
1183,<NA>,2008,gymnastics,Artistic G.,"SAKAMOTO, Koki",JPN,Men,team competition,M,silver,2
1411,<NA>,2008,hockey,Hockey,"GAO, Lihua",CHN,Women,hockey,W,silver,2
1505,<NA>,2008,rowing,Rowing,"COPPOLA, Steven",USA,Men,eight with coxswain (8+),M,bronze,3
1515,<NA>,2008,rowing,Rowing,"KREEK, Adam",CAN,Men,eight with coxswain (8+),M,gold,1
1690,<NA>,2008,shooting,Shooting,"EMMONS, Katerina",CZE,Women,10m air rifle (40 shots),W,gold,1
1700,<NA>,2008,shooting,Shooting,"SCHUMANN, Ralf",GER,Men,25m rapid fire pistol (60 shots),M,silver,2
1819,<NA>,2008,taekwondo,Taekwondo,"HWANG, Kyung Sun",KOR,Women,57 - 67 kg,W,gold,1
1845,<NA>,2008,tennis,Tennis,"DEMENTIEVA, Elena",RUS,Women,singles,W,gold,1
1853,<NA>,2008,volleyball,Beach volley.,"REGO, Emanuel",BRA,Men,beach volleyball,M,bronze,3
1913,<NA>,<NA>,volleyball,Volleyball,"ALBUQUERQUE, Carolina",BRA,Women,volleyball,W,gold,1
1995,<NA>,2008,wrestling,Wrestling Free.,"YUMOTO, Kenichi",JPN,Men,55 - 60kg,M,bronze,3

In [123]:
oo2008 = oo2008.fillna({'City': 'Beijing', 'Year': 2008})
oo2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          2059 non-null   string
 1   Year          2059 non-null   object
 2   Sport         2048 non-null   string
 3   Discipline    2048 non-null   string
 4   Athlete_Name  2048 non-null   string
 5   NOC           2048 non-null   category
 6   Gender        2048 non-null   category
 7   Event         2048 non-null   string
 8   Event_Gender  2048 non-null   category
 9   Medal         2048 non-null   string
 10  Position      2048 non-null   string
dtypes: category(3), object(1), string(7)
memory usage: 137.6+ KB

In [124]:
oo2008.Year = oo2008.Year.astype('int16')
oo2008.Year

0       2008
1       2008
2       2008
3       2008
4       2008
        ...
2054    2008
2055    2008
2056    2008
2057    2008
2058    2008
Name: Year, Length: 2059, dtype: int16

In [125]:
oo2008.dtypes

City            string[python]
Year                     int16
Sport           string[python]
Discipline      string[python]
Athlete_Name    string[python]
NOC                   category
Gender                category
Event           string[python]
Event_Gender          category
Medal           string[python]
Position        string[python]
dtype: object

In [126]:
oo2008= oo2008.drop(labels=['Position'], axis=1)
oo2008.head()

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,bronze
1,Beijing,2008,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,gold
2,Beijing,2008,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,silver
3,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,bronze
4,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,gold

In [127]:
oo2008.Medal.isna().sum()

np.int64(11)

In [128]:
oo2008[oo2008.Medal.isna()  ]

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
62,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
63,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
64,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
65,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
66,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
67,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
68,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
69,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
70,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
220,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>
221,Beijing,2008,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,<NA>

In [129]:
oo2008.columns

Index(['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal'],
      dtype='object')

In [132]:
oo2008 = oo2008.dropna(subset=['Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal'] , how='all')

oo2008

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,bronze
1,Beijing,2008,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,gold
2,Beijing,2008,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,silver
3,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,bronze
4,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,gold
...,...,...,...,...,...,...,...,...,...,...
2054,Beijing,2008,wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,silver
2055,Beijing,2008,wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,silver
2056,Beijing,2008,wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,silver
2057,Beijing,2008,wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,silver
2058,Beijing,2008,wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,silver

In [133]:
oo2008.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 2058
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          2048 non-null   string
 1   Year          2048 non-null   int16
 2   Sport         2048 non-null   string
 3   Discipline    2048 non-null   string
 4   Athlete_Name  2048 non-null   string
 5   NOC           2048 non-null   category
 6   Gender        2048 non-null   category
 7   Event         2048 non-null   string
 8   Event_Gender  2048 non-null   category
 9   Medal         2048 non-null   string
dtypes: category(3), int16(1), string(6)
memory usage: 124.8 KB

In [140]:
def preprocess_2008():
    column_names_2008 = ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 
                     'Event', 'Event_Gender', 'Medal', 'Position']


    dtype_mapper_2008 = {  
        'City': 'string',
        'Year': 'string',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete_Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event_Gender': 'category',
        'Medal': 'string',
        'Position': 'string'  
    }

    oo2008 = pd.read_csv('../00_Data/olympics_2008.csv', dtype=dtype_mapper_2008, names=column_names_2008, header=0, index_col=False)

    oo2008 = oo2008.dropna(subset=['Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal'] , how='all')
    oo2008 = oo2008.fillna({'City': 'Beijing', 'Year': 2008})
    oo2008.Year = oo2008.Year.astype('int16')   
    return oo2008
oo2008 = preprocess_2008()
oo2008.head()

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,bronze,3
1,Beijing,2008,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,gold,1
2,Beijing,2008,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,silver,2
3,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,bronze,3
4,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,gold,1

## Removing Duplicates

In [ ]:
# Show duplicate rows
oo2008.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2054     True
2055     True
2056     True
2057     True
2058     True
Length: 2048, dtype: bool

In [142]:
oo2008.shape

(2048, 11)

In [ ]:
# Remove duplicate rows
oo2008 = oo2008.drop_duplicates()
oo2008.shape

(2042, 11)

In [146]:
atheltes_duplicated = oo2008.duplicated(subset=['Athlete_Name', 'NOC', 'Gender'])
oo2008.loc[atheltes_duplicated]

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
13,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,synchronized diving 10m platform,M,bronze,3
20,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,synchronized diving 10m platform,W,gold,1
21,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,synchronized diving 10m platform,W,gold,1
26,Beijing,2008,aquatics,Diving,"QIN, Kai",CHN,Men,synchronized diving 3m springboard,M,gold,1
32,Beijing,2008,aquatics,Diving,"GUO, Jingjing",CHN,Women,synchronized diving 3m springboard,W,gold,1
...,...,...,...,...,...,...,...,...,...,...,...
1783,Beijing,2008,table tennis,Table Tennis,"WANG, Hao",CHN,Men,team,M,gold,1
1784,Beijing,2008,table tennis,Table Tennis,"WANG, Liqin",CHN,Men,team,M,gold,1
1791,Beijing,2008,table tennis,Table Tennis,"GUO, Yue",CHN,Women,team,W,gold,1
1792,Beijing,2008,table tennis,Table Tennis,"WANG, Nan",CHN,Women,team,W,gold,1
1793,Beijing,2008,table tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,gold,1

In [ ]:
# This one shows athletes who have won more than one medal
oo2008.loc[atheltes_duplicated].sort_values(by=['Athlete_Name'])

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
489,Beijing,2008,athletics,Athletics,"ABEYLEGESSE, Elvan",TUR,Women,5000m,W,silver,2
239,Beijing,2008,aquatics,Swimming,"ADLINGTON, Rebecca",GBR,Women,800m freestyle,W,gold,1
1595,Beijing,2008,rowing,Rowing,"ANDRUNACHE, Georgeta",ROU,Women,pair without coxswain (2-),W,gold,1
485,Beijing,2008,athletics,Athletics,"BEKELE, Kenenisa",ETH,Men,5000m,M,gold,1
129,Beijing,2008,aquatics,Swimming,"BERNARD, Alain",FRA,Men,4x100m freestyle relay,M,silver,2
...,...,...,...,...,...,...,...,...,...,...,...
1024,Beijing,2008,fencing,Fencing,"ZAGUNIS, Mariel",USA,Women,sabre team,W,bronze,3
381,Beijing,2008,archery,Archery,"ZHANG, Juan Juan",CHN,Women,team (FITA Olympic round - 70m),W,silver,2
1793,Beijing,2008,table tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,gold,1
1179,Beijing,2008,gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,gold,1
1151,Beijing,2008,gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,gold,1

In [ ]:
# Checking for athlete who more than one medal
oo2008[oo2008['Athlete_Name'] == 'ABEYLEGESSE, Elvan']

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
387,Beijing,2008,athletics,Athletics,"ABEYLEGESSE, Elvan",TUR,Women,10000m,W,silver,2
489,Beijing,2008,athletics,Athletics,"ABEYLEGESSE, Elvan",TUR,Women,5000m,W,silver,2

In [156]:
oo2008.loc[oo2008['Athlete_Name'] == 'ABEYLEGESSE, Elvan'] # Same as above

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
387,Beijing,2008,athletics,Athletics,"ABEYLEGESSE, Elvan",TUR,Women,10000m,W,silver,2
489,Beijing,2008,athletics,Athletics,"ABEYLEGESSE, Elvan",TUR,Women,5000m,W,silver,2

## Data Validation

In [157]:
def preprocess_2008():
    column_names_2008 = ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 
                     'Event', 'Event_Gender', 'Medal', 'Position']


    dtype_mapper_2008 = {  
        'City': 'string',
        'Year': 'string',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete_Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event_Gender': 'category',
        'Medal': 'string',
        'Position': 'string'  
    }

    oo2008 = pd.read_csv('../00_Data/olympics_2008.csv', dtype=dtype_mapper_2008, names=column_names_2008, header=0, index_col=False)

    oo2008 = oo2008.dropna(subset=['Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal'] , how='all')
    oo2008 = oo2008.fillna({'City': 'Beijing', 'Year': 2008})
    oo2008.Year = oo2008.Year.astype('int16')   
    oo2008 = oo2008.drop_duplicates()
    return oo2008
oo2008 = preprocess_2008()
oo2008.head()

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,Beijing,2008,aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,bronze,3
1,Beijing,2008,aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,gold,1
2,Beijing,2008,aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,silver,2
3,Beijing,2008,aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,bronze,3
4,Beijing,2008,aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,gold,1

In [168]:
# Check if there are any women athletes in men's events
oo2008[ (oo2008['Gender'] == 'Women') & ((oo2008['Event_Gender'] != 'W') & (oo2008['Event_Gender'] != 'X'))]

Empty DataFrame
Columns: [City, Year, Sport, Discipline, Athlete_Name, NOC, Gender, Event, Event_Gender, Medal, Position]
Index: []

In [169]:
# Check if there are any men athletes in women's events
oo2008[ (oo2008['Gender'] == 'Men') & ((oo2008['Event_Gender'] != 'M') & (oo2008['Event_Gender'] != 'X'))]

Empty DataFrame
Columns: [City, Year, Sport, Discipline, Athlete_Name, NOC, Gender, Event, Event_Gender, Medal, Position]
Index: []

In [170]:
# Check if there are any men athletes in women's events
oo[ (oo['Gender'] == 'Men') & ((oo['Event_Gender'] != 'M') & (oo['Event_Gender'] != 'X'))]

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
24676,"CHEPCHUMBA, Joyce",2000,Sydney,Athletics,Athletics,KEN,Men,marathon,W,Bronze,3

In [171]:
oo.loc[(oo.Year== 2000) & (oo.Event == "marathon")]

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
24675,"TOLA, Tesfaye",2000,Sydney,Athletics,Athletics,ETH,Men,marathon,M,Bronze,3
24676,"CHEPCHUMBA, Joyce",2000,Sydney,Athletics,Athletics,KEN,Men,marathon,W,Bronze,3
24677,"ABERA, Gezahegne",2000,Sydney,Athletics,Athletics,ETH,Men,marathon,M,Gold,1
24678,"WAINAINA, Erick",2000,Sydney,Athletics,Athletics,KEN,Men,marathon,M,Silver,2
24679,"TAKAHASHI, Naoko",2000,Sydney,Athletics,Athletics,JPN,Women,marathon,W,Gold,1
24680,"SIMON, Lidia Elena",2000,Sydney,Athletics,Athletics,ROU,Women,marathon,W,Silver,2

In [172]:
oo.loc[24676,"Gender"]

'Men'

In [173]:
# Correct the gender value
oo.loc[24676,"Gender"] = 'Women'

In [174]:
oo.loc[(oo.Year== 2000) & (oo.Event == "marathon")]

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
24675,"TOLA, Tesfaye",2000,Sydney,Athletics,Athletics,ETH,Men,marathon,M,Bronze,3
24676,"CHEPCHUMBA, Joyce",2000,Sydney,Athletics,Athletics,KEN,Women,marathon,W,Bronze,3
24677,"ABERA, Gezahegne",2000,Sydney,Athletics,Athletics,ETH,Men,marathon,M,Gold,1
24678,"WAINAINA, Erick",2000,Sydney,Athletics,Athletics,KEN,Men,marathon,M,Silver,2
24679,"TAKAHASHI, Naoko",2000,Sydney,Athletics,Athletics,JPN,Women,marathon,W,Gold,1
24680,"SIMON, Lidia Elena",2000,Sydney,Athletics,Athletics,ROU,Women,marathon,W,Silver,2

In [176]:
oo.loc[(oo.Year== 2000) & (oo.Event == "marathon")].sort_values(by=['Gender', 'Medal'])

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
24677,"ABERA, Gezahegne",2000,Sydney,Athletics,Athletics,ETH,Men,marathon,M,Gold,1
24678,"WAINAINA, Erick",2000,Sydney,Athletics,Athletics,KEN,Men,marathon,M,Silver,2
24675,"TOLA, Tesfaye",2000,Sydney,Athletics,Athletics,ETH,Men,marathon,M,Bronze,3
24679,"TAKAHASHI, Naoko",2000,Sydney,Athletics,Athletics,JPN,Women,marathon,W,Gold,1
24680,"SIMON, Lidia Elena",2000,Sydney,Athletics,Athletics,ROU,Women,marathon,W,Silver,2
24676,"CHEPCHUMBA, Joyce",2000,Sydney,Athletics,Athletics,KEN,Women,marathon,W,Bronze,3

In [194]:
def preprocess():
    # Define categorical type
    medal_order = ['Gold', 'Silver', 'Bronze']
    medal_type = pd.CategoricalDtype(categories=medal_order, ordered=True)
    # You can also use this way: 
    # medal_type = pd.api.types.CategoricalDtype(categories=medal_order, ordered=True)
    print(pd.api.types.is_categorical_dtype(medal_type))
    column_names = ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 'Event', 'Event_Gender', 'Medal', 'Position']
    dtype_mapper = {  
        'Year': 'int16',
        'City': 'category',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event Gender': 'category',
        'Medal': medal_type,
        'Position': 'uint8'  # Nullable integer type
    }
    df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, names=column_names, header=0, index_col=False)
    df.loc[24676,"Gender"] = 'Women'
    df = df.drop(labels=['Position'], axis=1)
    df.Sport = df.Sport.str.lower()
    df.Discipline = df.Discipline.str.lower()
    df.Event = df.Event.str.lower()
    df.NOC = df.NOC.str.upper()

    return df


oo = preprocess()
oo.head()

True

C:\Users\MMATHUR\AppData\Local\Temp\ipykernel_7312\4267324965.py:7: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  print(pd.api.types.is_categorical_dtype(medal_type))

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,cycling,cycling track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,cycling,cycling track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,athletics,athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,athletics,athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,athletics,athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [ ]:
oo.Event_Gender.unique().tolist()

['M', 'X', 'W']

In [ ]:
oo2008.Event_Gender.unique().tolist() # Different order from oo dataset

['M', 'W', 'X']

In [181]:
oo.Event_Gender.unique().tolist() == oo2008.Event_Gender.unique().tolist()

False

In [182]:
sorted(oo.Event_Gender.unique().tolist()) == sorted(oo2008.Event_Gender.unique().tolist())

True

In [183]:
assert(sorted(oo.Event_Gender.unique().tolist()) == sorted(oo2008.Event_Gender.unique().tolist()))

In [185]:
assert(sorted(oo.Medal.unique().tolist()) == sorted(oo2008.Medal.unique().tolist()))

AssertionError:

In [ ]:
oo2008.Medal.unique().tolist() # Here data is in small case

['bronze', 'gold', 'silver']

In [187]:
oo2008.Medal = oo2008.Medal.str.capitalize()
oo2008.Medal.unique().tolist()

['Bronze', 'Gold', 'Silver']

In [188]:
assert(sorted(oo.Medal.unique().tolist()) == sorted(oo2008.Medal.unique().tolist()))

In [189]:
oo2008.Medal = pd.Categorical(oo2008.Medal, categories=medal_order, ordered=True)

In [191]:
oo2008.Sport = oo2008.Sport.str.lower()
oo2008.Discipline = oo2008.Discipline.str.lower()
oo2008.Event = oo2008.Event.str.lower()
oo2008.NOC = oo2008.NOC.str.upper()
oo2008.sample(5)

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
106,Beijing,2008,aquatics,swimming,"ZHANG, Lin",CHN,Men,400m freestyle,M,Silver,2
1353,Beijing,2008,hockey,hockey,"WESS, Benjamin",GER,Men,hockey,M,Gold,1
2039,Beijing,2008,wrestling,wrestling gre-r,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze,3
1994,Beijing,2008,wrestling,wrestling free.,"MOHAMMADI, Seyedmorad",IRI,Men,55 - 60kg,M,Bronze,3
1893,Beijing,2008,volleyball,volleyball,"FUCHS, Samuel",BRA,Men,volleyball,M,Silver,2

In [192]:
oo.sample(5)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
25656,2004,Athens,Weightlifting,Weightlifting,"KAMEAIM, Wandee",THA,Women,58kg,W,Bronze
23262,2000,Sydney,Aquatics,Diving,"WILKINSON, Laura",USA,Women,10m platform,W,Gold
8146,1952,Helsinki,Athletics,Athletics,"CSANYI, György",HUN,Men,4x100m relay,M,Bronze
17103,1984,Los Angeles,Canoe / Kayak,Canoe / Kayak F,"FERGUSON, Ian Gordon",NZL,Men,K-4 1000m (kayak four),M,Gold
8061,1952,Helsinki,Aquatics,Swimming,"WIELEMA, Geertje",NED,Women,100m backstroke,W,Silver

In [216]:
def preprocess_2008():
    column_names_2008 = ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 
                     'Event', 'Event_Gender', 'Medal', 'Position']


    dtype_mapper_2008 = {  
        'City': 'string',
        'Year': 'string',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete_Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event_Gender': 'category',
        'Medal': 'string',
        'Position': 'string'  
    }

    df = pd.read_csv('../00_Data/olympics_2008.csv', dtype=dtype_mapper_2008, names=column_names_2008, header=0, index_col=False)

    df = df.dropna(subset=['Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal'] , how='all')
    df = df.fillna({'City': 'Beijing', 'Year': 2008})
    df.Year = df.Year.astype('int16')   
    df = df.drop_duplicates()
    df.Sport = df.Sport.str.lower()
    df.Discipline = df.Discipline.str.lower()
    df.Event = df.Event.str.lower()
    df.NOC = df.NOC.str.upper()
    df.Medal = df.Medal.str.capitalize()
    df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)
    df = df.drop("Position", axis = 1)

    return df
oo2008 = preprocess_2008()
oo2008.head()

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,Beijing,2008,aquatics,diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,Bronze
1,Beijing,2008,aquatics,diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,Gold
2,Beijing,2008,aquatics,diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
3,Beijing,2008,aquatics,diving,"WANG, Xin",CHN,Women,10m platform,W,Bronze
4,Beijing,2008,aquatics,diving,"CHEN, Ruolin",CHN,Women,10m platform,W,Gold

## Updating dtypes

In [196]:
import re

search_string = "split"

[func for func in dir(oo2008["Athlete_Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

['rsplit', 'split']

In [197]:
oo2008["Athlete_Name"].str.split(", ")

0             [GALPERIN, Gleb]
1           [MITCHAM, Matthew]
2                [ZHOU, Luxin]
3                  [WANG, Xin]
4               [CHEN, Ruolin]
                 ...
2048          [ENGLICH, Mirko]
2049    [MIZGAITIS, Mindaugas]
2050         [PATRIKEEV, Yuri]
2051           [LOPEZ, Mijain]
2052          [BAROEV, Khasan]
Name: Athlete_Name, Length: 2042, dtype: object

In [198]:
oo2008["Athlete_Name"].str.split(", ").tolist()

[['GALPERIN', 'Gleb'],
 ['MITCHAM', 'Matthew'],
 ['ZHOU', 'Luxin'],
 ['WANG', 'Xin'],
 ['CHEN', 'Ruolin'],
 ['HEYMANS', 'Emilie'],
 ['QIN', 'Kai'],
 ['HE', 'Chong'],
 ['DESPATIE', 'Alexandre'],
 ['WU', 'Minxia'],
 ['GUO', 'Jingjing'],
 ['PAKHALINA', 'Julia'],
 ['DOBROSKOK', 'Dmitriy'],
 ['GALPERIN', 'Gleb'],
 ['HUO', 'Liang'],
 ['LIN', 'Yue'],
 ['HAUSDING', 'Patrick'],
 ['KLEIN', 'Sascha'],
 ['ESPINOSA', 'Paola'],
 ['ORTIZ', 'Tatiana'],
 ['CHEN', 'Ruolin'],
 ['WANG', 'Xin'],
 ['COLE', 'Briony'],
 ['WU', 'Melissa'],
 ['KVASHA', 'Illya'],
 ['PRYGOROV', 'Oleksiy'],
 ['QIN', 'Kai'],
 ['WANG', 'Feng'],
 ['KUNAKOV', 'Yuriy'],
 ['SAUTIN', 'Dmitry'],
 ['FISCHER', 'Heike'],
 ['KOTZIAN', 'Ditte'],
 ['GUO', 'Jingjing'],
 ['WU', 'Minxia'],
 ['PAKHALINA', 'Julia'],
 ['POZDNYAKOVA', 'Anastasia'],
 ['STOECKEL', 'Hayden'],
 ['VYATCHANIN', 'Arkady'],
 ['PEIRSOL', 'Aaron'],
 ['GREVERS', 'Matt'],
 ['HOELZER', 'Margaret'],
 ['COUGHLIN', 'Natalie'],
 ['COVENTRY', 'Kirsty'],
 ['DUBOSCQ', 'Hugues'],
 ['KITAJIMA', 'Kosuke'],
 ['OEN', 'Alexander Dale'],
 ['JUKIC', 'Mirna'],
 ['JONES', 'Leisel'],
 ['SONI', 'Rebecca'],
 ['LAUTERSTEIN', 'Andrew'],
 ['PHELPS', 'Michael'],
 ['CAVIC', 'Milorad'],
 ['SCHIPPER', 'Jessicah'],
 ['TRICKETT', 'Lisbeth'],
 ['MAGNUSON', 'Christine'],
 ['CIELO FILHO', 'Cesar'],
 ['LEZAK', 'Jason'],
 ['BERNARD', 'Alain'],
 ['SULLIVAN', 'Eamon'],
 ['COUGHLIN', 'Natalie'],
 ['STEFFEN', 'Britta'],
 ['TRICKETT', 'Lisbeth'],
 ['COCHRANE', 'Ryan'],
 ['MELLOULI', 'Oussama'],
 ['HACKETT', 'Grant'],
 ['VYATCHANIN', 'Arkady'],
 ['LOCHTE', 'Ryan'],
 ['PEIRSOL', 'Aaron'],
 ['NAKAMURA', 'Reiko'],
 ['COVENTRY', 'Kirsty'],
 ['HOELZER', 'Margaret'],
 ['DUBOSCQ', 'Hugues'],
 ['KITAJIMA', 'Kosuke'],
 ['RICKARD', 'Brenton'],
 ['NORDENSTAM', 'Sara'],
 ['SONI', 'Rebecca'],
 ['JONES', 'Leisel'],
 ['MATSUDA', 'Takeshi'],
 ['PHELPS', 'Michael'],
 ['CSEH', 'Laszlo'],
 ['SCHIPPER', 'Jessicah'],
 ['LIU', 'Zige'],
 ['JIAO', 'Liuyang'],
 ['VANDERKAAY', 'Peter'],
 ['PHELPS', 'Michael'],
 ['PARK', 'Taehwan'],
 ['PANG', 'Jiaying'],
 ['PELLEGRINI', 'Federica'],
 ['ISAKOVIC', 'Sara'],
 ['LOCHTE', 'Ryan'],
 ['PHELPS', 'Michael'],
 ['CSEH', 'Laszlo'],
 ['COUGHLIN', 'Natalie'],
 ['RICE', 'Stephanie'],
 ['COVENTRY', 'Kirsty'],
 ['JENSEN', 'Larsen'],
 ['PARK', 'Taehwan'],
 ['ZHANG', 'Lin'],
 ['JACKSON', 'Joanne'],
 ['ADLINGTON', 'Rebecca'],
 ['HOFF', 'Katie'],
 ['LOCHTE', 'Ryan'],
 ['PHELPS', 'Michael'],
 ['CSEH', 'Laszlo'],
 ['HOFF', 'Katie'],
 ['RICE', 'Stephanie'],
 ['COVENTRY', 'Kirsty'],
 ['BRODIE', 'Leith'],
 ['CALLUS', 'Ashley'],
 ['LAUTERSTEIN', 'Andrew'],
 ['MURPHY', 'Patrick'],
 ['SULLIVAN', 'Eamon'],
 ['TARGETT', 'Matt'],
 ['ADRIAN', 'Nathan'],
 ['GREVERS', 'Matt'],
 ['JONES', 'Cullen'],
 ['LEZAK', 'Jason'],
 ['PHELPS', 'Michael'],
 ['WEBER-GALE', 'Garrett'],
 ['WILDMAN-TOBRINER', 'Ben'],
 ['BERNARD', 'Alain'],
 ['BOUSQUET', 'Frederick'],
 ['GILOT', 'Fabien'],
 ['LEVEAUX', 'Amaury'],
 ['MALLET', 'Gregory'],
 ['STEIMETZ', 'Boris'],
 ['CAMPBELL', 'Cate'],
 ['MILLS', 'Alice'],
 ['REESE', 'Shayne'],
 ['SCHLANGER', 'Melanie'],
 ['TRICKETT', 'Lisbeth'],
 ['DEKKER', 'Inge'],
 ['HEEMSKERK', 'Femke'],
 ['KROMOWIDJOJO', 'Ranomi'],
 ['SCHREUDER', 'Hinkelien'],
 ['VAN ROOIJEN', 'Manon'],
 ['VELDHUIS', 'Marleen'],
 ['COUGHLIN', 'Natalie'],
 ['JOYCE', 'Kara Lynn'],
 ['NYMEYER', 'Lacey'],
 ['SILVER', 'Emily'],
 ['SMIT', 'Julia'],
 ['TORRES', 'Dara'],
 ['FUJII', 'Takuro'],
 ['KITAJIMA', 'Kosuke'],
 ['MIYASHITA', 'Junichi'],
 ['SATO', 'Hisayoshi'],
 ['CROCKER', 'Ian'],
 ['GANGLOFF', 'Mark'],
 ['GREVERS', 'Matt'],
 ['HANSEN', 'Brendan'],
 ['LEZAK', 'Jason'],
 ['PEIRSOL', 'Aaron'],
 ['PHELPS', 'Michael'],
 ['WEBER-GALE', 'Garrett'],
 ['DELANEY', 'Ashley'],
 ['LAUTERSTEIN', 'Andrew'],
 ['PINE', 'Adam'],
 ['RICKARD', 'Brenton'],
 ['SPRENGER', 'Christian'],
 ['STOECKEL', 'Hayden'],
 ['SULLIVAN', 'Eamon'],
 ['TARGETT', 'Matt'],
 ['PANG', 'Jiaying'],
 ['SUN', 'Ye'],
 ['XU', 'Tianlongzi'],
 ['ZHAO', 'Jing'],
 ['ZHOU', 'Yafei'],
 ['GALVEZ', 'Felicity'],
 ['JONES', 'Leisel'],
 ['REESE', 'Shayne'],
 ['SCHIPPER', 'Jessicah'],
 ['SEEBOHM', 'Emily'],
 ['TRICKETT', 'Lisbeth'],
 ['WHITE', 'Tarnee'],
 ['BREEDEN', 'Elaine'],
 ['COUGHLIN', 'Natalie'],
 ['HOELZER', 'Margaret'],
 ['JENDRICK', 'Megan'],
 ['JOYCE', 'Kara Lynn'],
 ['MAGNUSON', 'Christine'],
 ['SONI', 'Rebecca'],
 ['TORRES', 'Dara'],
 ['BRITS', 'Grant'],
 ['BRODIE', 'Leith'],
 ['FFROST', 'Nick'],
 ['HACKETT', 'Grant'],
 ['MURPHY', 'Patrick'],
 ['PALMER', 'Kirk'],
 ['BERENS', 'Ricky'],
 ['KELLER', 'Klete'],
 ['LOCHTE', 'Ryan'],
 ['PHELPS', 'Michael'],
 ['VANDERKAAY', 'Peter'],
 ['VENDT', 'Erik'],
 ['WALTERS', 'David'],
 ['IZOTOV', 'Danila'],
 ['LAGUNOV', 'Evgeniy'],
 ['LOBINTSEV', 'Nikita'],
 ['POLISHCHUK', 'Mikhail'],
 ['SUKHORUKOV', 'Alexander'],
 ['BURCKLE', 'Caroline'],
 ['COUGHLIN', 'Natalie'],
 ['HOFF', 'Katie'],
 ['MARSHALL', 'Christine'],
 ['SCHMITT', 'Allison'],
 ['SMIT', 'Julia'],
 ['VANDENBERG', 'Kim'],
 ['BAINBRIDGE', 'Angie'],
 ['BARRATT', 'Bronte'],
 ['DAVENPORT', 'Lara'],
 ['GALVEZ', 'Felicity'],
 ['MACKENZIE', 'Linda'],
 ['PALMER', 'Kylie'],
 ['RICE', 'Stephanie'],
 ['SCHLANGER', 'Melanie'],
 ['PANG', 'Jiaying'],
 ['TAN', 'Miao'],
 ['TANG', 'Jingzhi'],
 ['YANG', 'Yu'],
 ['ZHU', 'Qianwei'],
 ['BERNARD', 'Alain'],
 ['CIELO FILHO', 'Cesar'],
 ['LEVEAUX', 'Amaury'],
 ['CAMPBELL', 'Cate'],
 ['STEFFEN', 'Britta'],
 ['TORRES', 'Dara'],
 ['FRIIS', 'Lotte'],
 ['ADLINGTON', 'Rebecca'],
 ['FILIPPI', 'Alessia'],
 ['LURZ', 'Thomas'],
 ['VAN DER WEIJDEN', 'Maarten'],
 ['DAVIES', 'David'],
 ['PATTEN', 'Cassandra'],
 ['ILCHENKO', 'Larisa'],
 ['PAYNE', 'Keri-Anne'],
 ['HARADA', 'Saho'],
 ['SUZUKI', 'Emiko'],
 ['DAVYDOVA', 'Anastasia'],
 ['ERMAKOVA', 'Anastasia'],
 ['FUENTES', 'Andrea'],
 ['MENGUAL', 'Gemma'],
 ['GU', 'Beibei'],
 ['HUANG', 'Xuechen'],
 ['JIANG', 'Tingting'],
 ['JIANG', 'Wenwen'],
 ['LIU', 'Ou'],
 ['LUO', 'Xi'],
 ['SUN', 'Qiuting'],
 ['WANG', 'Na'],
 ['ZHANG', 'Xiaohuan'],
 ['DAVYDOVA', 'Anastasia'],
 ['ERMAKOVA', 'Anastasia'],
 ['GROMOVA', 'Maria'],
 ['ISHCHENKO', 'Natalia'],
 ['KHASYANOVA', 'Elvira'],
 ['KUZHELA', 'Olga'],
 ['OVCHINNIKOVA', 'Elena'],
 ['ROMASHINA', 'Svetlana'],
 ['SHORINA', 'Anna'],
 ['CABELLO', 'Alba Maria'],
 ['CORRAL', 'Raquel'],
 ['FUENTES', 'Andrea'],
 ['HENRIQUEZ', 'Thais'],
 ['LOPEZ', 'Laura'],
 ['MENGUAL', 'Gemma'],
 ['MORON', 'Gisela'],
 ['RODRIGUEZ', 'Irina'],
 ['TIRADOS', 'Paola'],
 ['CIRIC', 'Aleksandar'],
 ['FILIPOVIC', 'Filip'],
 ['GOCIC', 'Zivko'],
 ['PEKOVIC', 'Branko'],
 ['PIJETLOVIC', 'Dusko'],
 ['PRLAINOVIC', 'Andrija'],
 ['RADJEN', 'Nikola'],
 ['SAPIC', 'Aleksandar'],
 ['SAVIC', 'Dejan'],
 ['SEFIK', 'Denis'],
 ['SORO', 'Slobodan'],
 ['UDOVICIC', 'Vanja'],
 ['VUJASINOVIC', 'Vladimir'],
 ['BENEDEK', 'Tibor'],
 ['BIROS', 'Peter'],
 ['GERGELY', 'Istvan'],
 ['HOSNYANSZKY', 'Norbert'],
 ['KASAS', 'Tamas'],
 ['KIS', 'Gabor'],
 ['KISS', 'Gergely'],
 ['MADARAS', 'Norbert'],
 ['MOLNAR', 'Tamas'],
 ['SZECSI', 'Zoltan'],
 ['VARGA', 'Daniel Rudolf'],
 ['VARGA', 'Denes Andor'],
 ['VARGA', 'Tamas'],
 ['AZEVEDO', 'Tony'],
 ['BAILEY', 'Ryan'],
 ['BEAUBIEN', 'Layne'],
 ['BROOKS', 'Brandon'],
 ['HUDNUT', 'Peter'],
 ['HUTTEN', 'Tim'],
 ['KRUMPHOLZ', 'James'],
 ['MERLO', 'Rick'],
 ['MOSES', 'Merrill'],
 ['POWERS', 'Jeffrey'],
 ['SMITH', 'Jesse'],
 ['VARELLAS', 'Peter'],
 ['WRIGHT', 'Adam'],
 ['BEADSWORTH', 'Gemma'],
 ['CUFFE', 'Nikita'],
 ['FRASER', 'Suzie'],
 ['GOFERS', 'Taniele'],
 ['GYNTHER', 'Kate'],
 ['HETZEL', 'Amy'],
 ['KNOX', 'Bronwen'],
 ['KNOX', 'Emma'],
 ['MCCORMACK', 'Alicia'],
 ['RIPPON', 'Melissa'],
 ['RIPPON', 'Rebecca'],
 ['SANTOROMITO', 'Jenna'],
 ['SANTOROMITO', 'Mia'],
 ['CABOUT', 'Mieke'],
 ['DE BRUIJN', 'Danielle'],
 ['DE NOOY', 'Meike'],
 ['GUICHELAAR', 'Rianne'],
 ['HAKHVERDIAN', 'Biurakn'],
 ['KLEIN', 'Noeki'],
 ['KOOT', 'Simone'],
 ['SIJBRING', 'Alette'],
 ['SMIT', 'Yasemin'],
 ['VAN BELKUM', 'Iefke'],
 ['VAN DEN BERG', 'Gillian'],
 ['VAN DEN HAM', 'Marieke'],
 ['VAN DER MEIJDEN', 'Ilse'],
 ['ARMSTRONG', 'Elizabeth'],
 ['CARDENAS', 'Patty'],
 ['CRAIG', 'Kami'],
 ['GOLDA', 'Natalie'],
 ['GREGORKA', 'Alison'],
 ['HAYES', 'Brittany'],
 ['HIPP', 'Jaime'],
 ['PETRI', 'Heather'],
 ['STEFFENS', 'Jessica'],
 ['VAN NORMAN', 'Moriah'],
 ['VILLA', 'Brenda'],
 ['WENGER', 'Lauren'],
 ['WINDES', 'Elsie'],
 ['BADENOV', 'Bair'],
 ['RUBAN', 'Viktor'],
 ['PARK', 'Kyung-Mo'],
 ['YUN', 'Ok-Hee'],
 ['ZHANG', 'Juan Juan'],
 ['PARK', 'Sung-Hyun'],
 ['JIANG', 'Lin'],
 ['LI', 'Wenquan'],
 ['XUE', 'Hai Feng'],
 ['IM', 'Dong-Hyun'],
 ['LEE', 'Chang-Hwan'],
 ['PARK', 'Kyung-Mo'],
 ["DI BUO'", 'Ilario'],
 ['GALIAZZO', 'Marco'],
 ['NESPOLI', 'Mauro'],
 ['ARNOLD', 'Virginie'],
 ['DODEMONT', 'Sophie'],
 ['SCHUH', 'Berengere'],
 ['JOO', 'Hyun-Jung'],
 ['PARK', 'Sung-Hyun'],
 ['YUN', 'Ok-Hee'],
 ['CHEN', 'Ling'],
 ['GUO', 'Dan'],
 ['ZHANG', 'Juan Juan'],
 ['KOGO', 'Micah'],
 ['BEKELE', 'Kenenisa'],
 ['SIHINE', 'Sileshi'],
 ['FLANAGAN', 'Shalane'],
 ['DIBABA', 'Tirunesh'],
 ['ABEYLEGESSE', 'Elvan'],
 ['DIX', 'Walter'],
 ['BOLT', 'Usain'],
 ['THOMPSON', 'Richard'],
 ['FRASER', 'Shelly-ann'],
 ['SIMPSON', 'Sherone'],
 ['STEWART', 'Kerron'],
 ['LOPES-SCHLIEP', 'Priscilla'],
 ['HARPER', 'Dawn'],
 ['MCLELLAN', 'Sally'],
 ['OLIVER', 'David'],
 ['ROBLES', 'Dayron'],
 ['PAYNE', 'David'],
 ['BAALA', 'Mehdi'],
 ['KIPROP', 'Asbel Kipruto'],
 ['WILLIS', 'Nicholas'],
 ['TOBIAS', 'Nataliya'],
 ['LANGAT', 'Nancy jebet'],
 ['LISHCHYNSKA', 'Iryna'],
 ['DIX', 'Walter'],
 ['BOLT', 'Usain'],
 ['CRAWFORD', 'Shawn'],
 ['STEWART', 'Kerron'],
 ['CAMPBELL-BROWN', 'Veronica'],
 ['FELIX', 'Allyson'],
 ['RIGAUDO', 'Elisa'],
 ['KANISKINA', 'Olga'],
 ['PLATZER', 'Kjersti Tysse'],
 ['TALLENT', 'Jared'],
 ['BORCHIN', 'Valeriy'],
 ['PEREZ', 'Jefferson'],
 ['MATEELONG', 'Richard Kipkemboi'],
 ['KIPRUTO', 'Brimin Kiprop'],
 ['MEKHISSI-B.', 'Mahiedine'],
 ['VOLKOVA', 'Ekaterina'],
 ['GALKINA-SAMITOVA', 'Gulnara'],
 ['JEPKORIR', 'Eunice'],
 ['NEVILLE', 'David'],
 ['MERRITT', 'LaShawn'],
 ['WARINER', 'Jeremy'],
 ['RICHARDS', 'Sanya'],
 ['OHURUOGU', 'Christine'],
 ['WILLIAMS', 'Shericka'],
 ['JACKSON', 'Bershawn'],
 ['TAYLOR', 'Angelo'],
 ['CLEMENT', 'Kerron'],
 ['DANVERS', 'Tasha'],
 ['WALKER', 'Melaine'],
 ['TOSTA', 'Sheena'],
 ['ASAHARA', 'Nobuharu'],
 ['SUETSUGU', 'Shingo'],
 ['TAKAHIRA', 'Shinji'],
 ['TSUKAHARA', 'Naoki'],
 ['BOLT', 'Usain'],
 ['CARTER', 'Nesta'],
 ['FRATER', 'Michael'],
 ['POWELL', 'Asafa'],
 ['BLEDMAN', 'Keston'],
 ['BURNS', 'Marc'],
 ['CALLENDER', 'Emmanuel'],
 ['THOMPSON', 'Richard'],
 ['IDOKO', 'Franca'],
 ['ISMAILA', 'Halimat'],
 ['KEMASUODE', 'Gloria'],
 ['OSAYOMI', 'Oludamola'],
 ['CHERMOSHANSKAYA', 'Yuliya'],
 ['FEDORIVA', 'Aleksandra'],
 ['GUSHCHINA', 'Yulia'],
 ['POLYAKOVA', 'Evgeniya'],
 ['BORLEE', 'Olivia'],
 ['GEVAERT', 'Kim'],
 ['MARIEN', 'Hanna'],
 ['OUEDRAOGO', 'Elodie'],
 ['ALEXEEV', 'Denis'],
 ['DYLDIN', 'Maksim'],
 ['FROLOV', 'Vladislav'],
 ['KOKORIN', 'Anton'],
 ['MERRITT', 'LaShawn'],
 ['NEVILLE', 'David'],
 ['TAYLOR', 'Angelo'],
 ['WARINER', 'Jeremy'],
 ['BAIN', 'Andretti'],
 ['BROWN', 'Christopher'],
 ['MATHIEU', 'Michael'],
 ['WILLIAMS', 'Andrae'],
 ['LLOYD', 'Shereefa'],
 ['WHYTE', 'Rosemarie'],
 ['WILLIAMS', 'Novelene'],
 ['WILLIAMS', 'Shericka'],
 ['FELIX', 'Allyson'],
 ['HENDERSON', 'Monique'],
 ['RICHARDS', 'Sanya'],
 ['WINEBERG', 'Mary'],
 ['FIROVA', 'Tatiana'],
 ['GUSHCHINA', 'Yulia'],
 ['KAPACHINSKAYA', 'Anastasia'],
 ['LITVINOVA', 'Liudmila'],
 ['SOI', 'Edwin Cheruiyot'],
 ['BEKELE', 'Kenenisa'],
 ['KIPCHOGE', 'Eliud'],
 ['DEFAR', 'Meseret'],
 ['DIBABA', 'Tirunesh'],
 ['ABEYLEGESSE', 'Elvan'],
 ['NIZHEGORODOV', 'Denis'],
 ['SCHWAZER', 'Alex'],
 ['TALLENT', 'Jared'],
 ['YEGO', 'Alfred Kirwa'],
 ['BUNGEI', 'Wilfred'],
 ['ISMAIL', 'Ismail Ahmed'],
 ['BENHASSI', 'Hasna'],
 ['JELIMO', 'Pamela'],
 ['BUSIENEI', 'Janeth Jepkosgei'],
 ['SUAREZ', 'Leonel'],
 ['CLAY', 'Bryan'],
 ['KRAUCHANKA', 'Andrei'],
 ['ALEKNA', 'Virgilijus'],
 ['KANTER', 'Gerd'],
 ['MALACHOWSKI', 'Piotr'],
 ['ANTONOVA', 'Olena'],
 ['BROWN TRAFTON', 'Stephanie'],
 ['BARRIOS', 'Yarelys'],
 ['TSIKHAN', 'Ivan'],
 ['KOZMUS', 'Primoz'],
 ['DEVYATOVSKIY', 'Vadim'],
 ['ZHANG', 'Wenxiu'],
 ['MIANKOVA', 'Aksana'],
 ['MORENO', 'Yipsi'],
 ['CHERNOVA', 'Tatiana'],
 ['DOBRYNSKA', 'Nataliia'],
 ['FOUNTAIN', 'Hyleas'],
 ['RYBAKOV', 'Yaroslav'],
 ['SILNOV', 'Andrey'],
 ['MASON', 'Germaine'],
 ['CHICHEROVA', 'Anna'],
 ['HELLEBAUT', 'Tia'],
 ['VLASIC', 'Blanka'],
 ['PITKAMAKI', 'Tero'],
 ['THORKILDSEN', 'Andreas'],
 ['KOVALS', 'Ainars'],
 ['OBERGFOLL', 'Christina'],
 ['SPOTAKOVA', 'Barbora'],
 ['ABAKUMOVA', 'Maria'],
 ['CAMEJO', 'Ibrahim'],
 ['SALADINO ARANDA', 'Irving Jahir'],
 ['MOKOENA', 'Khotso'],
 ['OKAGBARE', 'Blessing'],
 ['MAGGI', 'Maurren Higa'],
 ['LEBEDEVA', 'Tatyana'],
 ['KEBEDE', 'Tsegay'],
 ['WANSIRU', 'Samuel Kamau'],
 ['GHARIB', 'Jaouad'],
 ['ZHOU', 'Chunxiu'],
 ['TOMESCU', 'Constantina'],
 ['NDEREBA', 'Catherine'],
 ['YURCHENKO', 'Denys'],
 ['HOOKER', 'Steve'],
 ['LUKYANENKO', 'Evgeny'],
 ['FEOFANOVA', 'Svetlana'],
 ['ISINBAEVA', 'Elena'],
 ['STUCZYNSKI', 'Jennifer'],
 ['MIKHNEVICH', 'Andrei'],
 ['MAJEWSKI', 'Tomasz'],
 ['CANTWELL', 'Christian'],
 ['OSTAPCHUK', 'Nadzeya'],
 ['VILI', 'Valerie'],
 ['MIKHNEVICH', 'Natallia'],
 ['SANDS', 'Leevan'],
 ['EVORA', 'Nelson'],
 ['IDOWU', 'Phillips'],
 ['DEVETZI', 'Hrysopiyi'],
 ['MBANGO ETONE', 'Francoise'],
 ['LEBEDEVA', 'Tatyana'],
 ['HWANG', 'Jiman'],
 ['LEE', 'Jaejin'],
 ['HE', 'Hanbin'],
 ['KIDO', 'Markis'],
 ['SETIAWAN', 'Hendra'],
 ['LEE', 'Yongdae'],
 ['CAI', 'Yun'],
 ['FU', 'Haifeng'],
 ['WIDIANTO', 'Nova'],
 ['WEI', 'Yili'],
 ['ZHANG', 'Yawen'],
 ['YU', 'Yang'],
 ['DU', 'Jing'],
 ['YU', 'Yang'],
 ['LEE', 'Hyojung'],
 ['LEE', 'Hyojung'],
 ['LEE', 'Kyungwon'],
 ['LILIYANA'],
 ['CHEN', 'Jin'],
 ['LIN', 'Dan'],
 ['LEE', 'Chong Wei'],
 ['YULIANTI', 'Maria Kristin'],
 ['ZHANG', 'Ning'],
 ['XIE', 'Xingfang'],
 ['ANDERSON', 'Brett'],
 ['ARRIETA', 'Jake'],
 ['BARDEN', 'Brian'],
 ['BROWN', 'Matt'],
 ['CAHILL', 'Trevor'],
 ['CUMMINGS', 'Jeremy'],
 ['DONALD', 'Jason'],
 ['DUENSING', 'Brian'],
 ['FOWLER', 'Dexter'],
 ['GALL', 'John'],
 ['HESSMAN', 'Mike'],
 ['JEPSEN', 'Kevin'],
 ['KNIGHT', 'Brandon'],
 ['KOPLOVE', 'Michael'],
 ['LAPORTA', 'Matt'],
 ['MARSON', 'Lou'],
 ['NEAL', 'Blaine'],
 ['NIX', 'Jayson'],
 ['SCHIERHOLTZ', 'Nate'],
 ['STEVENS', 'Jeff'],
 ['STRASBURG', 'Stephen'],
 ['TEAGARDEN', 'Taylor'],
 ['TIFFEE', 'Terry'],
 ['WEATHERS', 'Casey'],
 ['BONG', 'Jungkeun'],
 ['CHONG', 'Taehyon'],
 ['HAN', 'Kijoo'],
 ['JANG', 'Wonsam'],
 ['JEONG', 'Keunwoo'],
 ['JIN', 'Kabyong'],
 ['KANG', 'Minho'],
 ['KIM', 'Dongjoo'],
 ['KIM', 'Hyunsoo'],
 ['KIM', 'Kwanghyun'],
 ['KIM', 'Minjae'],
 ['KO', 'Youngmin'],
 ['KWON', 'Hyuk'],
 ['LEE', 'Daeho'],
 ['LEE', 'Jinyoung'],
 ['LEE', 'Jongwook'],
 ['LEE', 'Seungyuop'],
 ['LEE', 'Taekkeun'],
 ['LEE', 'Yongkyu'],
 ['OH', 'Seunghwan'],
 ['PARK', 'Jinman'],
 ['RYU', 'Hyunjin'],
 ['SONG', 'Seungjun'],
 ['YOON', 'Suk Min'],
 ['BELL', 'Alexei'],
 ['CEPEDA', 'Frederich'],
 ['DESPAIGNE', 'Alfredo'],
 ['DUVERGEL', 'Giorbis'],
 ['ENRIQUEZ', 'Michel'],
 ['GONZALEZ', 'Norberto'],
 ['GOURRIEL', 'Yuliesky'],
 ['LA HERA', 'Miguel'],
 ['LAZO', 'Pedro Luis'],
 ['MARTINEZ', 'Jonder'],
 ['MAYETA', 'Alexander'],
 ['MERINO', 'Rolando'],
 ['NAVAS', 'Luis'],
 ['ODELIN SANAME', 'Vicyohandri'],
 ['OLIVERA', 'Hector'],
 ['PALMA', 'Adiel'],
 ['PARET', 'Eduardo'],
 ['PEDROSO', 'Yadier'],
 ['PESTANO', 'Ariel'],
 ['RODRIGUEZ', 'Luis'],
 ['SANCHEZ', 'Elier'],
 ['SANCHEZ', 'Eriel'],
 ['URGELLES', 'Yoandry'],
 ['VERA', 'Norge Luis'],
 ['DELFINO', 'Carlos Francisco'],
 ['GINOBILI', 'Emanuel David'],
 ['GONZALEZ', 'Roman Javier'],
 ['GUTIERREZ LLANAS', 'Juan Pedro'],
 ['GUTIERREZ', 'Leonardo Martin'],
 ['KAMMERICHS', 'Guillermo Federico'],
 ['NOCIONI', 'Andres Marcelo'],
 ['OBERTO', 'Fabricio Raul Jesus'],
 ['PORTA PERNIGOTTI', 'Antonio Alejandro'],
 ['PRIGIONI', 'Pablo'],
 ['QUINTEROS', 'Alfredo Paolo'],
 ['SCOLA', 'Luis Alberto'],
 ['ANTHONY', 'Carmelo'],
 ['BOOZER', 'Carlos'],
 ['BOSH', 'Chris'],
 ['BRYANT', 'Kobe'],
 ['HOWARD', 'Dwight'],
 ['JAMES', 'Lebron'],
 ['KIDD', 'Jason'],
 ['PAUL', 'Chris'],
 ['PRINCE', 'Tayshaun'],
 ['REDD', 'Michael'],
 ['WADE', 'Dwyane'],
 ['WILLIAMS', 'Deron'],
 ['CALDERON', 'Jose Manuel'],
 ['FERNANDEZ', 'Rudy'],
 ['GARBAJOSA', 'Jorge'],
 ['GASOL', 'Marc'],
 ['GASOL', 'Pau'],
 ['JIMENEZ', 'Carlos'],
 ['LOPEZ', 'Raul'],
 ['MUMBRU', 'Alex'],
 ['NAVARRO', 'Juan Carlos'],
 ['REYES', 'Felipe'],
 ['RODRIGUEZ', 'Berni'],
 ['RUBIO', 'Ricky'],
 ['ABROSIMOVA', 'Svetlana'],
 ['HAMMON', 'Rebekka Linn'],
 ['KARPUNINA', 'Marina'],
 ['KORSTIN', 'Ilona'],
 ['KUZINA', 'Marina'],
 ['LISINA', 'Ekaterina'],
 ['OSIPOVA', 'Irina'],
 ['RAKHMATULINA', 'Oxana'],
 ['SHCHEGOLEVA', 'Tatiana'],
 ['SOKOLOVSKAYA', 'Irina'],
 ['STEPANOVA', 'Maria'],
 ['VODOPYANOVA', 'Natalia'],
 ['AUGUSTUS', 'Seimone'],
 ['BIRD', 'Sue'],
 ['CATCHINGS', 'Tamika'],
 ['FOWLES', 'Sylvia'],
 ['LAWSON', 'Kara'],
 ['LESLIE', 'Lisa'],
 ['MILTON-JONES', 'Delisha'],
 ['PARKER', 'Candace'],
 ['PONDEXTER', 'Cappie'],
 ['SMITH', 'Katie'],
 ['TAURASI', 'Diana'],
 ['THOMPSON', 'Tina'],
 ['BATKOVIC', 'Suzy'],
 ['BEVILAQUA', 'Tully'],
 ['COX', 'Rohanee'],
 ['GRIMA', 'Hollie'],
 ['HARROWER', 'Kristi'],
 ['JACKSON', 'Lauren'],
 ['PHILLIPS', 'Erin'],
 ['RANDALL', 'Emma'],
 ['SCREEN', 'Jenni'],
 ['SNELL', 'Belinda'],
 ['SUMMERTON', 'Laura'],
 ['TAYLOR', 'Penny'],
 ['GLAZKOV', 'Vyacheslav'],
 ['PRICE', 'David'],
 ['CAMMARELLE', 'Roberto'],
 ['ZHANG', 'Zhilei'],
 ['BALAKSHIN', 'Georgy'],
 ['PICARDI', 'Vincenzo'],
 ['JONGJOHOR', 'Somjit'],
 ['LAFFITA HERNANDEZ', 'Andris'],
 ['BARNES', 'Paddy'],
 ['HERNANDEZ G', 'Yampier'],
 ['ZOU', 'Shiming'],
 ['PUREVDORJ', 'Serdamba'],
 ['GOJAN', 'Veaceslav'],
 ['JULIE', 'Bruno'],
 ['ENKHBAT', 'Badar-Uugan'],
 ['LEON ALARCON', 'Yankiel'],
 ['IMRANOV', 'Shahin'],
 ['KILIC', 'Yakup'],
 ['LOMACHENKO', 'Vasyl'],
 ['DJELKHIR', 'Khedafi'],
 ['JAVAKHYAN', 'Hrachik'],
 ['UGAS', 'Yordenis'],
 ['TISHCHENKO', 'Alexey'],
 ['SOW', 'Daouda'],
 ['IGLESIAS SOTOLONGO', 'Roniel'],
 ['VASTINE', 'Alexis'],
 ['DIAZ', 'Felix'],
 ['BOONJUMNONG', 'Manus'],
 ['HANATI', 'Silamu'],
 ['KIM', 'Jungjoo'],
 ['SARSEKBAYEV', 'Bakhyt'],
 ['BANTEAUX SUAREZ', 'Carlos'],
 ['KUMAR', 'Vijender'],
 ['SUTHERLAND', 'Darren John'],
 ['DEGALE', 'James'],
 ['CORREA BAYEAUX', 'Emilio'],
 ['JEFFRIES', 'Tony'],
 ['SHYNALIYEV', 'Yerkebulan'],
 ['ZHANG', 'Xiaoping'],
 ['EGAN', 'Kenny'],
 ['ACOSTA DUARTE', 'Osmai'],
 ['WILDER', 'Deontay'],
 ['CHAKHKIEV', 'Rakhim'],
 ['RUSSO', 'Clemente'],
 ['HALL', 'Thomas'],
 ['VAJDA', 'Attila Sandor'],
 ['CAL', 'David'],
 ['CHEBAN', 'Iurii'],
 ['OPALEV', 'Maxim'],
 ['CAL', 'David'],
 ['KISS', 'Tamas'],
 ['KOZMANN', 'Gyorgy'],
 ['BAHDANOVICH', 'Aliaksandr'],
 ['BAHDANOVICH', 'Andrei'],
 ['GILLE', 'Christian'],
 ['WYLENZEK', 'Thomasz'],
 ['GILLE', 'Christian'],
 ['WYLENZEK', 'Thomasz'],
 ['MENG', 'Guanliang'],
 ['YANG', 'Wenjun'],
 ['KOSTOGLOD', 'Alexander'],
 ['ULEGIN', 'Sergey'],
 ['WALLACE', 'Ken'],
 ['BRABANTS', 'Tim'],
 ['LARSEN', 'Eirik Veraas'],
 ['BRABANTS', 'Tim'],
 ['WALLACE', 'Ken'],
 ['VAN KOEVERDEN', 'Adam'],
 ['WAGNER-AUGUSTIN', 'Katrin'],
 ['OSYPENKO-RADOMSKA', 'Inna'],
 ['IDEM', 'Josefa'],
 ['FACCHIN', 'Andrea'],
 ['SCADUTO', 'Antonio Massimiliano'],
 ['HOLLSTEIN', 'Martin'],
 ['IHLE', 'Andreas'],
 ['KNUDSEN', 'Kim Wraae'],
 ['POULSEN', 'Rene Holten'],
 ['MAKHNEU', 'Vadzim'],
 ['PIATRUSHENKA', 'Raman'],
 ['CRAVIOTTO', 'Saul'],
 ['PEREZ', 'Carlos'],
 ['RAUHE', 'Ronald'],
 ['WIESKOTTER', 'Tim'],
 ['DELATTRE', 'Marie'],
 ['VIARD', 'Anne-Laure'],
 ['JANIC', 'Natasa'],
 ['KOVACS', 'Katalin'],
 ['KONIECZNA', 'Aneta'],
 ['MIKOLAJCZYK', 'Beata'],
 ['ALTEPOST', 'Lutz'],
 ['BROCKL', 'Norman'],
 ['ECKBRETT', 'Torsten'],
 ['GOLDSCHMIDT', 'Bjorn'],
 ['ABALMASAU', 'Aliaksei'],
 ['LITVINCHUK', 'Artur'],
 ['MAKHNEU', 'Vadzim'],
 ['PIATRUSHENKA', 'Raman'],
 ['RISZDORFER', 'Michal'],
 ['RISZDORFER', 'Richard'],
 ['TARR', 'Juraj'],
 ['VLCEK', 'Erik'],
 ['DAVIS', 'Hannah'],
 ['FOGARTY', 'Lyndsie'],
 ['MEEK', 'Chantal'],
 ['OLDENHOF', 'Lisa'],
 ['FISCHER', 'Fanny'],
 ['REINHARDT', 'Nicole'],
 ['WAGNER-AUGUSTIN', 'Katrin'],
 ['WASSMUTH', 'Conny'],
 ['JANIC', 'Natasa'],
 ['KOVACS', 'Katalin'],

In [201]:
athelete_names = oo2008["Athlete_Name"].str.split(", ").tolist()

In [199]:
import re

search_string = "upper"

[func for func in dir(oo2008["Athlete_Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

['isupper', 'upper']

In [202]:
[athlete_name for athlete_name in athelete_names]

[['GALPERIN', 'Gleb'],
 ['MITCHAM', 'Matthew'],
 ['ZHOU', 'Luxin'],
 ['WANG', 'Xin'],
 ['CHEN', 'Ruolin'],
 ['HEYMANS', 'Emilie'],
 ['QIN', 'Kai'],
 ['HE', 'Chong'],
 ['DESPATIE', 'Alexandre'],
 ['WU', 'Minxia'],
 ['GUO', 'Jingjing'],
 ['PAKHALINA', 'Julia'],
 ['DOBROSKOK', 'Dmitriy'],
 ['GALPERIN', 'Gleb'],
 ['HUO', 'Liang'],
 ['LIN', 'Yue'],
 ['HAUSDING', 'Patrick'],
 ['KLEIN', 'Sascha'],
 ['ESPINOSA', 'Paola'],
 ['ORTIZ', 'Tatiana'],
 ['CHEN', 'Ruolin'],
 ['WANG', 'Xin'],
 ['COLE', 'Briony'],
 ['WU', 'Melissa'],
 ['KVASHA', 'Illya'],
 ['PRYGOROV', 'Oleksiy'],
 ['QIN', 'Kai'],
 ['WANG', 'Feng'],
 ['KUNAKOV', 'Yuriy'],
 ['SAUTIN', 'Dmitry'],
 ['FISCHER', 'Heike'],
 ['KOTZIAN', 'Ditte'],
 ['GUO', 'Jingjing'],
 ['WU', 'Minxia'],
 ['PAKHALINA', 'Julia'],
 ['POZDNYAKOVA', 'Anastasia'],
 ['STOECKEL', 'Hayden'],
 ['VYATCHANIN', 'Arkady'],
 ['PEIRSOL', 'Aaron'],
 ['GREVERS', 'Matt'],
 ['HOELZER', 'Margaret'],
 ['COUGHLIN', 'Natalie'],
 ['COVENTRY', 'Kirsty'],
 ['DUBOSCQ', 'Hugues'],
 ['KITAJIMA', 'Kosuke'],
 ['OEN', 'Alexander Dale'],
 ['JUKIC', 'Mirna'],
 ['JONES', 'Leisel'],
 ['SONI', 'Rebecca'],
 ['LAUTERSTEIN', 'Andrew'],
 ['PHELPS', 'Michael'],
 ['CAVIC', 'Milorad'],
 ['SCHIPPER', 'Jessicah'],
 ['TRICKETT', 'Lisbeth'],
 ['MAGNUSON', 'Christine'],
 ['CIELO FILHO', 'Cesar'],
 ['LEZAK', 'Jason'],
 ['BERNARD', 'Alain'],
 ['SULLIVAN', 'Eamon'],
 ['COUGHLIN', 'Natalie'],
 ['STEFFEN', 'Britta'],
 ['TRICKETT', 'Lisbeth'],
 ['COCHRANE', 'Ryan'],
 ['MELLOULI', 'Oussama'],
 ['HACKETT', 'Grant'],
 ['VYATCHANIN', 'Arkady'],
 ['LOCHTE', 'Ryan'],
 ['PEIRSOL', 'Aaron'],
 ['NAKAMURA', 'Reiko'],
 ['COVENTRY', 'Kirsty'],
 ['HOELZER', 'Margaret'],
 ['DUBOSCQ', 'Hugues'],
 ['KITAJIMA', 'Kosuke'],
 ['RICKARD', 'Brenton'],
 ['NORDENSTAM', 'Sara'],
 ['SONI', 'Rebecca'],
 ['JONES', 'Leisel'],
 ['MATSUDA', 'Takeshi'],
 ['PHELPS', 'Michael'],
 ['CSEH', 'Laszlo'],
 ['SCHIPPER', 'Jessicah'],
 ['LIU', 'Zige'],
 ['JIAO', 'Liuyang'],
 ['VANDERKAAY', 'Peter'],
 ['PHELPS', 'Michael'],
 ['PARK', 'Taehwan'],
 ['PANG', 'Jiaying'],
 ['PELLEGRINI', 'Federica'],
 ['ISAKOVIC', 'Sara'],
 ['LOCHTE', 'Ryan'],
 ['PHELPS', 'Michael'],
 ['CSEH', 'Laszlo'],
 ['COUGHLIN', 'Natalie'],
 ['RICE', 'Stephanie'],
 ['COVENTRY', 'Kirsty'],
 ['JENSEN', 'Larsen'],
 ['PARK', 'Taehwan'],
 ['ZHANG', 'Lin'],
 ['JACKSON', 'Joanne'],
 ['ADLINGTON', 'Rebecca'],
 ['HOFF', 'Katie'],
 ['LOCHTE', 'Ryan'],
 ['PHELPS', 'Michael'],
 ['CSEH', 'Laszlo'],
 ['HOFF', 'Katie'],
 ['RICE', 'Stephanie'],
 ['COVENTRY', 'Kirsty'],
 ['BRODIE', 'Leith'],
 ['CALLUS', 'Ashley'],
 ['LAUTERSTEIN', 'Andrew'],
 ['MURPHY', 'Patrick'],
 ['SULLIVAN', 'Eamon'],
 ['TARGETT', 'Matt'],
 ['ADRIAN', 'Nathan'],
 ['GREVERS', 'Matt'],
 ['JONES', 'Cullen'],
 ['LEZAK', 'Jason'],
 ['PHELPS', 'Michael'],
 ['WEBER-GALE', 'Garrett'],
 ['WILDMAN-TOBRINER', 'Ben'],
 ['BERNARD', 'Alain'],
 ['BOUSQUET', 'Frederick'],
 ['GILOT', 'Fabien'],
 ['LEVEAUX', 'Amaury'],
 ['MALLET', 'Gregory'],
 ['STEIMETZ', 'Boris'],
 ['CAMPBELL', 'Cate'],
 ['MILLS', 'Alice'],
 ['REESE', 'Shayne'],
 ['SCHLANGER', 'Melanie'],
 ['TRICKETT', 'Lisbeth'],
 ['DEKKER', 'Inge'],
 ['HEEMSKERK', 'Femke'],
 ['KROMOWIDJOJO', 'Ranomi'],
 ['SCHREUDER', 'Hinkelien'],
 ['VAN ROOIJEN', 'Manon'],
 ['VELDHUIS', 'Marleen'],
 ['COUGHLIN', 'Natalie'],
 ['JOYCE', 'Kara Lynn'],
 ['NYMEYER', 'Lacey'],
 ['SILVER', 'Emily'],
 ['SMIT', 'Julia'],
 ['TORRES', 'Dara'],
 ['FUJII', 'Takuro'],
 ['KITAJIMA', 'Kosuke'],
 ['MIYASHITA', 'Junichi'],
 ['SATO', 'Hisayoshi'],
 ['CROCKER', 'Ian'],
 ['GANGLOFF', 'Mark'],
 ['GREVERS', 'Matt'],
 ['HANSEN', 'Brendan'],
 ['LEZAK', 'Jason'],
 ['PEIRSOL', 'Aaron'],
 ['PHELPS', 'Michael'],
 ['WEBER-GALE', 'Garrett'],
 ['DELANEY', 'Ashley'],
 ['LAUTERSTEIN', 'Andrew'],
 ['PINE', 'Adam'],
 ['RICKARD', 'Brenton'],
 ['SPRENGER', 'Christian'],
 ['STOECKEL', 'Hayden'],
 ['SULLIVAN', 'Eamon'],
 ['TARGETT', 'Matt'],
 ['PANG', 'Jiaying'],
 ['SUN', 'Ye'],
 ['XU', 'Tianlongzi'],
 ['ZHAO', 'Jing'],
 ['ZHOU', 'Yafei'],
 ['GALVEZ', 'Felicity'],
 ['JONES', 'Leisel'],
 ['REESE', 'Shayne'],
 ['SCHIPPER', 'Jessicah'],
 ['SEEBOHM', 'Emily'],
 ['TRICKETT', 'Lisbeth'],
 ['WHITE', 'Tarnee'],
 ['BREEDEN', 'Elaine'],
 ['COUGHLIN', 'Natalie'],
 ['HOELZER', 'Margaret'],
 ['JENDRICK', 'Megan'],
 ['JOYCE', 'Kara Lynn'],
 ['MAGNUSON', 'Christine'],
 ['SONI', 'Rebecca'],
 ['TORRES', 'Dara'],
 ['BRITS', 'Grant'],
 ['BRODIE', 'Leith'],
 ['FFROST', 'Nick'],
 ['HACKETT', 'Grant'],
 ['MURPHY', 'Patrick'],
 ['PALMER', 'Kirk'],
 ['BERENS', 'Ricky'],
 ['KELLER', 'Klete'],
 ['LOCHTE', 'Ryan'],
 ['PHELPS', 'Michael'],
 ['VANDERKAAY', 'Peter'],
 ['VENDT', 'Erik'],
 ['WALTERS', 'David'],
 ['IZOTOV', 'Danila'],
 ['LAGUNOV', 'Evgeniy'],
 ['LOBINTSEV', 'Nikita'],
 ['POLISHCHUK', 'Mikhail'],
 ['SUKHORUKOV', 'Alexander'],
 ['BURCKLE', 'Caroline'],
 ['COUGHLIN', 'Natalie'],
 ['HOFF', 'Katie'],
 ['MARSHALL', 'Christine'],
 ['SCHMITT', 'Allison'],
 ['SMIT', 'Julia'],
 ['VANDENBERG', 'Kim'],
 ['BAINBRIDGE', 'Angie'],
 ['BARRATT', 'Bronte'],
 ['DAVENPORT', 'Lara'],
 ['GALVEZ', 'Felicity'],
 ['MACKENZIE', 'Linda'],
 ['PALMER', 'Kylie'],
 ['RICE', 'Stephanie'],
 ['SCHLANGER', 'Melanie'],
 ['PANG', 'Jiaying'],
 ['TAN', 'Miao'],
 ['TANG', 'Jingzhi'],
 ['YANG', 'Yu'],
 ['ZHU', 'Qianwei'],
 ['BERNARD', 'Alain'],
 ['CIELO FILHO', 'Cesar'],
 ['LEVEAUX', 'Amaury'],
 ['CAMPBELL', 'Cate'],
 ['STEFFEN', 'Britta'],
 ['TORRES', 'Dara'],
 ['FRIIS', 'Lotte'],
 ['ADLINGTON', 'Rebecca'],
 ['FILIPPI', 'Alessia'],
 ['LURZ', 'Thomas'],
 ['VAN DER WEIJDEN', 'Maarten'],
 ['DAVIES', 'David'],
 ['PATTEN', 'Cassandra'],
 ['ILCHENKO', 'Larisa'],
 ['PAYNE', 'Keri-Anne'],
 ['HARADA', 'Saho'],
 ['SUZUKI', 'Emiko'],
 ['DAVYDOVA', 'Anastasia'],
 ['ERMAKOVA', 'Anastasia'],
 ['FUENTES', 'Andrea'],
 ['MENGUAL', 'Gemma'],
 ['GU', 'Beibei'],
 ['HUANG', 'Xuechen'],
 ['JIANG', 'Tingting'],
 ['JIANG', 'Wenwen'],
 ['LIU', 'Ou'],
 ['LUO', 'Xi'],
 ['SUN', 'Qiuting'],
 ['WANG', 'Na'],
 ['ZHANG', 'Xiaohuan'],
 ['DAVYDOVA', 'Anastasia'],
 ['ERMAKOVA', 'Anastasia'],
 ['GROMOVA', 'Maria'],
 ['ISHCHENKO', 'Natalia'],
 ['KHASYANOVA', 'Elvira'],
 ['KUZHELA', 'Olga'],
 ['OVCHINNIKOVA', 'Elena'],
 ['ROMASHINA', 'Svetlana'],
 ['SHORINA', 'Anna'],
 ['CABELLO', 'Alba Maria'],
 ['CORRAL', 'Raquel'],
 ['FUENTES', 'Andrea'],
 ['HENRIQUEZ', 'Thais'],
 ['LOPEZ', 'Laura'],
 ['MENGUAL', 'Gemma'],
 ['MORON', 'Gisela'],
 ['RODRIGUEZ', 'Irina'],
 ['TIRADOS', 'Paola'],
 ['CIRIC', 'Aleksandar'],
 ['FILIPOVIC', 'Filip'],
 ['GOCIC', 'Zivko'],
 ['PEKOVIC', 'Branko'],
 ['PIJETLOVIC', 'Dusko'],
 ['PRLAINOVIC', 'Andrija'],
 ['RADJEN', 'Nikola'],
 ['SAPIC', 'Aleksandar'],
 ['SAVIC', 'Dejan'],
 ['SEFIK', 'Denis'],
 ['SORO', 'Slobodan'],
 ['UDOVICIC', 'Vanja'],
 ['VUJASINOVIC', 'Vladimir'],
 ['BENEDEK', 'Tibor'],
 ['BIROS', 'Peter'],
 ['GERGELY', 'Istvan'],
 ['HOSNYANSZKY', 'Norbert'],
 ['KASAS', 'Tamas'],
 ['KIS', 'Gabor'],
 ['KISS', 'Gergely'],
 ['MADARAS', 'Norbert'],
 ['MOLNAR', 'Tamas'],
 ['SZECSI', 'Zoltan'],
 ['VARGA', 'Daniel Rudolf'],
 ['VARGA', 'Denes Andor'],
 ['VARGA', 'Tamas'],
 ['AZEVEDO', 'Tony'],
 ['BAILEY', 'Ryan'],
 ['BEAUBIEN', 'Layne'],
 ['BROOKS', 'Brandon'],
 ['HUDNUT', 'Peter'],
 ['HUTTEN', 'Tim'],
 ['KRUMPHOLZ', 'James'],
 ['MERLO', 'Rick'],
 ['MOSES', 'Merrill'],
 ['POWERS', 'Jeffrey'],
 ['SMITH', 'Jesse'],
 ['VARELLAS', 'Peter'],
 ['WRIGHT', 'Adam'],
 ['BEADSWORTH', 'Gemma'],
 ['CUFFE', 'Nikita'],
 ['FRASER', 'Suzie'],
 ['GOFERS', 'Taniele'],
 ['GYNTHER', 'Kate'],
 ['HETZEL', 'Amy'],
 ['KNOX', 'Bronwen'],
 ['KNOX', 'Emma'],
 ['MCCORMACK', 'Alicia'],
 ['RIPPON', 'Melissa'],
 ['RIPPON', 'Rebecca'],
 ['SANTOROMITO', 'Jenna'],
 ['SANTOROMITO', 'Mia'],
 ['CABOUT', 'Mieke'],
 ['DE BRUIJN', 'Danielle'],
 ['DE NOOY', 'Meike'],
 ['GUICHELAAR', 'Rianne'],
 ['HAKHVERDIAN', 'Biurakn'],
 ['KLEIN', 'Noeki'],
 ['KOOT', 'Simone'],
 ['SIJBRING', 'Alette'],
 ['SMIT', 'Yasemin'],
 ['VAN BELKUM', 'Iefke'],
 ['VAN DEN BERG', 'Gillian'],
 ['VAN DEN HAM', 'Marieke'],
 ['VAN DER MEIJDEN', 'Ilse'],
 ['ARMSTRONG', 'Elizabeth'],
 ['CARDENAS', 'Patty'],
 ['CRAIG', 'Kami'],
 ['GOLDA', 'Natalie'],
 ['GREGORKA', 'Alison'],
 ['HAYES', 'Brittany'],
 ['HIPP', 'Jaime'],
 ['PETRI', 'Heather'],
 ['STEFFENS', 'Jessica'],
 ['VAN NORMAN', 'Moriah'],
 ['VILLA', 'Brenda'],
 ['WENGER', 'Lauren'],
 ['WINDES', 'Elsie'],
 ['BADENOV', 'Bair'],
 ['RUBAN', 'Viktor'],
 ['PARK', 'Kyung-Mo'],
 ['YUN', 'Ok-Hee'],
 ['ZHANG', 'Juan Juan'],
 ['PARK', 'Sung-Hyun'],
 ['JIANG', 'Lin'],
 ['LI', 'Wenquan'],
 ['XUE', 'Hai Feng'],
 ['IM', 'Dong-Hyun'],
 ['LEE', 'Chang-Hwan'],
 ['PARK', 'Kyung-Mo'],
 ["DI BUO'", 'Ilario'],
 ['GALIAZZO', 'Marco'],
 ['NESPOLI', 'Mauro'],
 ['ARNOLD', 'Virginie'],
 ['DODEMONT', 'Sophie'],
 ['SCHUH', 'Berengere'],
 ['JOO', 'Hyun-Jung'],
 ['PARK', 'Sung-Hyun'],
 ['YUN', 'Ok-Hee'],
 ['CHEN', 'Ling'],
 ['GUO', 'Dan'],
 ['ZHANG', 'Juan Juan'],
 ['KOGO', 'Micah'],
 ['BEKELE', 'Kenenisa'],
 ['SIHINE', 'Sileshi'],
 ['FLANAGAN', 'Shalane'],
 ['DIBABA', 'Tirunesh'],
 ['ABEYLEGESSE', 'Elvan'],
 ['DIX', 'Walter'],
 ['BOLT', 'Usain'],
 ['THOMPSON', 'Richard'],
 ['FRASER', 'Shelly-ann'],
 ['SIMPSON', 'Sherone'],
 ['STEWART', 'Kerron'],
 ['LOPES-SCHLIEP', 'Priscilla'],
 ['HARPER', 'Dawn'],
 ['MCLELLAN', 'Sally'],
 ['OLIVER', 'David'],
 ['ROBLES', 'Dayron'],
 ['PAYNE', 'David'],
 ['BAALA', 'Mehdi'],
 ['KIPROP', 'Asbel Kipruto'],
 ['WILLIS', 'Nicholas'],
 ['TOBIAS', 'Nataliya'],
 ['LANGAT', 'Nancy jebet'],
 ['LISHCHYNSKA', 'Iryna'],
 ['DIX', 'Walter'],
 ['BOLT', 'Usain'],
 ['CRAWFORD', 'Shawn'],
 ['STEWART', 'Kerron'],
 ['CAMPBELL-BROWN', 'Veronica'],
 ['FELIX', 'Allyson'],
 ['RIGAUDO', 'Elisa'],
 ['KANISKINA', 'Olga'],
 ['PLATZER', 'Kjersti Tysse'],
 ['TALLENT', 'Jared'],
 ['BORCHIN', 'Valeriy'],
 ['PEREZ', 'Jefferson'],
 ['MATEELONG', 'Richard Kipkemboi'],
 ['KIPRUTO', 'Brimin Kiprop'],
 ['MEKHISSI-B.', 'Mahiedine'],
 ['VOLKOVA', 'Ekaterina'],
 ['GALKINA-SAMITOVA', 'Gulnara'],
 ['JEPKORIR', 'Eunice'],
 ['NEVILLE', 'David'],
 ['MERRITT', 'LaShawn'],
 ['WARINER', 'Jeremy'],
 ['RICHARDS', 'Sanya'],
 ['OHURUOGU', 'Christine'],
 ['WILLIAMS', 'Shericka'],
 ['JACKSON', 'Bershawn'],
 ['TAYLOR', 'Angelo'],
 ['CLEMENT', 'Kerron'],
 ['DANVERS', 'Tasha'],
 ['WALKER', 'Melaine'],
 ['TOSTA', 'Sheena'],
 ['ASAHARA', 'Nobuharu'],
 ['SUETSUGU', 'Shingo'],
 ['TAKAHIRA', 'Shinji'],
 ['TSUKAHARA', 'Naoki'],
 ['BOLT', 'Usain'],
 ['CARTER', 'Nesta'],
 ['FRATER', 'Michael'],
 ['POWELL', 'Asafa'],
 ['BLEDMAN', 'Keston'],
 ['BURNS', 'Marc'],
 ['CALLENDER', 'Emmanuel'],
 ['THOMPSON', 'Richard'],
 ['IDOKO', 'Franca'],
 ['ISMAILA', 'Halimat'],
 ['KEMASUODE', 'Gloria'],
 ['OSAYOMI', 'Oludamola'],
 ['CHERMOSHANSKAYA', 'Yuliya'],
 ['FEDORIVA', 'Aleksandra'],
 ['GUSHCHINA', 'Yulia'],
 ['POLYAKOVA', 'Evgeniya'],
 ['BORLEE', 'Olivia'],
 ['GEVAERT', 'Kim'],
 ['MARIEN', 'Hanna'],
 ['OUEDRAOGO', 'Elodie'],
 ['ALEXEEV', 'Denis'],
 ['DYLDIN', 'Maksim'],
 ['FROLOV', 'Vladislav'],
 ['KOKORIN', 'Anton'],
 ['MERRITT', 'LaShawn'],
 ['NEVILLE', 'David'],
 ['TAYLOR', 'Angelo'],
 ['WARINER', 'Jeremy'],
 ['BAIN', 'Andretti'],
 ['BROWN', 'Christopher'],
 ['MATHIEU', 'Michael'],
 ['WILLIAMS', 'Andrae'],
 ['LLOYD', 'Shereefa'],
 ['WHYTE', 'Rosemarie'],
 ['WILLIAMS', 'Novelene'],
 ['WILLIAMS', 'Shericka'],
 ['FELIX', 'Allyson'],
 ['HENDERSON', 'Monique'],
 ['RICHARDS', 'Sanya'],
 ['WINEBERG', 'Mary'],
 ['FIROVA', 'Tatiana'],
 ['GUSHCHINA', 'Yulia'],
 ['KAPACHINSKAYA', 'Anastasia'],
 ['LITVINOVA', 'Liudmila'],
 ['SOI', 'Edwin Cheruiyot'],
 ['BEKELE', 'Kenenisa'],
 ['KIPCHOGE', 'Eliud'],
 ['DEFAR', 'Meseret'],
 ['DIBABA', 'Tirunesh'],
 ['ABEYLEGESSE', 'Elvan'],
 ['NIZHEGORODOV', 'Denis'],
 ['SCHWAZER', 'Alex'],
 ['TALLENT', 'Jared'],
 ['YEGO', 'Alfred Kirwa'],
 ['BUNGEI', 'Wilfred'],
 ['ISMAIL', 'Ismail Ahmed'],
 ['BENHASSI', 'Hasna'],
 ['JELIMO', 'Pamela'],
 ['BUSIENEI', 'Janeth Jepkosgei'],
 ['SUAREZ', 'Leonel'],
 ['CLAY', 'Bryan'],
 ['KRAUCHANKA', 'Andrei'],
 ['ALEKNA', 'Virgilijus'],
 ['KANTER', 'Gerd'],
 ['MALACHOWSKI', 'Piotr'],
 ['ANTONOVA', 'Olena'],
 ['BROWN TRAFTON', 'Stephanie'],
 ['BARRIOS', 'Yarelys'],
 ['TSIKHAN', 'Ivan'],
 ['KOZMUS', 'Primoz'],
 ['DEVYATOVSKIY', 'Vadim'],
 ['ZHANG', 'Wenxiu'],
 ['MIANKOVA', 'Aksana'],
 ['MORENO', 'Yipsi'],
 ['CHERNOVA', 'Tatiana'],
 ['DOBRYNSKA', 'Nataliia'],
 ['FOUNTAIN', 'Hyleas'],
 ['RYBAKOV', 'Yaroslav'],
 ['SILNOV', 'Andrey'],
 ['MASON', 'Germaine'],
 ['CHICHEROVA', 'Anna'],
 ['HELLEBAUT', 'Tia'],
 ['VLASIC', 'Blanka'],
 ['PITKAMAKI', 'Tero'],
 ['THORKILDSEN', 'Andreas'],
 ['KOVALS', 'Ainars'],
 ['OBERGFOLL', 'Christina'],
 ['SPOTAKOVA', 'Barbora'],
 ['ABAKUMOVA', 'Maria'],
 ['CAMEJO', 'Ibrahim'],
 ['SALADINO ARANDA', 'Irving Jahir'],
 ['MOKOENA', 'Khotso'],
 ['OKAGBARE', 'Blessing'],
 ['MAGGI', 'Maurren Higa'],
 ['LEBEDEVA', 'Tatyana'],
 ['KEBEDE', 'Tsegay'],
 ['WANSIRU', 'Samuel Kamau'],
 ['GHARIB', 'Jaouad'],
 ['ZHOU', 'Chunxiu'],
 ['TOMESCU', 'Constantina'],
 ['NDEREBA', 'Catherine'],
 ['YURCHENKO', 'Denys'],
 ['HOOKER', 'Steve'],
 ['LUKYANENKO', 'Evgeny'],
 ['FEOFANOVA', 'Svetlana'],
 ['ISINBAEVA', 'Elena'],
 ['STUCZYNSKI', 'Jennifer'],
 ['MIKHNEVICH', 'Andrei'],
 ['MAJEWSKI', 'Tomasz'],
 ['CANTWELL', 'Christian'],
 ['OSTAPCHUK', 'Nadzeya'],
 ['VILI', 'Valerie'],
 ['MIKHNEVICH', 'Natallia'],
 ['SANDS', 'Leevan'],
 ['EVORA', 'Nelson'],
 ['IDOWU', 'Phillips'],
 ['DEVETZI', 'Hrysopiyi'],
 ['MBANGO ETONE', 'Francoise'],
 ['LEBEDEVA', 'Tatyana'],
 ['HWANG', 'Jiman'],
 ['LEE', 'Jaejin'],
 ['HE', 'Hanbin'],
 ['KIDO', 'Markis'],
 ['SETIAWAN', 'Hendra'],
 ['LEE', 'Yongdae'],
 ['CAI', 'Yun'],
 ['FU', 'Haifeng'],
 ['WIDIANTO', 'Nova'],
 ['WEI', 'Yili'],
 ['ZHANG', 'Yawen'],
 ['YU', 'Yang'],
 ['DU', 'Jing'],
 ['YU', 'Yang'],
 ['LEE', 'Hyojung'],
 ['LEE', 'Hyojung'],
 ['LEE', 'Kyungwon'],
 ['LILIYANA'],
 ['CHEN', 'Jin'],
 ['LIN', 'Dan'],
 ['LEE', 'Chong Wei'],
 ['YULIANTI', 'Maria Kristin'],
 ['ZHANG', 'Ning'],
 ['XIE', 'Xingfang'],
 ['ANDERSON', 'Brett'],
 ['ARRIETA', 'Jake'],
 ['BARDEN', 'Brian'],
 ['BROWN', 'Matt'],
 ['CAHILL', 'Trevor'],
 ['CUMMINGS', 'Jeremy'],
 ['DONALD', 'Jason'],
 ['DUENSING', 'Brian'],
 ['FOWLER', 'Dexter'],
 ['GALL', 'John'],
 ['HESSMAN', 'Mike'],
 ['JEPSEN', 'Kevin'],
 ['KNIGHT', 'Brandon'],
 ['KOPLOVE', 'Michael'],
 ['LAPORTA', 'Matt'],
 ['MARSON', 'Lou'],
 ['NEAL', 'Blaine'],
 ['NIX', 'Jayson'],
 ['SCHIERHOLTZ', 'Nate'],
 ['STEVENS', 'Jeff'],
 ['STRASBURG', 'Stephen'],
 ['TEAGARDEN', 'Taylor'],
 ['TIFFEE', 'Terry'],
 ['WEATHERS', 'Casey'],
 ['BONG', 'Jungkeun'],
 ['CHONG', 'Taehyon'],
 ['HAN', 'Kijoo'],
 ['JANG', 'Wonsam'],
 ['JEONG', 'Keunwoo'],
 ['JIN', 'Kabyong'],
 ['KANG', 'Minho'],
 ['KIM', 'Dongjoo'],
 ['KIM', 'Hyunsoo'],
 ['KIM', 'Kwanghyun'],
 ['KIM', 'Minjae'],
 ['KO', 'Youngmin'],
 ['KWON', 'Hyuk'],
 ['LEE', 'Daeho'],
 ['LEE', 'Jinyoung'],
 ['LEE', 'Jongwook'],
 ['LEE', 'Seungyuop'],
 ['LEE', 'Taekkeun'],
 ['LEE', 'Yongkyu'],
 ['OH', 'Seunghwan'],
 ['PARK', 'Jinman'],
 ['RYU', 'Hyunjin'],
 ['SONG', 'Seungjun'],
 ['YOON', 'Suk Min'],
 ['BELL', 'Alexei'],
 ['CEPEDA', 'Frederich'],
 ['DESPAIGNE', 'Alfredo'],
 ['DUVERGEL', 'Giorbis'],
 ['ENRIQUEZ', 'Michel'],
 ['GONZALEZ', 'Norberto'],
 ['GOURRIEL', 'Yuliesky'],
 ['LA HERA', 'Miguel'],
 ['LAZO', 'Pedro Luis'],
 ['MARTINEZ', 'Jonder'],
 ['MAYETA', 'Alexander'],
 ['MERINO', 'Rolando'],
 ['NAVAS', 'Luis'],
 ['ODELIN SANAME', 'Vicyohandri'],
 ['OLIVERA', 'Hector'],
 ['PALMA', 'Adiel'],
 ['PARET', 'Eduardo'],
 ['PEDROSO', 'Yadier'],
 ['PESTANO', 'Ariel'],
 ['RODRIGUEZ', 'Luis'],
 ['SANCHEZ', 'Elier'],
 ['SANCHEZ', 'Eriel'],
 ['URGELLES', 'Yoandry'],
 ['VERA', 'Norge Luis'],
 ['DELFINO', 'Carlos Francisco'],
 ['GINOBILI', 'Emanuel David'],
 ['GONZALEZ', 'Roman Javier'],
 ['GUTIERREZ LLANAS', 'Juan Pedro'],
 ['GUTIERREZ', 'Leonardo Martin'],
 ['KAMMERICHS', 'Guillermo Federico'],
 ['NOCIONI', 'Andres Marcelo'],
 ['OBERTO', 'Fabricio Raul Jesus'],
 ['PORTA PERNIGOTTI', 'Antonio Alejandro'],
 ['PRIGIONI', 'Pablo'],
 ['QUINTEROS', 'Alfredo Paolo'],
 ['SCOLA', 'Luis Alberto'],
 ['ANTHONY', 'Carmelo'],
 ['BOOZER', 'Carlos'],
 ['BOSH', 'Chris'],
 ['BRYANT', 'Kobe'],
 ['HOWARD', 'Dwight'],
 ['JAMES', 'Lebron'],
 ['KIDD', 'Jason'],
 ['PAUL', 'Chris'],
 ['PRINCE', 'Tayshaun'],
 ['REDD', 'Michael'],
 ['WADE', 'Dwyane'],
 ['WILLIAMS', 'Deron'],
 ['CALDERON', 'Jose Manuel'],
 ['FERNANDEZ', 'Rudy'],
 ['GARBAJOSA', 'Jorge'],
 ['GASOL', 'Marc'],
 ['GASOL', 'Pau'],
 ['JIMENEZ', 'Carlos'],
 ['LOPEZ', 'Raul'],
 ['MUMBRU', 'Alex'],
 ['NAVARRO', 'Juan Carlos'],
 ['REYES', 'Felipe'],
 ['RODRIGUEZ', 'Berni'],
 ['RUBIO', 'Ricky'],
 ['ABROSIMOVA', 'Svetlana'],
 ['HAMMON', 'Rebekka Linn'],
 ['KARPUNINA', 'Marina'],
 ['KORSTIN', 'Ilona'],
 ['KUZINA', 'Marina'],
 ['LISINA', 'Ekaterina'],
 ['OSIPOVA', 'Irina'],
 ['RAKHMATULINA', 'Oxana'],
 ['SHCHEGOLEVA', 'Tatiana'],
 ['SOKOLOVSKAYA', 'Irina'],
 ['STEPANOVA', 'Maria'],
 ['VODOPYANOVA', 'Natalia'],
 ['AUGUSTUS', 'Seimone'],
 ['BIRD', 'Sue'],
 ['CATCHINGS', 'Tamika'],
 ['FOWLES', 'Sylvia'],
 ['LAWSON', 'Kara'],
 ['LESLIE', 'Lisa'],
 ['MILTON-JONES', 'Delisha'],
 ['PARKER', 'Candace'],
 ['PONDEXTER', 'Cappie'],
 ['SMITH', 'Katie'],
 ['TAURASI', 'Diana'],
 ['THOMPSON', 'Tina'],
 ['BATKOVIC', 'Suzy'],
 ['BEVILAQUA', 'Tully'],
 ['COX', 'Rohanee'],
 ['GRIMA', 'Hollie'],
 ['HARROWER', 'Kristi'],
 ['JACKSON', 'Lauren'],
 ['PHILLIPS', 'Erin'],
 ['RANDALL', 'Emma'],
 ['SCREEN', 'Jenni'],
 ['SNELL', 'Belinda'],
 ['SUMMERTON', 'Laura'],
 ['TAYLOR', 'Penny'],
 ['GLAZKOV', 'Vyacheslav'],
 ['PRICE', 'David'],
 ['CAMMARELLE', 'Roberto'],
 ['ZHANG', 'Zhilei'],
 ['BALAKSHIN', 'Georgy'],
 ['PICARDI', 'Vincenzo'],
 ['JONGJOHOR', 'Somjit'],
 ['LAFFITA HERNANDEZ', 'Andris'],
 ['BARNES', 'Paddy'],
 ['HERNANDEZ G', 'Yampier'],
 ['ZOU', 'Shiming'],
 ['PUREVDORJ', 'Serdamba'],
 ['GOJAN', 'Veaceslav'],
 ['JULIE', 'Bruno'],
 ['ENKHBAT', 'Badar-Uugan'],
 ['LEON ALARCON', 'Yankiel'],
 ['IMRANOV', 'Shahin'],
 ['KILIC', 'Yakup'],
 ['LOMACHENKO', 'Vasyl'],
 ['DJELKHIR', 'Khedafi'],
 ['JAVAKHYAN', 'Hrachik'],
 ['UGAS', 'Yordenis'],
 ['TISHCHENKO', 'Alexey'],
 ['SOW', 'Daouda'],
 ['IGLESIAS SOTOLONGO', 'Roniel'],
 ['VASTINE', 'Alexis'],
 ['DIAZ', 'Felix'],
 ['BOONJUMNONG', 'Manus'],
 ['HANATI', 'Silamu'],
 ['KIM', 'Jungjoo'],
 ['SARSEKBAYEV', 'Bakhyt'],
 ['BANTEAUX SUAREZ', 'Carlos'],
 ['KUMAR', 'Vijender'],
 ['SUTHERLAND', 'Darren John'],
 ['DEGALE', 'James'],
 ['CORREA BAYEAUX', 'Emilio'],
 ['JEFFRIES', 'Tony'],
 ['SHYNALIYEV', 'Yerkebulan'],
 ['ZHANG', 'Xiaoping'],
 ['EGAN', 'Kenny'],
 ['ACOSTA DUARTE', 'Osmai'],
 ['WILDER', 'Deontay'],
 ['CHAKHKIEV', 'Rakhim'],
 ['RUSSO', 'Clemente'],
 ['HALL', 'Thomas'],
 ['VAJDA', 'Attila Sandor'],
 ['CAL', 'David'],
 ['CHEBAN', 'Iurii'],
 ['OPALEV', 'Maxim'],
 ['CAL', 'David'],
 ['KISS', 'Tamas'],
 ['KOZMANN', 'Gyorgy'],
 ['BAHDANOVICH', 'Aliaksandr'],
 ['BAHDANOVICH', 'Andrei'],
 ['GILLE', 'Christian'],
 ['WYLENZEK', 'Thomasz'],
 ['GILLE', 'Christian'],
 ['WYLENZEK', 'Thomasz'],
 ['MENG', 'Guanliang'],
 ['YANG', 'Wenjun'],
 ['KOSTOGLOD', 'Alexander'],
 ['ULEGIN', 'Sergey'],
 ['WALLACE', 'Ken'],
 ['BRABANTS', 'Tim'],
 ['LARSEN', 'Eirik Veraas'],
 ['BRABANTS', 'Tim'],
 ['WALLACE', 'Ken'],
 ['VAN KOEVERDEN', 'Adam'],
 ['WAGNER-AUGUSTIN', 'Katrin'],
 ['OSYPENKO-RADOMSKA', 'Inna'],
 ['IDEM', 'Josefa'],
 ['FACCHIN', 'Andrea'],
 ['SCADUTO', 'Antonio Massimiliano'],
 ['HOLLSTEIN', 'Martin'],
 ['IHLE', 'Andreas'],
 ['KNUDSEN', 'Kim Wraae'],
 ['POULSEN', 'Rene Holten'],
 ['MAKHNEU', 'Vadzim'],
 ['PIATRUSHENKA', 'Raman'],
 ['CRAVIOTTO', 'Saul'],
 ['PEREZ', 'Carlos'],
 ['RAUHE', 'Ronald'],
 ['WIESKOTTER', 'Tim'],
 ['DELATTRE', 'Marie'],
 ['VIARD', 'Anne-Laure'],
 ['JANIC', 'Natasa'],
 ['KOVACS', 'Katalin'],
 ['KONIECZNA', 'Aneta'],
 ['MIKOLAJCZYK', 'Beata'],
 ['ALTEPOST', 'Lutz'],
 ['BROCKL', 'Norman'],
 ['ECKBRETT', 'Torsten'],
 ['GOLDSCHMIDT', 'Bjorn'],
 ['ABALMASAU', 'Aliaksei'],
 ['LITVINCHUK', 'Artur'],
 ['MAKHNEU', 'Vadzim'],
 ['PIATRUSHENKA', 'Raman'],
 ['RISZDORFER', 'Michal'],
 ['RISZDORFER', 'Richard'],
 ['TARR', 'Juraj'],
 ['VLCEK', 'Erik'],
 ['DAVIS', 'Hannah'],
 ['FOGARTY', 'Lyndsie'],
 ['MEEK', 'Chantal'],
 ['OLDENHOF', 'Lisa'],
 ['FISCHER', 'Fanny'],
 ['REINHARDT', 'Nicole'],
 ['WAGNER-AUGUSTIN', 'Katrin'],
 ['WASSMUTH', 'Conny'],
 ['JANIC', 'Natasa'],
 ['KOVACS', 'Katalin'],

In [205]:
[athlete_name[0] for athlete_name in athelete_names] # All last names

['GALPERIN',
 'MITCHAM',
 'ZHOU',
 'WANG',
 'CHEN',
 'HEYMANS',
 'QIN',
 'HE',
 'DESPATIE',
 'WU',
 'GUO',
 'PAKHALINA',
 'DOBROSKOK',
 'GALPERIN',
 'HUO',
 'LIN',
 'HAUSDING',
 'KLEIN',
 'ESPINOSA',
 'ORTIZ',
 'CHEN',
 'WANG',
 'COLE',
 'WU',
 'KVASHA',
 'PRYGOROV',
 'QIN',
 'WANG',
 'KUNAKOV',
 'SAUTIN',
 'FISCHER',
 'KOTZIAN',
 'GUO',
 'WU',
 'PAKHALINA',
 'POZDNYAKOVA',
 'STOECKEL',
 'VYATCHANIN',
 'PEIRSOL',
 'GREVERS',
 'HOELZER',
 'COUGHLIN',
 'COVENTRY',
 'DUBOSCQ',
 'KITAJIMA',
 'OEN',
 'JUKIC',
 'JONES',
 'SONI',
 'LAUTERSTEIN',
 'PHELPS',
 'CAVIC',
 'SCHIPPER',
 'TRICKETT',
 'MAGNUSON',
 'CIELO FILHO',
 'LEZAK',
 'BERNARD',
 'SULLIVAN',
 'COUGHLIN',
 'STEFFEN',
 'TRICKETT',
 'COCHRANE',
 'MELLOULI',
 'HACKETT',
 'VYATCHANIN',
 'LOCHTE',
 'PEIRSOL',
 'NAKAMURA',
 'COVENTRY',
 'HOELZER',
 'DUBOSCQ',
 'KITAJIMA',
 'RICKARD',
 'NORDENSTAM',
 'SONI',
 'JONES',
 'MATSUDA',
 'PHELPS',
 'CSEH',
 'SCHIPPER',
 'LIU',
 'JIAO',
 'VANDERKAAY',
 'PHELPS',
 'PARK',
 'PANG',
 'PELLEGRINI',
 'ISAKOVIC',
 'LOCHTE',
 'PHELPS',
 'CSEH',
 'COUGHLIN',
 'RICE',
 'COVENTRY',
 'JENSEN',
 'PARK',
 'ZHANG',
 'JACKSON',
 'ADLINGTON',
 'HOFF',
 'LOCHTE',
 'PHELPS',
 'CSEH',
 'HOFF',
 'RICE',
 'COVENTRY',
 'BRODIE',
 'CALLUS',
 'LAUTERSTEIN',
 'MURPHY',
 'SULLIVAN',
 'TARGETT',
 'ADRIAN',
 'GREVERS',
 'JONES',
 'LEZAK',
 'PHELPS',
 'WEBER-GALE',
 'WILDMAN-TOBRINER',
 'BERNARD',
 'BOUSQUET',
 'GILOT',
 'LEVEAUX',
 'MALLET',
 'STEIMETZ',
 'CAMPBELL',
 'MILLS',
 'REESE',
 'SCHLANGER',
 'TRICKETT',
 'DEKKER',
 'HEEMSKERK',
 'KROMOWIDJOJO',
 'SCHREUDER',
 'VAN ROOIJEN',
 'VELDHUIS',
 'COUGHLIN',
 'JOYCE',
 'NYMEYER',
 'SILVER',
 'SMIT',
 'TORRES',
 'FUJII',
 'KITAJIMA',
 'MIYASHITA',
 'SATO',
 'CROCKER',
 'GANGLOFF',
 'GREVERS',
 'HANSEN',
 'LEZAK',
 'PEIRSOL',
 'PHELPS',
 'WEBER-GALE',
 'DELANEY',
 'LAUTERSTEIN',
 'PINE',
 'RICKARD',
 'SPRENGER',
 'STOECKEL',
 'SULLIVAN',
 'TARGETT',
 'PANG',
 'SUN',
 'XU',
 'ZHAO',
 'ZHOU',
 'GALVEZ',
 'JONES',
 'REESE',
 'SCHIPPER',
 'SEEBOHM',
 'TRICKETT',
 'WHITE',
 'BREEDEN',
 'COUGHLIN',
 'HOELZER',
 'JENDRICK',
 'JOYCE',
 'MAGNUSON',
 'SONI',
 'TORRES',
 'BRITS',
 'BRODIE',
 'FFROST',
 'HACKETT',
 'MURPHY',
 'PALMER',
 'BERENS',
 'KELLER',
 'LOCHTE',
 'PHELPS',
 'VANDERKAAY',
 'VENDT',
 'WALTERS',
 'IZOTOV',
 'LAGUNOV',
 'LOBINTSEV',
 'POLISHCHUK',
 'SUKHORUKOV',
 'BURCKLE',
 'COUGHLIN',
 'HOFF',
 'MARSHALL',
 'SCHMITT',
 'SMIT',
 'VANDENBERG',
 'BAINBRIDGE',
 'BARRATT',
 'DAVENPORT',
 'GALVEZ',
 'MACKENZIE',
 'PALMER',
 'RICE',
 'SCHLANGER',
 'PANG',
 'TAN',
 'TANG',
 'YANG',
 'ZHU',
 'BERNARD',
 'CIELO FILHO',
 'LEVEAUX',
 'CAMPBELL',
 'STEFFEN',
 'TORRES',
 'FRIIS',
 'ADLINGTON',
 'FILIPPI',
 'LURZ',
 'VAN DER WEIJDEN',
 'DAVIES',
 'PATTEN',
 'ILCHENKO',
 'PAYNE',
 'HARADA',
 'SUZUKI',
 'DAVYDOVA',
 'ERMAKOVA',
 'FUENTES',
 'MENGUAL',
 'GU',
 'HUANG',
 'JIANG',
 'JIANG',
 'LIU',
 'LUO',
 'SUN',
 'WANG',
 'ZHANG',
 'DAVYDOVA',
 'ERMAKOVA',
 'GROMOVA',
 'ISHCHENKO',
 'KHASYANOVA',
 'KUZHELA',
 'OVCHINNIKOVA',
 'ROMASHINA',
 'SHORINA',
 'CABELLO',
 'CORRAL',
 'FUENTES',
 'HENRIQUEZ',
 'LOPEZ',
 'MENGUAL',
 'MORON',
 'RODRIGUEZ',
 'TIRADOS',
 'CIRIC',
 'FILIPOVIC',
 'GOCIC',
 'PEKOVIC',
 'PIJETLOVIC',
 'PRLAINOVIC',
 'RADJEN',
 'SAPIC',
 'SAVIC',
 'SEFIK',
 'SORO',
 'UDOVICIC',
 'VUJASINOVIC',
 'BENEDEK',
 'BIROS',
 'GERGELY',
 'HOSNYANSZKY',
 'KASAS',
 'KIS',
 'KISS',
 'MADARAS',
 'MOLNAR',
 'SZECSI',
 'VARGA',
 'VARGA',
 'VARGA',
 'AZEVEDO',
 'BAILEY',
 'BEAUBIEN',
 'BROOKS',
 'HUDNUT',
 'HUTTEN',
 'KRUMPHOLZ',
 'MERLO',
 'MOSES',
 'POWERS',
 'SMITH',
 'VARELLAS',
 'WRIGHT',
 'BEADSWORTH',
 'CUFFE',
 'FRASER',
 'GOFERS',
 'GYNTHER',
 'HETZEL',
 'KNOX',
 'KNOX',
 'MCCORMACK',
 'RIPPON',
 'RIPPON',
 'SANTOROMITO',
 'SANTOROMITO',
 'CABOUT',
 'DE BRUIJN',
 'DE NOOY',
 'GUICHELAAR',
 'HAKHVERDIAN',
 'KLEIN',
 'KOOT',
 'SIJBRING',
 'SMIT',
 'VAN BELKUM',
 'VAN DEN BERG',
 'VAN DEN HAM',
 'VAN DER MEIJDEN',
 'ARMSTRONG',
 'CARDENAS',
 'CRAIG',
 'GOLDA',
 'GREGORKA',
 'HAYES',
 'HIPP',
 'PETRI',
 'STEFFENS',
 'VAN NORMAN',
 'VILLA',
 'WENGER',
 'WINDES',
 'BADENOV',
 'RUBAN',
 'PARK',
 'YUN',
 'ZHANG',
 'PARK',
 'JIANG',
 'LI',
 'XUE',
 'IM',
 'LEE',
 'PARK',
 "DI BUO'",
 'GALIAZZO',
 'NESPOLI',
 'ARNOLD',
 'DODEMONT',
 'SCHUH',
 'JOO',
 'PARK',
 'YUN',
 'CHEN',
 'GUO',
 'ZHANG',
 'KOGO',
 'BEKELE',
 'SIHINE',
 'FLANAGAN',
 'DIBABA',
 'ABEYLEGESSE',
 'DIX',
 'BOLT',
 'THOMPSON',
 'FRASER',
 'SIMPSON',
 'STEWART',
 'LOPES-SCHLIEP',
 'HARPER',
 'MCLELLAN',
 'OLIVER',
 'ROBLES',
 'PAYNE',
 'BAALA',
 'KIPROP',
 'WILLIS',
 'TOBIAS',
 'LANGAT',
 'LISHCHYNSKA',
 'DIX',
 'BOLT',
 'CRAWFORD',
 'STEWART',
 'CAMPBELL-BROWN',
 'FELIX',
 'RIGAUDO',
 'KANISKINA',
 'PLATZER',
 'TALLENT',
 'BORCHIN',
 'PEREZ',
 'MATEELONG',
 'KIPRUTO',
 'MEKHISSI-B.',
 'VOLKOVA',
 'GALKINA-SAMITOVA',
 'JEPKORIR',
 'NEVILLE',
 'MERRITT',
 'WARINER',
 'RICHARDS',
 'OHURUOGU',
 'WILLIAMS',
 'JACKSON',
 'TAYLOR',
 'CLEMENT',
 'DANVERS',
 'WALKER',
 'TOSTA',
 'ASAHARA',
 'SUETSUGU',
 'TAKAHIRA',
 'TSUKAHARA',
 'BOLT',
 'CARTER',
 'FRATER',
 'POWELL',
 'BLEDMAN',
 'BURNS',
 'CALLENDER',
 'THOMPSON',
 'IDOKO',
 'ISMAILA',
 'KEMASUODE',
 'OSAYOMI',
 'CHERMOSHANSKAYA',
 'FEDORIVA',
 'GUSHCHINA',
 'POLYAKOVA',
 'BORLEE',
 'GEVAERT',
 'MARIEN',
 'OUEDRAOGO',
 'ALEXEEV',
 'DYLDIN',
 'FROLOV',
 'KOKORIN',
 'MERRITT',
 'NEVILLE',
 'TAYLOR',
 'WARINER',
 'BAIN',
 'BROWN',
 'MATHIEU',
 'WILLIAMS',
 'LLOYD',
 'WHYTE',
 'WILLIAMS',
 'WILLIAMS',
 'FELIX',
 'HENDERSON',
 'RICHARDS',
 'WINEBERG',
 'FIROVA',
 'GUSHCHINA',
 'KAPACHINSKAYA',
 'LITVINOVA',
 'SOI',
 'BEKELE',
 'KIPCHOGE',
 'DEFAR',
 'DIBABA',
 'ABEYLEGESSE',
 'NIZHEGORODOV',
 'SCHWAZER',
 'TALLENT',
 'YEGO',
 'BUNGEI',
 'ISMAIL',
 'BENHASSI',
 'JELIMO',
 'BUSIENEI',
 'SUAREZ',
 'CLAY',
 'KRAUCHANKA',
 'ALEKNA',
 'KANTER',
 'MALACHOWSKI',
 'ANTONOVA',
 'BROWN TRAFTON',
 'BARRIOS',
 'TSIKHAN',
 'KOZMUS',
 'DEVYATOVSKIY',
 'ZHANG',
 'MIANKOVA',
 'MORENO',
 'CHERNOVA',
 'DOBRYNSKA',
 'FOUNTAIN',
 'RYBAKOV',
 'SILNOV',
 'MASON',
 'CHICHEROVA',
 'HELLEBAUT',
 'VLASIC',
 'PITKAMAKI',
 'THORKILDSEN',
 'KOVALS',
 'OBERGFOLL',
 'SPOTAKOVA',
 'ABAKUMOVA',
 'CAMEJO',
 'SALADINO ARANDA',
 'MOKOENA',
 'OKAGBARE',
 'MAGGI',
 'LEBEDEVA',
 'KEBEDE',
 'WANSIRU',
 'GHARIB',
 'ZHOU',
 'TOMESCU',
 'NDEREBA',
 'YURCHENKO',
 'HOOKER',
 'LUKYANENKO',
 'FEOFANOVA',
 'ISINBAEVA',
 'STUCZYNSKI',
 'MIKHNEVICH',
 'MAJEWSKI',
 'CANTWELL',
 'OSTAPCHUK',
 'VILI',
 'MIKHNEVICH',
 'SANDS',
 'EVORA',
 'IDOWU',
 'DEVETZI',
 'MBANGO ETONE',
 'LEBEDEVA',
 'HWANG',
 'LEE',
 'HE',
 'KIDO',
 'SETIAWAN',
 'LEE',
 'CAI',
 'FU',
 'WIDIANTO',
 'WEI',
 'ZHANG',
 'YU',
 'DU',
 'YU',
 'LEE',
 'LEE',
 'LEE',
 'LILIYANA',
 'CHEN',
 'LIN',
 'LEE',
 'YULIANTI',
 'ZHANG',
 'XIE',
 'ANDERSON',
 'ARRIETA',
 'BARDEN',
 'BROWN',
 'CAHILL',
 'CUMMINGS',
 'DONALD',
 'DUENSING',
 'FOWLER',
 'GALL',
 'HESSMAN',
 'JEPSEN',
 'KNIGHT',
 'KOPLOVE',
 'LAPORTA',
 'MARSON',
 'NEAL',
 'NIX',
 'SCHIERHOLTZ',
 'STEVENS',
 'STRASBURG',
 'TEAGARDEN',
 'TIFFEE',
 'WEATHERS',
 'BONG',
 'CHONG',
 'HAN',
 'JANG',
 'JEONG',
 'JIN',
 'KANG',
 'KIM',
 'KIM',
 'KIM',
 'KIM',
 'KO',
 'KWON',
 'LEE',
 'LEE',
 'LEE',
 'LEE',
 'LEE',
 'LEE',
 'OH',
 'PARK',
 'RYU',
 'SONG',
 'YOON',
 'BELL',
 'CEPEDA',
 'DESPAIGNE',
 'DUVERGEL',
 'ENRIQUEZ',
 'GONZALEZ',
 'GOURRIEL',
 'LA HERA',
 'LAZO',
 'MARTINEZ',
 'MAYETA',
 'MERINO',
 'NAVAS',
 'ODELIN SANAME',
 'OLIVERA',
 'PALMA',
 'PARET',
 'PEDROSO',
 'PESTANO',
 'RODRIGUEZ',
 'SANCHEZ',
 'SANCHEZ',
 'URGELLES',
 'VERA',
 'DELFINO',
 'GINOBILI',
 'GONZALEZ',
 'GUTIERREZ LLANAS',
 'GUTIERREZ',
 'KAMMERICHS',
 'NOCIONI',
 'OBERTO',
 'PORTA PERNIGOTTI',
 'PRIGIONI',
 'QUINTEROS',
 'SCOLA',
 'ANTHONY',
 'BOOZER',
 'BOSH',
 'BRYANT',
 'HOWARD',
 'JAMES',
 'KIDD',
 'PAUL',
 'PRINCE',
 'REDD',
 'WADE',
 'WILLIAMS',
 'CALDERON',
 'FERNANDEZ',
 'GARBAJOSA',
 'GASOL',
 'GASOL',
 'JIMENEZ',
 'LOPEZ',
 'MUMBRU',
 'NAVARRO',
 'REYES',
 'RODRIGUEZ',
 'RUBIO',
 'ABROSIMOVA',
 'HAMMON',
 'KARPUNINA',
 'KORSTIN',
 'KUZINA',
 'LISINA',
 'OSIPOVA',
 'RAKHMATULINA',
 'SHCHEGOLEVA',
 'SOKOLOVSKAYA',
 'STEPANOVA',
 'VODOPYANOVA',
 'AUGUSTUS',
 'BIRD',
 'CATCHINGS',
 'FOWLES',
 'LAWSON',
 'LESLIE',
 'MILTON-JONES',
 'PARKER',
 'PONDEXTER',
 'SMITH',
 'TAURASI',
 'THOMPSON',
 'BATKOVIC',
 'BEVILAQUA',
 'COX',
 'GRIMA',
 'HARROWER',
 'JACKSON',
 'PHILLIPS',
 'RANDALL',
 'SCREEN',
 'SNELL',
 'SUMMERTON',
 'TAYLOR',
 'GLAZKOV',
 'PRICE',
 'CAMMARELLE',
 'ZHANG',
 'BALAKSHIN',
 'PICARDI',
 'JONGJOHOR',
 'LAFFITA HERNANDEZ',
 'BARNES',
 'HERNANDEZ G',
 'ZOU',
 'PUREVDORJ',
 'GOJAN',
 'JULIE',
 'ENKHBAT',
 'LEON ALARCON',
 'IMRANOV',
 'KILIC',
 'LOMACHENKO',
 'DJELKHIR',
 'JAVAKHYAN',
 'UGAS',
 'TISHCHENKO',
 'SOW',
 'IGLESIAS SOTOLONGO',
 'VASTINE',
 'DIAZ',
 'BOONJUMNONG',
 'HANATI',
 'KIM',
 'SARSEKBAYEV',
 'BANTEAUX SUAREZ',
 'KUMAR',
 'SUTHERLAND',
 'DEGALE',
 'CORREA BAYEAUX',
 'JEFFRIES',
 'SHYNALIYEV',
 'ZHANG',
 'EGAN',
 'ACOSTA DUARTE',
 'WILDER',
 'CHAKHKIEV',
 'RUSSO',
 'HALL',
 'VAJDA',
 'CAL',
 'CHEBAN',
 'OPALEV',
 'CAL',
 'KISS',
 'KOZMANN',
 'BAHDANOVICH',
 'BAHDANOVICH',
 'GILLE',
 'WYLENZEK',
 'GILLE',
 'WYLENZEK',
 'MENG',
 'YANG',
 'KOSTOGLOD',
 'ULEGIN',
 'WALLACE',
 'BRABANTS',
 'LARSEN',
 'BRABANTS',
 'WALLACE',
 'VAN KOEVERDEN',
 'WAGNER-AUGUSTIN',
 'OSYPENKO-RADOMSKA',
 'IDEM',
 'FACCHIN',
 'SCADUTO',
 'HOLLSTEIN',
 'IHLE',
 'KNUDSEN',
 'POULSEN',
 'MAKHNEU',
 'PIATRUSHENKA',
 'CRAVIOTTO',
 'PEREZ',
 'RAUHE',
 'WIESKOTTER',
 'DELATTRE',
 'VIARD',
 'JANIC',
 'KOVACS',
 'KONIECZNA',
 'MIKOLAJCZYK',
 'ALTEPOST',
 'BROCKL',
 'ECKBRETT',
 'GOLDSCHMIDT',
 'ABALMASAU',
 'LITVINCHUK',
 'MAKHNEU',
 'PIATRUSHENKA',
 'RISZDORFER',
 'RISZDORFER',
 'TARR',
 'VLCEK',
 'DAVIS',
 'FOGARTY',
 'MEEK',
 'OLDENHOF',
 'FISCHER',
 'REINHARDT',
 'WAGNER-AUGUSTIN',
 'WASSMUTH',
 'JANIC',
 'KOVACS',
 'KOZAK',
 'SZABO',
 'BELL',
 'MARTIKAN',
 'FLORENCE',
 'KUZNETSOV',
 'LARIONOV',
 'HOCHSCHORNER',
 'HOCHSCHORNER',
 'STEPANEK',
 'VOLF',
 'BOUKPETI',
 'GRIMM',
 'LEFEVRE',
 'OBLINGER PETERS',
 'KALISKA',
 'LAWRENCE',
 'ROBINSON',
 'STROMBERGS',
 'DAY',
 'KINTNER',
 'CHAUSSON',
 'LE CORGUILLE',
 'CANCELLARA',
 'SANCHEZ',
 'GUDERZO',
 'COOKE',
 'JOHANSSON',
 'LEIPHEIMER',
 'CANCELLARA',
 'LARSSON',
 'THURIG',
 'ARMSTRONG',
 'POOLEY',
 'BURKE',
 'WIGGINS',
 'ROULSTON',
 'KALITOVSKA',
 'ROMERO',
 'HOUVENAGHEL',
 'NAGAI',
 'HOY',
 'EDGAR',
 'IGNATYEV',
 'MARKOV',
 'CURUCHET',
 'PEREZ',
 'LLANERAS',
 'TAULER',
 'NEWTON',
 'LLANERAS',
 'KLUGE',
 'OLABERRIA',
 'VOS',
 'GONZALEZ',
 'GUO',
 'PENDLETON',
 'MEARES',
 'BOURGAIN',
 'HOY',
 'KENNY',
 'BEWLEY',
 'ROULSTON',
 'RYAN',
 'SERGENT',
 'CLANCY',
 'MANNING',
 'THOMAS',
 'WIGGINS',
 'JOERGENSEN',
 'MADSEN',
 'MOERKOEV',
 'RASMUSSEN',
 'ENDERS',
 'LEVY',
 'NIMKE',
 'HOY',
 'KENNY',
 'STAFF',
 'BAUGE',
 'SIREAU',
 'TOURNANT',
 'SCHURTER',
 'ABSALON',
 'PERAUD',
 'KALENTYEVA',
 'SPITZ',
 'WLOSZCZOWSKA',
 'KEMMER',
 'VAN GRUNSVEN',
 'WERTH',
 'HELGSTRAND',
 'MINDERHOUD',
 'VAN OLST',
 'ZU-SAYN WITTGENSTEIN',
 'CAPELLMANN',
 'KEMMER',
 'WERTH',
 'SCHELLEKENS-BARTELS',
 'VAN GRUNSVEN',
 'ROMEIKE',
 'COOK',
 'MILES',
 'FOX-PITT',
 'DIBOWSKI',
 'OSTHOLT',
 'ROMEIKE',
 'THOMSEN',
 'FREDERICKS',
 'ROSE',
 'COOK',
 'DICK',
 'HUNT',
 'KING',
 'KLIMKE',
 'FREDERICKS',
 'JOHNSON',
 'JONES',
 'LAMAZE',
 'BENGTSSON',
 'MADDEN',
 'GUERDAT',
 'SCHURTENBERGER',
 'SCHWIZER',
 'SIMPSON',
 'WARD',
 'CONE',
 'LAMAZE',
 'MILLAR',
 'LIEBHERR',
 'KRAUT',
 'MADDEN',
 'HENSELWOOD',
 'ABAJO',
 'TAGLIARIOL',
 'JEANNET',
 'MINCZA-NEBALD',
 'HEIDEMANN',
 'BRANZA',
 'CAROZZO',
 'CONFALONIERI',
 'ROTA',
 'TAGLIARIOL',
 'JEANNET',
 'JEANNET',
 'ROBEIRI',
 'ANDRZEJUK',
 'MOTYKA',
 'WIERCIOCH',
 'ZAWROTNIAK',
 'SANZO',
 'KLEIBRINK',
 'OTA',
 'GRANBASSI',
 'VEZZALI',
 'NAM',
 'GRANBASSI',
 'SALVATORI',
 'TRILLINI',
 'VEZZALI',
 'BOYKO',
 'CHANAEVA',
 'LAMONOVA',
 'NIKICHINA',
 'CROSS',
 'SMART',
 'THOMPSON',
 'COVALIU',
 'ZHONG',
 'LOPEZ',
 'WARD',
 'ZAGUNIS',
 'JACOBSON',
 ...]

In [206]:
[athlete_name[0].isupper() for athlete_name in athelete_names] # All last names

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 ...]

In [ ]:
[athlete_name[0] for athlete_name in athelete_names if athlete_name[0].isupper() == False] # All last names are upper case

[]

In [211]:
len([athlete_name[0].isupper() for athlete_name in athelete_names]) == 2042

True

In [217]:
pd.concat([oo,oo2008], axis=0)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,cycling,cycling track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,cycling,cycling track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,athletics,athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,athletics,athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,athletics,athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
2048,2008,Beijing,wrestling,wrestling gre-r,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
2049,2008,Beijing,wrestling,wrestling gre-r,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
2050,2008,Beijing,wrestling,wrestling gre-r,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
2051,2008,Beijing,wrestling,wrestling gre-r,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
2052,2008,Beijing,wrestling,wrestling gre-r,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [218]:
oo =  pd.concat([oo,oo2008], axis=0)