# Intermediate Pandas
- Category
-

In [1]:
import pandas as pd

filename = '../00_Data/olympics_1896_2004.csv'

column_mapper = {
    "Athlete Name": "Athlete_Name", 
    "Event Gender": "Event_Gender"
}

oo = (pd.read_csv(filename, skiprows=5)
      .rename(columns=column_mapper) # Rename columns
      )
    
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [2]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete_Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event_Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 13.7 MB

In [3]:
oo.Medal = oo.Medal.astype('category')
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender            object
Event             object
Event_Gender      object
Medal           category
Position           int64
dtype: object

In [4]:
oo.Gender = oo.Gender.astype('category')
oo.Event_Gender = oo.Event_Gender.astype('category')
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender          category
Event             object
Event_Gender    category
Medal           category
Position           int64
dtype: object

## Reorder data based on ordered categories
**_pd.categorical_** function can be used for ordering categories.

In [5]:
medal_order = ['Gold', 'Silver', 'Bronze']
pd.Categorical(oo.Medal, categories=medal_order, ordered=True)
## Reorder data based on ordered categories

['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold', ..., 'Gold', 'Gold', 'Silver', 'Silver', 'Silver']
Length: 27174
Categories (3, object): ['Gold' < 'Silver' < 'Bronze']

In [6]:
oo.Medal = pd.Categorical(oo.Medal, categories=medal_order, ordered=True)   
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

Alternatively, you can use **_cat.reorder_categories_**

In [7]:
# Reorder data based on ordered categories
oo.Medal = oo.Medal.cat.reorder_categories(medal_order, ordered=True)   
oo.Medal.cat.categories
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [8]:
oo.sort_values(by=['Year', 'Event', 'Medal'], ascending=[True, True, True]).head(20)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
5,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,1
7,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,2
9,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,1
10,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,2
8,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,3
12,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,M,Gold,1
13,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,10km,M,Silver,2
11,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,10km,M,Bronze,3
14,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold,1
15,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver,2
16,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,12-hour race,M,Gold,1
17,1896,Athens,Cycling,Cycling Track,"KEEPING, Frank",GBR,Men,12-hour race,M,Silver,2
19,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold,1
20,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver,2

# Memory usage by dtypes
Memory usage reduces when using categories. Check the memory usage from the beginning and now, after changing to Categories.

In [9]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete_Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  category
 7   Event         27174 non-null  object
 8   Event_Gender  27174 non-null  category
 9   Medal         27174 non-null  category
 10  Position      27174 non-null  int64
dtypes: category(3), int64(2), object(6)
memory usage: 9.7 MB

In [10]:
oo.City = oo.City.astype('category')
oo.Sport = oo.Sport.astype('string')
oo.Event = oo.Event.astype('string')
oo.Discipline = oo.Discipline.astype('string')
oo.Athlete_Name = oo.Athlete_Name.astype('string')
oo.NOC = oo.NOC.astype('category')  
oo.dtypes

Year                     int64
City                  category
Sport           string[python]
Discipline      string[python]
Athlete_Name    string[python]
NOC                   category
Gender                category
Event           string[python]
Event_Gender          category
Medal                 category
Position                 int64
dtype: object

In [11]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  category
 2   Sport         27174 non-null  string
 3   Discipline    27174 non-null  string
 4   Athlete_Name  27174 non-null  string
 5   NOC           27174 non-null  category
 6   Gender        27174 non-null  category
 7   Event         27174 non-null  string
 8   Event_Gender  27174 non-null  category
 9   Medal         27174 non-null  category
 10  Position      27174 non-null  int64
dtypes: category(5), int64(2), string(4)
memory usage: 7.0 MB

## Defining dtypes for efficiency

In [12]:
# Define categorical type
medal_order = ['Gold', 'Silver', 'Bronze']
medal_type = pd.CategoricalDtype(categories=medal_order, ordered=True)
# You can also use this way: 
# medal_type = pd.api.types.CategoricalDtype(categories=medal_order, ordered=True)
print(pd.api.types.is_categorical_dtype(medal_type))
column_names = ['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal',
 'Position']
medal_type

True

/tmp/ipykernel_20034/641682833.py:6: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  print(pd.api.types.is_categorical_dtype(medal_type))

CategoricalDtype(categories=['Gold', 'Silver', 'Bronze'], ordered=True, categories_dtype=object)

In [13]:
dtype_mapper = {  
    'Year': 'int16',
    'City': 'category',
    'Sport': 'string',
    'Discipline': 'string',
    'Athlete Name': 'string',
    'NOC': 'category',
    'Gender': 'category',
    'Event': 'string',
    'Event Gender': 'category',
    'Medal': medal_type,
    'Position': 'uint8'  # Nullable integer type
}

# This works: here CSV Is loaded and then header is renamed
# oo = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, header=0)
#         .rename(columns=column_mapper) # Rename columns
#     )

# Here both dtype and names parameters are used together
# In this case, you need to use index_col=False to avoid first column being used as index
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, names=column_names, header=0, index_col=False)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [14]:
oo.Year.unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004], dtype=int16)

In [15]:
oo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int16
 1   City          27174 non-null  category
 2   Sport         27174 non-null  string
 3   Discipline    27174 non-null  string
 4   Athlete_Name  27174 non-null  object
 5   NOC           27174 non-null  category
 6   Gender        27174 non-null  category
 7   Event         27174 non-null  string
 8   Event_Gender  27174 non-null  object
 9   Medal         27174 non-null  category
 10  Position      27174 non-null  uint8
dtypes: category(4), int16(1), object(2), string(3), uint8(1)
memory usage: 7.9 MB

In [16]:
oo.Event_Gender.unique()

array(['M', 'X', 'W'], dtype=object)

## Python functions

In [38]:
def preprocess():
    # Define categorical type
    medal_order = ['Gold', 'Silver', 'Bronze']
    medal_type = pd.CategoricalDtype(categories=medal_order, ordered=True)
    # You can also use this way: 
    # medal_type = pd.api.types.CategoricalDtype(categories=medal_order, ordered=True)
    print(pd.api.types.is_categorical_dtype(medal_type))
    column_names = ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 'Event', 'Event_Gender', 'Medal', 'Position']
    dtype_mapper = {  
        'Year': 'int16',
        'City': 'category',
        'Sport': 'string',
        'Discipline': 'string',
        'Athlete Name': 'string',
        'NOC': 'category',
        'Gender': 'category',
        'Event': 'string',
        'Event Gender': 'category',
        'Medal': medal_type,
        'Position': 'uint8'  # Nullable integer type
    }
    oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper, names=column_names, header=0, index_col=False)

    return oo


oo = preprocess()
oo.head()

/tmp/ipykernel_20034/862788873.py:7: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  print(pd.api.types.is_categorical_dtype(medal_type))

True

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

## Working with indexes

In [24]:
# Change index to name
oo = oo.set_index('Athlete_Name')
oo.head()

,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
Athlete_Name,,,,,,,,,,
"FLAMENG, Léon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold,1
"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver,2
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze,3
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze,3
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold,1

In [25]:
oo.sample(5)
oo = oo.reset_index()
oo[oo["Athlete_Name"].str.contains('Nadia') ]

,Athlete_Name,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
14394,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,balance beam,W,Gold,1
14561,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,floor exercises,W,Bronze,3
14863,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,individual all-round,W,Gold,1
15044,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,team competition,W,Silver,2
15075,"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,uneven bars,W,Gold,1
15713,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,balance beam,W,Gold,1
15882,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,floor exercises,W,Gold,1
16233,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,individual all-round,W,Silver,2
16429,"COMANECI, Nadia",1980,Moscow,Gymnastics,Artistic G.,ROU,Women,team competition,W,Silver,2
25572,"DAVY, Nadia",2004,Athens,Athletics,Athletics,JAM,Women,4x400m relay,W,Bronze,3

In [26]:
oo = oo.set_index('Athlete_Name')
oo.head(10)

,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
Athlete_Name,,,,,,,,,,
"FLAMENG, Léon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold,1
"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver,2
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze,3
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze,3
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold,1
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100m,M,Silver,2
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold,1
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver,2
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze,3
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold,1

In [35]:
oo.loc['COMANECI, Nadia'].head(5)

,Year,City,Sport,Discipline,NOC,Gender,Event,Event_Gender,Medal,Position
Athlete_Name,,,,,,,,,,
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,balance beam,W,Gold,1
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,floor exercises,W,Bronze,3
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,individual all-round,W,Gold,1
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,team competition,W,Silver,2
"COMANECI, Nadia",1976,Montreal,Gymnastics,Artistic G.,ROU,Women,uneven bars,W,Gold,1

In [36]:
oo = oo.reset_index()

## Best  practices

In [39]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [40]:
import re
import pandas as pd

search_string = "excel"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

['ExcelFile', 'ExcelWriter', 'read_excel']

### Using Python assert

In [42]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape

(0, 11)

In [46]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)

In [45]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)
print ("All tests passed !")

All tests passed !

### isin()

In [47]:
years_of_interest = [1976, 1984, 2000]
oo[oo.Year.isin(years_of_interest)].head(10)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
13900,1976,Montreal,Wrestling,Wrestling Free.,"SIMON, Ladislau",ROU,Men,+ 100kg (super heavyweight),M,Bronze,3
13901,1976,Montreal,Wrestling,Wrestling Free.,"ANDIEV, Soslan",URS,Men,+ 100kg (super heavyweight),M,Gold,1
13902,1976,Montreal,Wrestling,Wrestling Free.,"BALLA, Jozsef",HUN,Men,+ 100kg (super heavyweight),M,Silver,2
13903,1976,Montreal,Wrestling,Wrestling Gre-R,"CODREANU, Roman",ROU,Men,+ 100kg (super heavyweight),M,Bronze,3
13904,1976,Montreal,Wrestling,Wrestling Gre-R,"KOLCHINSKY, Aleksandr",URS,Men,+ 100kg (super heavyweight),M,Gold,1
13905,1976,Montreal,Wrestling,Wrestling Gre-R,"TOMOV, Aleksandr",BUL,Men,+ 100kg (super heavyweight),M,Silver,2
13906,1976,Montreal,Weightlifting,Weightlifting,"LOSCH, Helmut",GDR,Men,"+ 110kg, total (super heavyweight)",M,Bronze,3
13907,1976,Montreal,Weightlifting,Weightlifting,"ALEKSEYEV, Vasily",URS,Men,"+ 110kg, total (super heavyweight)",M,Gold,1
13908,1976,Montreal,Weightlifting,Weightlifting,"BONK, Gerd",GDR,Men,"+ 110kg, total (super heavyweight)",M,Silver,2
13909,1976,Montreal,Boxing,Boxing,"HILL, Clarence",BER,Men,+ 81kg (heavyweight),M,Bronze,3

In [ ]:
# Opposite of  isin() - basically not in 
oo[~oo.Year.isin(years_of_interest)].head(10)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
5,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,2
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,1
7,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,2
8,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,3
9,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,1

## Creating Series and DataFrames

In [ ]:
names = ['John', 'Alice', 'Bob', 'Lucy']
scores = [85, 90, 78, 92]

[('John', 85), ('Alice', 90), ('Bob', 78), ('Lucy', 92)]

In [ ]:
# Convert to dataframe using pd.Series
data = pd.DataFrame({'Name' : pd.Series(names), 'Score' : pd.Series(scores) })
data

    Name  Score
0   John     85
1  Alice     90
2    Bob     78
3   Lucy     92

In [ ]:
# Use zip to create dataframe
res = zip(names, scores)
print(list(res))

In [ ]:
# Convert to dataframe using zip
data = pd.DataFrame(list(zip(names, scores)), columns=['Name', 'Score'])
data

    Name  Score
0   John     85
1  Alice     90
2    Bob     78
3   Lucy     92